## Importing the libraries:

In [28]:
import pandas as pd
from typing import Union, List, Dict
import numpy as np
import openpyxl
import re
import xlsxwriter

# Import statements for Functions.py
import sys
import os

from src.python.Functions import describe_dataframes

sys.path.append(os.path.abspath(os.path.join('..', '..', 'src', 'python')))
from Functions import *

## Importing the datasets:

In [2]:
# Importing dataset of balance and P&L function:
# Execution might take 10 minutes or more due to the large size of the datasets.
# Cannot make pandas read csv without errors so we use openpyxl to read xlsx files.

balance2025 = pd.read_excel('../../data/raw/firm-balance-statements/JAR_FA_RODIKLIAI_BLNS_2025.xlsx')
balance2024 = pd.read_excel('../../data/raw/firm-balance-statements/JAR_FA_RODIKLIAI_BLNS_2024.xlsx')
balance2023 = pd.read_excel('../../data/raw/firm-balance-statements/JAR_FA_RODIKLIAI_BLNS_2023.xlsx')
balance2022 = pd.read_excel('../../data/raw/firm-balance-statements/JAR_FA_RODIKLIAI_BLNS_2022.xlsx')
balance2021 = pd.read_excel('../../data/raw/firm-balance-statements/JAR_FA_RODIKLIAI_BLNS_2021.xlsx')
balance2020 = pd.read_excel('../../data/raw/firm-balance-statements/JAR_FA_RODIKLIAI_BLNS_2020.xlsx')

pnl2025 = pd.read_excel('../../data/raw/firm-PnL-statements/JAR_FA_RODIKLIAI_PLNA_2025.xlsx')
pnl2024 = pd.read_excel('../../data/raw/firm-PnL-statements/JAR_FA_RODIKLIAI_PLNA_2024.xlsx')
pnl2023 = pd.read_excel('../../data/raw/firm-PnL-statements/JAR_FA_RODIKLIAI_PLNA_2023.xlsx')
pnl2022 = pd.read_excel('../../data/raw/firm-PnL-statements/JAR_FA_RODIKLIAI_PLNA_2022.xlsx')
pnl2021 = pd.read_excel('../../data/raw/firm-PnL-statements/JAR_FA_RODIKLIAI_PLNA_2021.xlsx')
pnl2020 = pd.read_excel('../../data/raw/firm-PnL-statements/JAR_FA_RODIKLIAI_PLNA_2020.xlsx')

### Fallbacks for large dfs:
Run from here when you make changes to the dataframes to avoid memory errors and long file importing!

In [3]:

# Fallbacks for large dfs:
B2025 = balance2025.copy()
B2024 = balance2024.copy()
B2023 = balance2023.copy()
B2022 = balance2022.copy()
B2021 = balance2021.copy()
B2020 = balance2020.copy()

P2025 = pnl2025.copy()
P2024 = pnl2024.copy()
P2023 = pnl2023.copy()
P2022 = pnl2022.copy()
P2021 = pnl2021.copy()
P2020 = pnl2020.copy()

# Saving in lists for functions:
balance_list = [B2025, B2024, B2023, B2022, B2021, B2020]
pnl_list = [P2025, P2024, P2023, P2022, P2021, P2020]

## Cleaning the data with functions:
#### Removing unnecessary columns:

In [31]:
# Unnecessary column removal from list of dataframes:
def remove_mutual_unnecessary_columns(df_list):
    for df in df_list:
        bad_columns = ['ja_pavadinimas', 'obj_pav','form_pav','template_name',  'standard_name', 'form_pavadinimas','line_type_id', 'stat_pavadinimas', 'stat_pav']
        for col in bad_columns:
            if col in df.columns:
                df.drop(columns=col, inplace=True)
    return df_list

# Removing unnecessary rows from list of dataframes:
remove_mutual_unnecessary_columns(balance_list)
remove_mutual_unnecessary_columns(pnl_list)

# Renaming collumns to be the same across dataframes:
def rename_columns(df_list):
    for df in df_list:
        # Rename 'obj_kodas' to 'ja_kodas' if it exists
        if 'obj_kodas' in df.columns:
            df.rename(columns={'obj_kodas': 'ja_kodas'}, inplace=True)

        # Rename other columns if they exist
        column_mapping = {
            'nuosavas_kapitalas': 'NUOSAVAS KAPITALAS',
            'mok_sumos_ir_isipareigojimai': 'MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI',
            'trumpalaikis_turtas': 'TRUMPALAIKIS TURTAS',
            'ilgalaikis_turtas': 'ILGALAIKIS TURTAS',
            'pelnas_pries_apmokestinima': 'PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ',
        'grynasis_pelnas': 'GRYNASIS PELNAS (NUOSTOLIAI)',
        'pardavimo_pajamos': 'PARDAVIMO PAJAMOS'
        }

        for old_col, new_col in column_mapping.items():
            if old_col in df.columns:
                df.rename(columns={old_col: new_col}, inplace=True)

    return df_list

rename_columns(balance_list)
rename_columns(pnl_list)

[         ja_kodas  form_kodas  stat_kodas template_id standard_id  \
 0       110003978         310           0      FS0329      IST024
 1       110003978         310           0      FS0329      IST024
 2       110003978         310           0      FS0329      IST024
 3       110004884         310           0      FS0718      IST209
 4       110004884         310           0      FS0718      IST209
 ...           ...         ...         ...         ...         ...
 423454  307123738         310           0      FS0329      IST024
 423455  307193537         960           0      FS0522      IST024
 423456  307193537         960           0      FS0522      IST024
 423457  307438075         960           0      FS0522      IST118
 423458  307438075         960           0      FS0522      IST118

                                       line_name  reiksme beginning_date  \
 0                             PARDAVIMO PAJAMOS    97545     2024-01-01
 1                  GRYNASIS PELNAS (NUOSTOLIAI)  2397510     2024-01-01
 2       PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ  2755467     2024-01-01
 3         ATASKAITINIŲ METŲ PELNAS (NUOSTOLIAI)   511543     2024-01-01
 4       PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ   511543     2024-01-01
 ...                                         ...      ...            ...
 423454  PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ        0     2025-03-17
 423455             GRYNASIS PELNAS (NUOSTOLIAI)        0     2025-06-06
 423456  PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ        0     2025-06-06
 423457             GRYNASIS PELNAS (NUOSTOLIAI)        0     2025-09-18
 423458  PELNAS (NUOSTOLIAI) PRIEš APMOKESTINIMą        0     2025-09-18

        turning_date    reg_date formavimo_data
 0        2024-12-31  2025-05-28     2025-11-03
 1        2024-12-31  2025-05-28     2025-11-03
 2        2024-12-31  2025-05-28     2025-11-03
 3        2024-12-31  2025-05-28     2025-11-03
 4        2024-12-31  2025-05-28     2025-11-03
 ...             ...         ...            ...
 423454   2025-06-30  2025-10-31     2025-11-03
 423455   2025-07-22  2025-07-22     2025-11-03
 423456   2025-07-22  2025-07-22     2025-11-03
 423457   2025-10-22  2025-10-24     2025-11-03
 423458   2025-10-22  2025-10-24     2025-11-03

 [423459 rows x 11 columns],
          ja_kodas  form_kodas  stat_kodas template_id standard_id  \
 0       110003978         310           0      FS0229      IST024
 1       110003978         310           0      FS0229      IST024
 2       110003978         310           0      FS0229      IST024
 3       110004884         310           0      FS0618      IST209
 4       110004884         310           0      FS0618      IST209
 ...           ...         ...         ...         ...         ...
 406750  306748060         960           7      FS0522      IST118
 406751  306748060         960           7      FS0522      IST118
 406752  306748060         960           7      FS0522      IST118
 406753  306815114         310           0      FS0229      IST024
 406754  306815114         310           0      FS0229      IST024

                                       line_name  reiksme beginning_date  \
 0       PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ   -17980     2023-01-01
 1                  GRYNASIS PELNAS (NUOSTOLIAI)   -20409     2023-01-01
 2                             PARDAVIMO PAJAMOS    74824     2023-01-01
 3                             PARDAVIMO PAJAMOS  9701655     2023-01-01
 4       PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ  2151794     2023-01-01
 ...                                         ...      ...            ...
 406750                        PARDAVIMO PAJAMOS       72     2024-05-08
 406751             GRYNASIS PELNAS (NUOSTOLIAI)     -198     2024-05-08
 406752  PELNAS (NUOSTOLIAI) PRIEš APMOKESTINIMą     -198     2024-05-08
 406753  PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ    -2071     2024-06-03
 406754             GRYNASIS PELNAS (NUOSTOLIAI)    -2071     2024-06-03

        turning_date    reg_date formavimo_data
 0        2023-12-31  2024-05-23     2025-04-21
 1        2023-12-31  2024-05-23     2025-04-21
 2        2023-12-31  2024-05-23     2025-04-21
 3        2023-12-31  2024-06-03     2025-04-21
 4        2023-12-31  2024-06-03     2025-04-21
 ...             ...         ...            ...
 406750   2024-12-11  2024-12-19     2025-04-21
 406751   2024-12-11  2024-12-19     2025-04-21
 406752   2024-12-11  2024-12-19     2025-04-21
 406753   2024-06-30  2024-11-29     2025-04-21
 406754   2024-06-30  2024-11-29     2025-04-21

 [406755 rows x 11 columns],
          ja_kodas  form_kodas  stat_statusas template_id standard_id  \
 0       110003978         310              2      FS0229      IST024
 1       110004884         310              0      FS0618      IST209
 2       110005648         310              0      FS0229      IST024
 3       110006892         310              0      FS0229      IST024
 4       110008377         310              0      FS0229      IST024
 ...           ...         ...            ...         ...         ...
 141939  306370963         310              0      FS0422      IST118
 141940  306372583         960             10      FS0422      IST118
 141941  306384240         310              0      FS0229      IST024
 141942  306453633         960              0      FS0422      IST118
 141943  306600492         960              0      FS0422      IST118

        laikotarpis_nuo laikotarpis_iki    reg_date  \
 0           2022-01-01      2022-12-31  2023-05-24
 1           2022-01-01      2022-12-31  2023-06-30
 2           2022-01-01      2022-12-31  2023-05-15
 3           2022-01-01      2022-12-31  2023-06-16
 4           2022-01-01      2022-12-31  2023-05-23
 ...                ...             ...         ...
 141939      2023-08-01      2023-11-30  2023-12-20
 141940      2023-08-02      2023-11-06  2023-11-09
 141941      2023-08-21      2023-09-14  2023-09-21
 141942      2023-09-26      2023-12-31  2023-12-31
 141943      2023-10-24      2023-12-28  2023-12-28

         PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ  GRYNASIS PELNAS (NUOSTOLIAI)  \
 0                                       15420.0                       13104.0
 1                                     -824210.0                           NaN
 2                                       14067.0                       11944.0
 3                                       14149.0                       13441.0
 4                                      159064.0                      135027.0
 ...                                         ...                           ...
 141939                                  12142.0                       12142.0
 141940                                      0.0                           0.0
 141941                                      0.0                           0.0
 141942                                      0.0                           0.0
 141943                                      0.0                           0.0

         PARDAVIMO PAJAMOS formavimo_data
 0                 65196.0     2024-10-03
 1               8359577.0     2024-10-03
 2               1010501.0     2024-10-03
 3                167873.0     2024-10-03
 4                537185.0     2024-10-03
 ...                   ...            ...
 141939            59125.0     2024-10-03
 141940                NaN     2024-10-03
 141941                NaN     2024-10-03
 141942                0.0     2024-10-03
 141943                NaN     2024-10-03

 [141944 rows x 12 columns],
          ja_kodas  form_kodas  stat_statusas template_id standard_id  \
 0       301011561         310              0      FS0129      IST024
 1       303641352         310              0      FS0129      IST024
 2       301684796         310              0      FS0128      IST023
 3       302502531         310              0      FS0129      IST024
 4       304590697         310              0      FS0129      IST024
 ...           ...         ...            ...         ...         ...
 123685  305189141         310              0      FS0129      IST024
 123686  304922605         960              0      FS0322      IST118
 123687  125935881         310              0      FS0129      IST024
 123688  300629576         310              0      FS0129      IST024
 123689  301507365         310              0      FS0129      IST024

        laikotarpis_nuo laikotarpis_iki    reg_date  \
 0           2021-01-01      2021-12-31  2022-01-02
 1           2021-01-01      2021-12-31  2022-05-27
 2           2021-01-01      2021-12-31  2022-06-29
 3           2021-01-01      2021-12-31  2022-05-30
 4           2021-01-01      2021-12-31  2022-04-21
 ...                ...             ...         ...
 123685      2019-06-14      2019-12-31  2022-11-17
 123686      2021-01-01      2021-12-31  2022-02-25
 123687      2018-01-01      2018-12-31  2022-12-12
 123688      2021-01-01      2021-12-31  2022-06-23
 123689      2021-01-01      2021-12-31  2022-05-10

         PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ  GRYNASIS PELNAS (NUOSTOLIAI)  \
 0                                         -91.0                         -91.0
 1                                           0.0                           0.0
 2                                           NaN                           0.0
 3                                       20107.0                       18647.0
 4                                       78141.0                       74162.0
 ...                                         ...                           ...
 123685                                      0.0                           0.0
 123686                                    461.0                         435.0
 123687                                      0.0                           0.0
 123688                                  79761.0                       67797.0
 123689                                  75692.0                       63564.0

         PARDAVIMO PAJAMOS formavimo_data
 0                     NaN     2023-03-01
 1                     NaN     2023-03-01
 2                     0.0     2023-03-01
 3               2163507.0     2023-03-01
 4                242465.0     2023-03-01
 ...                   ...            ...
 123685                NaN     2023-03-01
 123686            44632.0     2023-03-01
 123687                NaN     2023-03-01
 123688          1733418.0     2023-03-01
 123689          4485193.0     2023-03-01

 [123690 rows x 12 columns],
          ja_kodas  form_kodas  stat_statusas template_id standard_id  \
 0       305390322         310              0      FS0128      IST023
 1       305213076         310              0      FS0128      IST023
 2       304088367         960              0      FS0322      IST118
 3       300094102         310              0      FS0129      IST024
 4       303219212         960              0      FS0322      IST118
 ...           ...         ...            ...         ...         ...
 110220  302686921         310              1      FS0128      IST023
 110221  303289125         310              7      FS0128      IST023
 110222  305333912         310              0      FS0129      IST024
 110223  304150413         310              0      FS0129      IST024
 110224  303226623         630              0      FS0323      IST117

        laikotarpis_nuo laikotarpis_iki    reg_date  \
 0           2019-12-11      2019-12-31  2021-05-27
 1           2019-07-18      2019-12-31  2021-09-08
 2           2020-01-01      2020-12-31  2021-03-31
 3           2020-01-01      2020-12-31  2021-06-10
 4           2020-01-01      2020-12-31  2021-07-12
 ...                ...             ...         ...
 110220      2020-01-01      2020-12-31  2021-05-26
 110221      2020-01-01      2020-12-31  2021-03-30
 110222      2020-01-01      2020-12-31  2021-07-11
 110223      2020-01-01      2020-12-31  2021-05-31
 110224      2020-01-01      2020-12-31  2021-05-25

         PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ  GRYNASIS PELNAS (NUOSTOLIAI)  \
 0                                           NaN                           0.0
 1                                           NaN                       -8042.0
 2                                       20624.0                       19562.0
 3                                       72425.0                       70062.0
 4                                           0.0                           0.0
 ...                                         ...                           ...
 110220                                      NaN                      -61659.0
 110221                                      NaN                           0.0
 110222                                  20903.0                       19881.0
 110223                                 -10215.0                      -10215.0
 110224                                      NaN                           NaN

         PARDAVIMO PAJAMOS formavimo_data
 0                     NaN     2023-03-01
 1                     NaN     2023-03-01
 2                 43780.0     2023-03-01
 3                155482.0     2023-03-01
 4                     NaN     2023-03-01
 ...                   ...            ...
 110220           584174.0     2023-03-01
 110221                0.0     2023-03-01
 110222           142964.0     2023-03-01
 110223            97068.0     2023-03-01
 110224              376.0     2023-03-01

 [110225 rows x 12 columns],
         ja_kodas  form_kodas  stat_statusas template_id standard_id  \
 0      304406916         310              0      FS0129      IST024
 1      304064380         310              0      FS0128      IST023
 2      305186985         960              0      FS0322      IST118
 3      302915341         310              0      FS0129      IST024
 4      300846448         310              0      FS0129      IST024
 ...          ...         ...            ...         ...         ...
 96610  302797423         310              0      FS0128      IST023
 96611  133553116         310              0      FS0128      IST023
 96612  304074296         310              0      FS0128      IST023
 96613  303199069         310              0      FS0129      IST024
 96614  302478692         310              0      FS0128      IST023

       laikotarpis_nuo laikotarpis_iki    reg_date  \
 0          2019-01-01      2019-12-31  2020-04-30
 1          2018-01-01      2018-12-31  2020-06-14
 2          2019-06-10      2019-12-31  2020-06-10
 3          2019-01-01      2019-12-31  2020-10-01
 4          2018-01-01      2018-12-31  2020-12-29
 ...               ...             ...         ...
 96610      2018-01-01      2018-12-31  2020-05-04
 96611      2017-01-01      2017-12-31  2020-02-20
 96612      2019-01-01      2019-12-31  2020-05-14
 96613      2019-01-01      2019-12-31  2020-05-30
 96614      2019-01-01      2019-12-31  2020-05-19

        PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ  GRYNASIS PELNAS (NUOSTOLIAI)  \
 0                                     119356.0                      113384.0
 1                                          NaN                         479.0
 2                                          0.0                           0.0
 3                                      -2748.0                       -2748.0
 4                                          0.0                           0.0
 ...                                        ...                           ...
 96610                                      NaN                        3252.0
 96611                                      NaN                        3621.0
 96612                                      NaN                        -318.0
 96613                                  72867.0                       69224.0
 96614                                      NaN                         218.0

        PARDAVIMO PAJAMOS formavimo_data
 0               182596.0     2023-03-01
 1                17406.0     2023-03-01
 2                    NaN     2023-03-01
 3               170934.0     2023-03-01
 4                    NaN     2023-03-01
 ...                  ...            ...
 96610           233772.0     2023-03-01
 96611            10580.0     2023-03-01
 96612                0.0     2023-03-01
 96613            75500.0     2023-03-01
 96614           478292.0     2023-03-01

 [96615 rows x 12 columns]]

#### Extracting columns line_name, reiksme and ja_kodas:
This function is uneeded but if you need to view just the extracted columns, you can use it:

In [5]:
# Extracting columns line_name, reiksme and ja_kodas from dfs with all of this data:
def extract_line_name_reiksme_ja_kodas(df_list):
    """
    Extract columns 'line_name', 'reiksme', and 'ja_kodas' from DataFrames
    that contain all three columns.

    Parameters:
    -----------
    df_list : list of pandas.DataFrame
        List of DataFrames to process (will be modified in-place)

    Returns:
    --------
    list of pandas.DataFrame
        List of DataFrames containing only the three specified columns
    """
    extracted_dfs = []

    required_columns = ['line_name', 'reiksme', 'ja_kodas']

    for i, df in enumerate(df_list):
        # Check if all required columns exist in the current DataFrame
        if all(col in df.columns for col in required_columns):
            # Extract only the required columns
            extracted_df = df[required_columns].copy()
            extracted_dfs.append(extracted_df)


        else:
            missing_cols = [col for col in required_columns if col not in df.columns]
            print(f"DataFrame {i}: Missing columns {missing_cols} - skipped")

    print(f"\nExtracted {len(extracted_dfs)} out of {len(df_list)} DataFrames")
    return extracted_dfs
""" Uncomment to see the extracted columns:
B_extracted = extract_line_name_reiksme_ja_kodas(balance_list)
P_extracted = extract_line_name_reiksme_ja_kodas(pnl_list)

# Renaming the extracted dfs to be more descriptive:
B_extracted_2025 = B_extracted[0]
B_extracted_2024 = B_extracted[1]

P_extracted_2025 = P_extracted[0]
P_extracted_2024 = P_extracted[1]

# New lists with extracted and renamed dfs:
B_extracted_renamed = [B_extracted_2025, B_extracted_2024]
P_extracted_renamed = [P_extracted_2025, P_extracted_2024]
"""

' Uncomment to see the extracted columns:\nB_extracted = extract_line_name_reiksme_ja_kodas(balance_list)\nP_extracted = extract_line_name_reiksme_ja_kodas(pnl_list)\n\n# Renaming the extracted dfs to be more descriptive:\nB_extracted_2025 = B_extracted[0]\nB_extracted_2024 = B_extracted[1]\n\nP_extracted_2025 = P_extracted[0]\nP_extracted_2024 = P_extracted[1]\n\n# New lists with extracted and renamed dfs:\nB_extracted_renamed = [B_extracted_2025, B_extracted_2024]\nP_extracted_renamed = [P_extracted_2025, P_extracted_2024]\n'

#### Shifting the column data of extraced dfs so that every row is unique with new columns:

In [6]:
# Pivoting the big dataframes:
def pivot_dfs_smart(df_list):
    """
    Apply pivot transformation with smart aggregation for different column types.
    """

    def pivot_line_names_to_columns_smart(df):
        """
        Pivot with intelligent aggregation based on column data types.
        """
        # Identify column types for smart aggregation
        numeric_columns = []
        string_columns = []

        for col in df.columns:
            if col in ['line_name', 'reiksme']:
                continue
            if pd.api.types.is_numeric_dtype(df[col]):
                numeric_columns.append(col)
            else:
                string_columns.append(col)

        # Create aggregation dictionary
        aggregation_dict = {'reiksme': 'first'}

        # For numeric columns, use 'first' or 'mean' depending on context
        for col in numeric_columns:
            aggregation_dict[col] = 'first'

        # For string columns, use 'first' (take the first occurrence)
        for col in string_columns:
            aggregation_dict[col] = 'first'

        # Identify index columns (all columns except line_name and reiksme)
        index_columns = [col for col in df.columns if col not in ['line_name', 'reiksme']]

        # Perform pivot
        pivoted_df = df.pivot_table(
            index=index_columns,
            columns='line_name',
            values='reiksme',
            aggfunc='first'
        ).reset_index()

        # Reset column names
        pivoted_df.columns.name = None

        return pivoted_df

    pivoted_dfs = []

    for i, df in enumerate(df_list):
        try:
            required_columns = ['line_name', 'reiksme', 'ja_kodas']
            if not all(col in df.columns for col in required_columns):
                missing_cols = [col for col in required_columns if col not in df.columns]
                print(f"DataFrame {i}: Missing columns {missing_cols}")
                pivoted_dfs.append(df)
                continue

            print(f"DataFrame {i}: Preserving {len(df.columns) - 2} columns in result")

            pivoted_df = pivot_line_names_to_columns_smart(df)
            pivoted_dfs.append(pivoted_df)
            print(f"DataFrame {i}: Successfully pivoted. Original shape: {df.shape}, Pivoted shape: {pivoted_df.shape}")

        except Exception as e:
            print(f"DataFrame {i}: Error during pivoting - {e}")
            pivoted_dfs.append(df)

    return pivoted_dfs

# Pivoting the balance dataframes:

Bpivoted = pivot_dfs_smart(balance_list)

# Pivoting the P&L dataframes:

Ppivoted = pivot_dfs_smart(pnl_list)

DataFrame 0: Preserving 9 columns in result
DataFrame 0: Successfully pivoted. Original shape: (615188, 11), Pivoted shape: (156318, 18)
DataFrame 1: Preserving 9 columns in result
DataFrame 1: Successfully pivoted. Original shape: (604271, 11), Pivoted shape: (153607, 18)
DataFrame 2: Missing columns ['line_name', 'reiksme']
DataFrame 3: Missing columns ['line_name', 'reiksme']
DataFrame 4: Missing columns ['line_name', 'reiksme']
DataFrame 5: Missing columns ['line_name', 'reiksme']
DataFrame 0: Preserving 9 columns in result
DataFrame 0: Successfully pivoted. Original shape: (423459, 11), Pivoted shape: (156318, 17)
DataFrame 1: Preserving 9 columns in result
DataFrame 1: Successfully pivoted. Original shape: (406755, 11), Pivoted shape: (153607, 17)
DataFrame 2: Missing columns ['line_name', 'reiksme']
DataFrame 3: Missing columns ['line_name', 'reiksme']
DataFrame 4: Missing columns ['line_name', 'reiksme']
DataFrame 5: Missing columns ['line_name', 'reiksme']

### Checking duplicate rows in all dfs:

This removes duplicate rows from all dfs and keeps only the most recent row for each ja_kodas, it keeps the new revision data. Older revisions are extracted and saved in a separate df.

In [7]:
# Checking duplicate rows in all dfs and removing/extracting them:

def extract_and_remove_older_duplicates(df_list, date_column='reg_date', id_column='ja_kodas'):
    """
    Find duplicate ja_kodas rows, keep the most recent reg_date, and extract older duplicates.

    Parameters:
    -----------
    df_list : list of pandas.DataFrame
        List of DataFrames to process
    date_column : str, default 'reg_date'
        Name of the date column to determine which rows to keep
    id_column : str, default 'ja_kodas'
        Name of the ID column to check for duplicates

    Returns:
    --------
    tuple: (cleaned_dfs, extracted_dfs, summary)
        cleaned_dfs: List of DataFrames with only most recent rows kept
        extracted_dfs: List of DataFrames containing the older duplicate rows
        summary: Dictionary with statistics for each DataFrame
    """
    cleaned_dfs = []
    extracted_dfs = []
    summary = {}

    for i, df in enumerate(df_list):
        try:
            # Check if required columns exist
            if id_column not in df.columns:
                print(f"DataFrame {i}: '{id_column}' column not found. Available: {list(df.columns)}")
                cleaned_dfs.append(df)
                extracted_dfs.append(pd.DataFrame())  # Empty DataFrame for consistency
                summary[i] = {'total_rows': len(df), 'duplicates_found': 0, 'kept': len(df), 'extracted': 0}
                continue

            if date_column not in df.columns:
                print(f"DataFrame {i}: '{date_column}' column not found. Available: {list(df.columns)}")
                cleaned_dfs.append(df)
                extracted_dfs.append(pd.DataFrame())
                summary[i] = {'total_rows': len(df), 'duplicates_found': 0, 'kept': len(df), 'extracted': 0}
                continue

            # Make a copy to avoid modifying original
            df_working = df.copy()

            # Ensure date_column is datetime
            if not pd.api.types.is_datetime64_any_dtype(df_working[date_column]):
                df_working[date_column] = pd.to_datetime(df_working[date_column], errors='coerce')
                # Remove rows where date conversion failed
                invalid_dates = df_working[date_column].isna().sum()
                if invalid_dates > 0:
                    print(f"DataFrame {i}: {invalid_dates} rows with invalid dates will be treated as oldest")

            # Find duplicate ja_kodas
            duplicate_mask = df_working.duplicated(subset=[id_column], keep=False)
            duplicate_rows = df_working[duplicate_mask]

            if len(duplicate_rows) == 0:
                print(f"DataFrame {i}: No duplicate {id_column} found")
                cleaned_dfs.append(df_working)
                extracted_dfs.append(pd.DataFrame())
                summary[i] = {'total_rows': len(df), 'duplicates_found': 0, 'kept': len(df), 'extracted': 0}
                continue

            # Group by ja_kodas and find the most recent date for each
            duplicate_groups = duplicate_rows.groupby(id_column)

            # Identify rows to keep (most recent date) and extract (older dates)
            keep_indices = []
            extract_indices = []

            for ja_kodas, group in duplicate_groups:
                if len(group) > 1:
                    # Find the row with the most recent date
                    most_recent_idx = group[date_column].idxmax()
                    keep_indices.append(most_recent_idx)

                    # Extract all other rows (older dates)
                    older_indices = group.index[group.index != most_recent_idx].tolist()
                    extract_indices.extend(older_indices)

            # Create DataFrames
            keep_df = df_working[~df_working.index.isin(extract_indices)]  # All non-extracted rows
            extract_df = df_working[df_working.index.isin(extract_indices)]  # Only extracted rows

            # Also include non-duplicate rows in keep_df
            non_duplicate_rows = df_working[~duplicate_mask]
            final_keep_df = pd.concat([keep_df, non_duplicate_rows], ignore_index=True)

            cleaned_dfs.append(final_keep_df)
            extracted_dfs.append(extract_df)

            # Summary statistics
            summary[i] = {
                'total_rows': len(df),
                'duplicates_found': len(duplicate_rows),
                'unique_duplicate_ids': duplicate_rows[id_column].nunique(),
                'kept': len(final_keep_df),
                'extracted': len(extract_df),
                'example_extracted': extract_df[id_column].value_counts().head(3).to_dict() if len(extract_df) > 0 else {}
            }

            print(f"DataFrame {i}: Kept {len(final_keep_df)} rows, extracted {len(extract_df)} older duplicates")
            if len(extract_df) > 0:
                print(f"  Extracted {extract_df[id_column].nunique()} unique {id_column}s with older dates")

        except Exception as e:
            print(f"DataFrame {i}: Error processing - {e}")
            cleaned_dfs.append(df)
            extracted_dfs.append(pd.DataFrame())
            summary[i] = {'total_rows': len(df), 'duplicates_found': 0, 'kept': len(df), 'extracted': 0, 'error': str(e)}

    # Final summary
    total_extracted = sum(s['extracted'] for s in summary.values())
    total_duplicates = sum(s['duplicates_found'] for s in summary.values())

    print(f"\n=== EXTRACTION SUMMARY ===")
    print(f"Total DataFrames processed: {len(df_list)}")
    print(f"Total duplicate rows found: {total_duplicates}")
    print(f"Total older rows extracted: {total_extracted}")

    return cleaned_dfs, extracted_dfs, summary

# Balance data:
cleanedB, extractedB, summaryB = extract_and_remove_older_duplicates(Bpivoted)

# P&L data:
cleanedP, extractedP, summaryP = extract_and_remove_older_duplicates(Ppivoted)

DataFrame 0: Kept 285413 rows, extracted 9806 older duplicates
  Extracted 7611 unique ja_kodass with older dates
DataFrame 1: Kept 273341 rows, extracted 12292 older duplicates
  Extracted 9289 unique ja_kodass with older dates
DataFrame 2: Kept 175078 rows, extracted 152850 older duplicates
  Extracted 128160 unique ja_kodass with older dates
DataFrame 3: Kept 227434 rows, extracted 21325 older duplicates
  Extracted 10710 unique ja_kodass with older dates
DataFrame 4: Kept 204568 rows, extracted 14073 older duplicates
  Extracted 8982 unique ja_kodass with older dates
DataFrame 5: Kept 187052 rows, extracted 9965 older duplicates
  Extracted 5652 unique ja_kodass with older dates

=== EXTRACTION SUMMARY ===
Total DataFrames processed: 6
Total duplicate rows found: 390715
Total older rows extracted: 220311
DataFrame 0: Kept 285413 rows, extracted 9806 older duplicates
  Extracted 7611 unique ja_kodass with older dates
DataFrame 1: Kept 273341 rows, extracted 12292 older duplicates
  Extracted 9289 unique ja_kodass with older dates
DataFrame 2: Kept 226983 rows, extracted 22447 older duplicates
  Extracted 12011 unique ja_kodass with older dates
DataFrame 3: Kept 206757 rows, extracted 16083 older duplicates
  Extracted 8457 unique ja_kodass with older dates
DataFrame 4: Kept 188062 rows, extracted 12261 older duplicates
  Extracted 7866 unique ja_kodass with older dates
DataFrame 5: Kept 171681 rows, extracted 8383 older duplicates
  Extracted 4783 unique ja_kodass with older dates

=== EXTRACTION SUMMARY ===
Total DataFrames processed: 6
Total duplicate rows found: 131289
Total older rows extracted: 81272

## Adding PnL data to balance data:

In [14]:
def merge_pnl_and_balances(df_list1, df_list2, how='inner'):
    """
    Merge two lists of DataFrames on ja_kodas column with comprehensive diagnostics and validation.
    Each DataFrame from list1 is merged with corresponding DataFrame from list2.

    Parameters:
    -----------
    df_list1, df_list2 : list of pandas.DataFrame
        Lists of DataFrames to merge
    how : str, default 'inner'
        Type of merge: 'inner', 'left', 'right', 'outer'

    Returns:
    --------
    list of pandas.DataFrame
        List of merged DataFrames
    """
    if len(df_list1) != len(df_list2):
        print(f"Warning: List lengths differ - list1: {len(df_list1)}, list2: {len(df_list2)}")
        # Use the minimum length to avoid index errors
        min_length = min(len(df_list1), len(df_list2))
        df_list1 = df_list1[:min_length]
        df_list2 = df_list2[:min_length]

    merged_dfs = []

    for i, (df1, df2) in enumerate(zip(df_list1, df_list2)):
        try:
            # Check if ja_kodas exists in both DataFrames
            if 'ja_kodas' not in df1.columns:
                print(f"Pair {i}: ja_kodas not found in first DataFrame, skipping")
                continue
            if 'ja_kodas' not in df2.columns:
                print(f"Pair {i}: ja_kodas not found in second DataFrame, skipping")
                continue

            # Create copies to avoid modifying originals
            df1_clean = df1.copy()
            df2_clean = df2.copy()

            # Validate ja_kodas data types and convert if necessary
            if df1_clean['ja_kodas'].dtype != df2_clean['ja_kodas'].dtype:
                print(f"Pair {i}: ja_kodas data types differ - converting both to string")
                df1_clean['ja_kodas'] = df1_clean['ja_kodas'].astype(str)
                df2_clean['ja_kodas'] = df2_clean['ja_kodas'].astype(str)

            # Check for duplicate ja_kodas within each DataFrame
            df1_duplicates = df1_clean.duplicated(subset=['ja_kodas']).sum()
            df2_duplicates = df2_clean.duplicated(subset=['ja_kodas']).sum()

            if df1_duplicates > 0:
                print(f"Pair {i}: WARNING - {df1_duplicates} duplicate ja_kodas found in first DataFrame")
                # Keep first occurrence of duplicates
                df1_clean = df1_clean.drop_duplicates(subset=['ja_kodas'], keep='first')

            if df2_duplicates > 0:
                print(f"Pair {i}: WARNING - {df2_duplicates} duplicate ja_kodas found in second DataFrame")
                # Keep first occurrence of duplicates
                df2_clean = df2_clean.drop_duplicates(subset=['ja_kodas'], keep='first')

            # Check for NaN values in ja_kodas
            df1_nan = df1_clean['ja_kodas'].isna().sum()
            df2_nan = df2_clean['ja_kodas'].isna().sum()

            if df1_nan > 0:
                print(f"Pair {i}: WARNING - {df1_nan} NaN values in ja_kodas (first DataFrame), removing")
                df1_clean = df1_clean.dropna(subset=['ja_kodas'])

            if df2_nan > 0:
                print(f"Pair {i}: WARNING - {df2_nan} NaN values in ja_kodas (second DataFrame), removing")
                df2_clean = df2_clean.dropna(subset=['ja_kodas'])

            # Pre-merge diagnostics
            df1_unique = df1_clean['ja_kodas'].nunique()
            df2_unique = df2_clean['ja_kodas'].nunique()
            common_ja_kodas = set(df1_clean['ja_kodas']) & set(df2_clean['ja_kodas'])
            common_count = len(common_ja_kodas)

            print(f"\n--- Pair {i} Merge Diagnostics ---")
            print(f"DF1: {len(df1_clean)} rows, {df1_unique} unique ja_kodas")
            print(f"DF2: {len(df2_clean)} rows, {df2_unique} unique ja_kodas")
            print(f"Common ja_kodas: {common_count}")
            print(f"Merge type: {how}")

            # Calculate expected result sizes
            if how == 'inner':
                expected_rows = common_count
            elif how == 'left':
                expected_rows = len(df1_clean)
            elif how == 'right':
                expected_rows = len(df2_clean)
            else:  # outer
                expected_rows = len(df1_clean) + len(df2_clean) - common_count

            print(f"Expected result rows: {expected_rows}")

            # Perform the merge with indicator to track sources
            merged_df = pd.merge(
                df1_clean,
                df2_clean,
                on='ja_kodas',
                how=how,
                suffixes=('_pnl', '_balance'),
                indicator=True  # Add merge indicator column
            )

            # Post-merge diagnostics
            actual_rows = len(merged_df)
            merge_stats = merged_df['_merge'].value_counts()

            print(f"Actual result rows: {actual_rows}")
            print(f"Merge composition: {merge_stats.to_dict()}")

            if actual_rows != expected_rows:
                print(f"WARNING: Expected {expected_rows} rows but got {actual_rows} rows")

            # Remove the indicator column
            merged_df = merged_df.drop('_merge', axis=1)

            # Check for overlapping column names (besides ja_kodas)
            overlapping_cols = set(df1_clean.columns) & set(df2_clean.columns) - {'ja_kodas'}
            if overlapping_cols:
                print(f"Overlapping columns (received suffixes): {list(overlapping_cols)}")

            print(f"Pair {i}: Successfully merged. Shapes: {df1.shape} + {df2.shape} -> {merged_df.shape}")

            merged_dfs.append(merged_df)

        except Exception as e:
            print(f"Pair {i}: Error during merge - {e}")
            print(f"Pair {i}: DF1 columns: {list(df1.columns) if 'df1' in locals() else 'N/A'}")
            print(f"Pair {i}: DF2 columns: {list(df2.columns) if 'df2' in locals() else 'N/A'}")
            # Keep both original DataFrames if merge fails
            merged_dfs.extend([df1, df2])

    # Final summary
    print(f"\n=== MERGE SUMMARY ===")
    print(f"Successfully processed: {len(merged_dfs)} DataFrames")
    print(f"Total input pairs: {min(len(df_list1), len(df_list2))}")

    return merged_dfs

# Merge the cleaned balance and P&L data:
MergedData = merge_pnl_and_balances(cleanedB, cleanedP)

# Merging the cleaned balance and P&L data but with outer merge (all rows are kept):
# Seems to be the same as inner merge, I don't know why.
MergedDataAll = merge_pnl_and_balances(cleanedB, cleanedP, how='outer')

# Renaming dfs in MergedData to be more descriptive:

MergedBP2025 = MergedData[0]
MergedBP2024 = MergedData[1]
MergedBP2023 = MergedData[2]
MergedBP2022 = MergedData[3]
MergedBP2021 = MergedData[4]
MergedBP2020 = MergedData[5]

MergedBPall2025 = MergedDataAll[0]
MergedBPall2024 = MergedDataAll[1]
MergedBPall2023 = MergedDataAll[2]
MergedBPall2022 = MergedDataAll[3]
MergedBPall2021 = MergedDataAll[4]
MergedBPall2020 = MergedDataAll[5]

Pair 0: WARNING - 138901 duplicate ja_kodas found in first DataFrame
Pair 0: WARNING - 138901 duplicate ja_kodas found in second DataFrame

--- Pair 0 Merge Diagnostics ---
DF1: 146512 rows, 146512 unique ja_kodas
DF2: 146512 rows, 146512 unique ja_kodas
Common ja_kodas: 146512
Merge type: inner
Expected result rows: 146512
Actual result rows: 146512
Merge composition: {'both': 146512, 'left_only': 0, 'right_only': 0}
Overlapping columns (received suffixes): ['formavimo_data', 'standard_id', 'stat_kodas', 'beginning_date', 'template_id', 'turning_date', 'form_kodas', 'reg_date']
Pair 0: Successfully merged. Shapes: (285413, 18) + (285413, 17) -> (146512, 34)
Pair 1: WARNING - 132026 duplicate ja_kodas found in first DataFrame
Pair 1: WARNING - 132026 duplicate ja_kodas found in second DataFrame

--- Pair 1 Merge Diagnostics ---
DF1: 141315 rows, 141315 unique ja_kodas
DF2: 141315 rows, 141315 unique ja_kodas
Common ja_kodas: 141315
Merge type: inner
Expected result rows: 141315
Actual result rows: 141315
Merge composition: {'both': 141315, 'left_only': 0, 'right_only': 0}
Overlapping columns (received suffixes): ['formavimo_data', 'standard_id', 'stat_kodas', 'beginning_date', 'template_id', 'turning_date', 'form_kodas', 'reg_date']
Pair 1: Successfully merged. Shapes: (273341, 18) + (273341, 17) -> (141315, 34)
Pair 2: WARNING - 23459 duplicate ja_kodas found in first DataFrame
Pair 2: WARNING - 107486 duplicate ja_kodas found in second DataFrame

--- Pair 2 Merge Diagnostics ---
DF1: 151619 rows, 151619 unique ja_kodas
DF2: 119497 rows, 119497 unique ja_kodas
Common ja_kodas: 119497
Merge type: inner
Expected result rows: 119497
Actual result rows: 119497
Merge composition: {'both': 119497, 'left_only': 0, 'right_only': 0}
Overlapping columns (received suffixes): ['formavimo_data', 'standard_id', 'laikotarpis_iki', 'stat_statusas', 'laikotarpis_nuo', 'template_id', 'form_kodas', 'reg_date']
Pair 2: Successfully merged. Shapes: (175078, 13) + (226983, 12) -> (119497, 24)
Pair 3: WARNING - 108362 duplicate ja_kodas found in first DataFrame
Pair 3: WARNING - 99150 duplicate ja_kodas found in second DataFrame

--- Pair 3 Merge Diagnostics ---
DF1: 119072 rows, 119072 unique ja_kodas
DF2: 107607 rows, 107607 unique ja_kodas
Common ja_kodas: 107607
Merge type: inner
Expected result rows: 107607
Actual result rows: 107607
Merge composition: {'both': 107607, 'left_only': 0, 'right_only': 0}
Overlapping columns (received suffixes): ['formavimo_data', 'standard_id', 'laikotarpis_iki', 'stat_statusas', 'laikotarpis_nuo', 'template_id', 'form_kodas', 'reg_date']
Pair 3: Successfully merged. Shapes: (227434, 13) + (206757, 12) -> (107607, 24)
Pair 4: WARNING - 97793 duplicate ja_kodas found in first DataFrame
Pair 4: WARNING - 90098 duplicate ja_kodas found in second DataFrame

--- Pair 4 Merge Diagnostics ---
DF1: 106775 rows, 106775 unique ja_kodas
DF2: 97964 rows, 97964 unique ja_kodas
Common ja_kodas: 97964
Merge type: inner
Expected result rows: 97964
Actual result rows: 97964
Merge composition: {'both': 97964, 'left_only': 0, 'right_only': 0}
Overlapping columns (received suffixes): ['formavimo_data', 'standard_id', 'laikotarpis_iki', 'stat_statusas', 'laikotarpis_nuo', 'template_id', 'form_kodas', 'reg_date']
Pair 4: Successfully merged. Shapes: (204568, 13) + (188062, 12) -> (97964, 24)
Pair 5: WARNING - 90700 duplicate ja_kodas found in first DataFrame
Pair 5: WARNING - 83449 duplicate ja_kodas found in second DataFrame

--- Pair 5 Merge Diagnostics ---
DF1: 96352 rows, 96352 unique ja_kodas
DF2: 88232 rows, 88232 unique ja_kodas
Common ja_kodas: 88232
Merge type: inner
Expected result rows: 88232
Actual result rows: 88232
Merge composition: {'both': 88232, 'left_only': 0, 'right_only': 0}
Overlapping columns (received suffixes): ['formavimo_data', 'standard_id', 'laikotarpis_iki', 'stat_statusas', 'laikotarpis_nuo', 'template_id', 'form_kodas', 'reg_date']
Pair 5: Successfully merged. Shapes: (187052, 13) + (171681, 12) -> (88232, 24)

=== MERGE SUMMARY ===
Successfully processed: 6 DataFrames
Total input pairs: 6
Pair 0: WARNING - 138901 duplicate ja_kodas found in first DataFrame
Pair 0: WARNING - 138901 duplicate ja_kodas found in second DataFrame

--- Pair 0 Merge Diagnostics ---
DF1: 146512 rows, 146512 unique ja_kodas
DF2: 146512 rows, 146512 unique ja_kodas
Common ja_kodas: 146512
Merge type: outer
Expected result rows: 146512
Actual result rows: 146512
Merge composition: {'both': 146512, 'left_only': 0, 'right_only': 0}
Overlapping columns (received suffixes): ['formavimo_data', 'standard_id', 'stat_kodas', 'beginning_date', 'template_id', 'turning_date', 'form_kodas', 'reg_date']
Pair 0: Successfully merged. Shapes: (285413, 18) + (285413, 17) -> (146512, 34)
Pair 1: WARNING - 132026 duplicate ja_kodas found in first DataFrame
Pair 1: WARNING - 132026 duplicate ja_kodas found in second DataFrame

--- Pair 1 Merge Diagnostics ---
DF1: 141315 rows, 141315 unique ja_kodas
DF2: 141315 rows, 141315 unique ja_kodas
Common ja_kodas: 141315
Merge type: outer
Expected result rows: 141315
Actual result rows: 141315
Merge composition: {'both': 141315, 'left_only': 0, 'right_only': 0}
Overlapping columns (received suffixes): ['formavimo_data', 'standard_id', 'stat_kodas', 'beginning_date', 'template_id', 'turning_date', 'form_kodas', 'reg_date']
Pair 1: Successfully merged. Shapes: (273341, 18) + (273341, 17) -> (141315, 34)
Pair 2: WARNING - 23459 duplicate ja_kodas found in first DataFrame
Pair 2: WARNING - 107486 duplicate ja_kodas found in second DataFrame

--- Pair 2 Merge Diagnostics ---
DF1: 151619 rows, 151619 unique ja_kodas
DF2: 119497 rows, 119497 unique ja_kodas
Common ja_kodas: 119497
Merge type: outer
Expected result rows: 151619
Actual result rows: 151619
Merge composition: {'both': 119497, 'left_only': 32122, 'right_only': 0}
Overlapping columns (received suffixes): ['formavimo_data', 'standard_id', 'laikotarpis_iki', 'stat_statusas', 'laikotarpis_nuo', 'template_id', 'form_kodas', 'reg_date']
Pair 2: Successfully merged. Shapes: (175078, 13) + (226983, 12) -> (151619, 24)
Pair 3: WARNING - 108362 duplicate ja_kodas found in first DataFrame
Pair 3: WARNING - 99150 duplicate ja_kodas found in second DataFrame

--- Pair 3 Merge Diagnostics ---
DF1: 119072 rows, 119072 unique ja_kodas
DF2: 107607 rows, 107607 unique ja_kodas
Common ja_kodas: 107607
Merge type: outer
Expected result rows: 119072
Actual result rows: 119072
Merge composition: {'both': 107607, 'left_only': 11465, 'right_only': 0}
Overlapping columns (received suffixes): ['formavimo_data', 'standard_id', 'laikotarpis_iki', 'stat_statusas', 'laikotarpis_nuo', 'template_id', 'form_kodas', 'reg_date']
Pair 3: Successfully merged. Shapes: (227434, 13) + (206757, 12) -> (119072, 24)
Pair 4: WARNING - 97793 duplicate ja_kodas found in first DataFrame
Pair 4: WARNING - 90098 duplicate ja_kodas found in second DataFrame

--- Pair 4 Merge Diagnostics ---
DF1: 106775 rows, 106775 unique ja_kodas
DF2: 97964 rows, 97964 unique ja_kodas
Common ja_kodas: 97964
Merge type: outer
Expected result rows: 106775
Actual result rows: 106775
Merge composition: {'both': 97964, 'left_only': 8811, 'right_only': 0}
Overlapping columns (received suffixes): ['formavimo_data', 'standard_id', 'laikotarpis_iki', 'stat_statusas', 'laikotarpis_nuo', 'template_id', 'form_kodas', 'reg_date']
Pair 4: Successfully merged. Shapes: (204568, 13) + (188062, 12) -> (106775, 24)
Pair 5: WARNING - 90700 duplicate ja_kodas found in first DataFrame
Pair 5: WARNING - 83449 duplicate ja_kodas found in second DataFrame

--- Pair 5 Merge Diagnostics ---
DF1: 96352 rows, 96352 unique ja_kodas
DF2: 88232 rows, 88232 unique ja_kodas
Common ja_kodas: 88232
Merge type: outer
Expected result rows: 96352
Actual result rows: 96352
Merge composition: {'both': 88232, 'left_only': 8120, 'right_only': 0}
Overlapping columns (received suffixes): ['formavimo_data', 'standard_id', 'laikotarpis_iki', 'stat_statusas', 'laikotarpis_nuo', 'template_id', 'form_kodas', 'reg_date']
Pair 5: Successfully merged. Shapes: (187052, 13) + (171681, 12) -> (96352, 24)

=== MERGE SUMMARY ===
Successfully processed: 6 DataFrames
Total input pairs: 6

### Data validation:

In [26]:
#describe_dataframes(MergedData)

describe_dataframes(MergedDataAll)

,dataframe_name,rows,columns,total_cells,memory_mb,ja_kodas_column_exists,ja_kodas_duplicates,ja_kodas_total_duplicate_rows,ja_kodas_unique_duplicate_values,ja_kodas_duplicate_percentage,ja_kodas_most_common_duplicate,ja_kodas_most_common_count,total_missing_values,missing_percentage,numeric_columns,categorical_columns,unique_dtypes
0,df_0,146512,34,4981408,107.03,True,0,0,0,0.0,None,0,1513255,30.38,22,10,4
1,df_1,141315,34,4804710,103.23,True,0,0,0,0.0,None,0,1469938,30.59,22,10,4
2,df_2,151619,24,3638856,95.30,True,0,0,0,0.0,None,0,456253,12.54,12,10,4
3,df_3,119072,24,2857728,76.51,True,0,0,0,0.0,None,0,207649,7.27,12,10,4
4,df_4,106775,24,2562600,68.79,True,0,0,0,0.0,None,0,165737,6.47,12,10,4
5,df_5,96352,24,2312448,62.05,True,0,0,0,0.0,None,0,147251,6.37,12,10,4

### Interim data export:
Notebook is getting too long and confusing, so I will export the interim data to csv files.

In [24]:
# Exporting the interim data to csv files:

save_df_list_to_csv_auto(MergedData, '../../data/interim/joined-balance-and-PnL/joined-only-matching-ja-kodas')

save_df_list_to_csv_auto(MergedDataAll, '../../data/interim/joined-balance-and-PnL/joined-all-ja-kodas')

['MergedBPall2025',
 'MergedBPall2024',
 'MergedBPall2023',
 'MergedBPall2022',
 'MergedBPall2021',
 'MergedBPall2020']