In [1]:
import pandas as pd
import numpy as np

# Import statements for Functions.py
import sys
import os

from src.python import set_columns_to_numeric, set_dataframe_values, extract_columns
from src.python.Functions import describe_dataframes, remove_columns, check_and_pull_git_lfs

sys.path.append(os.path.abspath(os.path.join('..', '..', 'src', 'python')))
from Functions import *

In [2]:
# Importing the data:
check_and_pull_git_lfs()
employment2024 = read_large_file('../../data/raw/firm-employment-data/monthly-2024.json', 'json')
employment2023 = read_large_file('../../data/raw/firm-employment-data/monthly-2023.json', 'json')
employment2022 = read_large_file('../../data/raw/firm-employment-data/monthly-2022.json', 'json')
employment2021 = read_large_file('../../data/raw/firm-employment-data/monthly-2021.json', 'json')
employment2020 = read_large_file('../../data/raw/firm-employment-data/monthly-2020.json', 'json')
employment2019 = read_large_file('../../data/raw/firm-employment-data/monthly-2019.json', 'json')

Target directory for LFS operations: /home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model
Current working directory: /home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/notebooks/preprocessing
Note: Using specified directory for LFS operations
Git LFS version: git-lfs/3.7.1 (GitHub; linux amd64; go 1.25.1)
Checking LFS status in target directory...
LFS Status Output:
On branch New-test-branch
Objects to be pushed to origin/New-test-branch:

	data/interim/employment/yearly_averages/Employment_data_averages_2019.csv (c4f8c609e8c814043277ef819e21a8015f0ae9f173d911898da28e7dd22e1e81)
	data/interim/employment/yearly_averages/Employment_data_averages_2020.csv (e3c8c89b16d632d4689e9621b2de2c7a49c31d86523b4f69dbe1ec34b4310cfa)
	data/interim/employment/yearly_averages/Employment_data_averages_2021.csv (ff77abc7d875d81335aef1932a4d2591d938ef978948876240e69ec536f42f7b)
	data/interim/employment/yearly_averages/Employment_data_averages_2022.csv (0f4a6fc80b96c6c41422f853d06d25f99bc0cbc09d5dcd671643251db5634f36)
	data/interim/employment/yearly_averages/Employment_data_averages_2023.csv (aa6a1aec1e15ce0cff9042f8d31e73ccf5f9abe298ca7c91028cfcc0e90bb99a)
	data/interim/employment/yearly_averages/Employment_data_averages_2024.csv (8178f0cbabdb4678713c532282d7c08c6a292b2d1f16a90bf11a7f6c64341533)
	data/processed/Financial-tables/No-YoY-change/Full-financial-year/All-ja_kodas/Full_Financial_Year_All_ja_kodas_2020.csv (8fd3888d12967ae8ca17cb975677aec80b9d5c1de89f174385147f27ec88088d)
	data/processed/Financial-tables/No-YoY-change/Full-financial-year/All-ja_kodas/Full_Financial_Year_All_ja_kodas_2021.csv (32f106d826bec512130659f814dde3e9a1d5f7da0e20a4c76ad5ad813d4f37a3)
	data/processed/Financial-tables/No-YoY-change/Full-financial-year/All-ja_kodas/Full_Financial_Year_All_ja_kodas_2022.csv (b6c00bf59433928930b67f40cd5fc982b70cf0c9055418c78af32124b2c87a92)
	data/processed/Financial-tables/No-YoY-change/Full-financial-year/All-ja_kodas/Full_Financial_Year_All_ja_kodas_2023.csv (4468d843f650585455e240a5dfe9f4e55955bcba5040e645466361a876721119)
	data/processed/Financial-tables/No-YoY-change/Full-financial-year/All-ja_kodas/Full_Financial_Year_All_ja_kodas_2024.csv (158e11e9e78b72f1b5db8369a4b76963a4f78c652ae172823ca33a1598b5abca)
	data/processed/Financial-tables/No-YoY-change/Full-financial-year/All-ja_kodas/Full_Financial_Year_All_ja_kodas_2025.csv (1dd8f1151ae65e7620e0b527a44b5fc65425678ff7c2ab574b3c5ba6268a8f7e)
	data/processed/Financial-tables/No-YoY-change/Full-financial-year/Only-matching-ja_kodas/Full_Financial_Year_Matching_ja_kodas_2020.csv (6a0b3a19e5e178b697495c45ca5f2c37985c8585190ca31c4d58f3075cb0ff73)
	data/processed/Financial-tables/No-YoY-change/Full-financial-year/Only-matching-ja_kodas/Full_Financial_Year_Matching_ja_kodas_2021.csv (80a9136d8a3178368d845be2f1a62c84c706bf67a99928fe9511929e8f4ee921)
	data/processed/Financial-tables/No-YoY-change/Full-financial-year/Only-matching-ja_kodas/Full_Financial_Year_Matching_ja_kodas_2022.csv (07842c356a7011e38146a1ee1a86ccfba36671be87edc1dec969eeafad2b505d)
	data/processed/Financial-tables/No-YoY-change/Full-financial-year/Only-matching-ja_kodas/Full_Financial_Year_Matching_ja_kodas_2023.csv (c4085511c0377d8804dbe76fb306d8aae18b586122fa15fdf861ed6bffba2d30)
	data/processed/Financial-tables/No-YoY-change/Full-financial-year/Only-matching-ja_kodas/Full_Financial_Year_Matching_ja_kodas_2024.csv (4f32ac02ff0a54fd62cf035109beb333158531b156fe42b0ba274119dfd97788)
	data/processed/Financial-tables/No-YoY-change/Full-financial-year/Only-matching-ja_kodas/Full_Financial_Year_Matching_ja_kodas_2025.csv (ba088572a8626b75011fa803b7fe834df1ed603f01a96951ec70c8d04da45f97)
	data/processed/Financial-tables/No-YoY-change/With-new-firms/All-ja_kodas/New_Firms_All_ja_kodas_2020.csv (a3eaa78114a7c5427a351021d21f585bdc5a7442a3738aa7305e4de83dc30c59)
	data/processed/Financial-tables/No-YoY-change/With-new-firms/All-ja_kodas/New_Firms_All_ja_kodas_2021.csv (5e8b726366ec768d8747de077343684a4d367f4adb52f6a453a33d2c458b065b)
	data/processed/Financial-tables/No-YoY-change/With-new-firms/All-ja_kodas/New_Firms_All_ja_kodas_2022.csv (453cb52e6b538565b9ad83afb1b11b47c8f08b5bfd27eae03d6951abed356e06)
	data/processed/Financial-tables/No-YoY-change/With-new-firms/All-ja_kodas/New_Firms_All_ja_kodas_2023.csv (44daade5717cec40a982373e972abd1ba7c38a7f6f2cdd5cc7b7cc3508931a6f)
	data/processed/Financial-tables/No-YoY-change/With-new-firms/All-ja_kodas/New_Firms_All_ja_kodas_2024.csv (8ac8ac65afc0b87789372980c45cc565c0813a8e2f7002136b193b3e9fa7a148)
	data/processed/Financial-tables/No-YoY-change/With-new-firms/All-ja_kodas/New_Firms_All_ja_kodas_2025.csv (76b956d48f63456110eb4967740b32dd231915ee5786c2600f1adfcca71caacf)
	data/processed/Financial-tables/No-YoY-change/With-new-firms/Only-matching-ja_kodas/New_Firms_Matching_ja_kodas_2020.csv (c1c6df799b77e2eb7f92a6bbd433553e36cc30394031f92597b1339ec175a35f)
	data/processed/Financial-tables/No-YoY-change/With-new-firms/Only-matching-ja_kodas/New_Firms_Matching_ja_kodas_2021.csv (09de93b6bc75e73939732cbaf38bc72dd02355d67f22b90e708815fa206ec162)
	data/processed/Financial-tables/No-YoY-change/With-new-firms/Only-matching-ja_kodas/New_Firms_Matching_ja_kodas_2022.csv (1bafed2a69a24e2aa6216a1a34b37e746fd5420b166352b67e597d1a9e2710dd)
	data/processed/Financial-tables/No-YoY-change/With-new-firms/Only-matching-ja_kodas/New_Firms_Matching_ja_kodas_2023.csv (02f7989c73af650773ef81980e2135c9030a9af6a6cda31f2ba3f9216115814f)
	data/processed/Financial-tables/No-YoY-change/With-new-firms/Only-matching-ja_kodas/New_Firms_Matching_ja_kodas_2024.csv (ed78a2a963221aec3a091220f9c28285d29477ef924a4adf571308d3b8775c53)
	data/processed/Financial-tables/No-YoY-change/With-new-firms/Only-matching-ja_kodas/New_Firms_Matching_ja_kodas_2025.csv (a0ebfe5a31b27d889750a0e52738fed2fc56108b389315267cc0bf50b3ae4e24)
	data/processed/Financial-tables/YoY-change/Full-financial-year/All-ja_kodas/Full_Financial_Year_All_ja_kodas_with_change_2021.csv (0f82c410d045a61ba182cb0238bde5dfcc27475b1996f4aab31394435b1d7701)
	data/processed/Financial-tables/YoY-change/Full-financial-year/All-ja_kodas/Full_Financial_Year_All_ja_kodas_with_change_2022.csv (b4b0886ed247040cd78248064852422676a941abb629794b36ee055f32734c55)
	data/processed/Financial-tables/YoY-change/Full-financial-year/All-ja_kodas/Full_Financial_Year_All_ja_kodas_with_change_2023.csv (c08642163a52af08033ed977aa8ac7f85d7176c2dd716810110382f1a7baf8a3)
	data/processed/Financial-tables/YoY-change/Full-financial-year/All-ja_kodas/Full_Financial_Year_All_ja_kodas_with_change_2024.csv (f19d8fc27328ff81fe8350646a8108afc0d80f5667958f82f82420a43f908822)
	data/processed/Financial-tables/YoY-change/Full-financial-year/All-ja_kodas/Full_Financial_Year_All_ja_kodas_with_change_2025.csv (c5c1f2e9fd8c19e5a8b3aea30bd2f532e755d7c986e0e9b10ac4d6bacc070966)
	data/processed/Financial-tables/YoY-change/Full-financial-year/Matching_ja_kodas/Full_Financial_Year_All_matching_ja_kodas_with_change_2021.csv (cf95eb125311b753e5637de455cc4fe66b20d64e94c773d394ec6bc73a33e494)
	data/processed/Financial-tables/YoY-change/Full-financial-year/Matching_ja_kodas/Full_Financial_Year_All_matching_ja_kodas_with_change_2022.csv (ef882eaffe6e81bb85f2d3868a8ff4148e30a19213ce1590a923512ea8a05ff3)
	data/processed/Financial-tables/YoY-change/Full-financial-year/Matching_ja_kodas/Full_Financial_Year_All_matching_ja_kodas_with_change_2023.csv (14d8c7d39b84d0f6ae19ccbec1d08554c9d6a91580ced14ba61f7e4e008f70e6)
	data/processed/Financial-tables/YoY-change/Full-financial-year/Matching_ja_kodas/Full_Financial_Year_All_matching_ja_kodas_with_change_2024.csv (2e328bd03f05e20a84a95de92ef0a6d21d27128b411e0aba383b3b6325bd16cb)
	data/processed/Financial-tables/YoY-change/Full-financial-year/Matching_ja_kodas/Full_Financial_Year_All_matching_ja_kodas_with_change_2025.csv (ff1c65f28a8d08f44c7dceda49bd5dce4e4f5cba7cf2b101abb13268df6f6b8a)
	data/processed/Financial-tables/YoY-change/With-new-firms/All-ja_kodas/With_new_firms_All_ja_kodas_with_change_2021.csv (1bc9c00ee351bfa318c844f330d8d0421c4c7a719d7c05348fd425b43cf3d0bc)
	data/processed/Financial-tables/YoY-change/With-new-firms/All-ja_kodas/With_new_firms_All_ja_kodas_with_change_2022.csv (67407bb93d4e5c92477c6be5fc5a2a4affd419fa83c3d48490e656954559308a)
	data/processed/Financial-tables/YoY-change/With-new-firms/All-ja_kodas/With_new_firms_All_ja_kodas_with_change_2023.csv (1011e98d2a8089f85dd95565117987791720466c287a40a89a725d8d6d483b7b)
	data/processed/Financial-tables/YoY-change/With-new-firms/All-ja_kodas/With_new_firms_All_ja_kodas_with_change_2024.csv (3aefe6237559d15c17055b9ea91589e3f5c90be0f37e4fbd8206baa3ac6933d3)
	data/processed/Financial-tables/YoY-change/With-new-firms/All-ja_kodas/With_new_firms_All_ja_kodas_with_change_2025.csv (3b22e5d5082b17473273b4e744fe5b8185dc16dbf6f62a770efe9ae368c3ef8d)
	data/processed/Financial-tables/YoY-change/With-new-firms/Matching_ja_kodas/With_new_firms_Matching_ja_kodas_with_change_2021.csv (98610d129973b95545771f92e23896f19e675c87896104a0392ec990790a9448)
	data/processed/Financial-tables/YoY-change/With-new-firms/Matching_ja_kodas/With_new_firms_Matching_ja_kodas_with_change_2022.csv (ef2863c7e0432e259e6514fffb79b866c3aa141c2363003c7bc4daaf9c88920a)
	data/processed/Financial-tables/YoY-change/With-new-firms/Matching_ja_kodas/With_new_firms_Matching_ja_kodas_with_change_2023.csv (b7787090cda019aa917441c8f106fd053a2c2ca5ccb7113747ac4d08dbffbac9)
	data/processed/Financial-tables/YoY-change/With-new-firms/Matching_ja_kodas/With_new_firms_Matching_ja_kodas_with_change_2024.csv (c616ba8cf828a2fa55d473e43bca05f721438d153f21a00dc958537cdabeb752)
	data/processed/Financial-tables/YoY-change/With-new-firms/Matching_ja_kodas/With_new_firms_Matching_ja_kodas_with_change_2025.csv (1f398531619da90dc93bb1e530d9e5c185991cd9422a72d60e20062d1b39e0a6)
	data/processed/Financial-tables/YoY-change/Full-financial-year/All-ja_kodas/Full_Financial_Year_All_ja_kodas_with_change_2024.csv (6f778b746337f5467f7d8377a35eae02efcdde58970906b319ffdb17f0a61122)
	data/interim/employment/yearly_averages/Employment_data_averages_2020.csv (e941e3ad893e82a2933d835bf560d24068f5682018874f18ac63b7c986178798)
	data/interim/employment/yearly_averages/Employment_data_averages_2021.csv (ff7115338c63899d1e100b9941e48f20e96661e0b4dd33255aa257525ad5d7bd)
	data/interim/employment/yearly_averages/Employment_data_averages_2022.csv (3ac0372abd577971c1de6daeaf7df879aa85c10280459bfe16bd002f534813bc)
	data/interim/employment/yearly_averages/Employment_data_averages_2023.csv (07cd3c111463552a6d24b9b593eebbd20a9871859cb5d08f07918896edb40e51)
	data/interim/employment/yearly_averages/Employment_data_averages_2024.csv (80638a782dc4e0343116c3acffbe0447949685752d7f40a526c962772276ac63)
	data/interim/employment/yearly_averages/Employment_data_averages_2020.csv (3712e6c9660430e70e26dec56e31195c3593ea8fbdef09702fde5dde9ec5c0aa)
	data/interim/employment/yearly_averages/Employment_data_averages_2021.csv (e181cf1dbe7881e5fbaa5f607c83f55317508e9d5984c8fe96fdd0623b92db97)
	data/interim/employment/yearly_averages/Employment_data_averages_2022.csv (9f7f5e8b30f10669a425ea2fa791dfc6ea017b571d5e8a22a795fb027954c7b0)
	data/interim/employment/yearly_averages/Employment_data_averages_2023.csv (af99da1abf242d5fd99731af3845a61aff4fc7bc833ad83fdd3d53e486fac630)
	data/interim/employment/yearly_averages/Employment_data_averages_2024.csv (3a0f1360d243d0c8021defe89e1608452892955cd547cdd408a4435f919cb4bc)

Objects to be committed:


Objects not staged for commit:

	notebooks/preprocessing/Variable-creation.ipynb (Git: 5412236 -> File: 9f30b69)


No Git LFS files need downloading
Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2024.json
File size: 494.15 MB
Detected standard JSON format (array/object)
Read JSON array with 1265352 rows
Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2023.json
File size: 493.55 MB
Detected standard JSON format (array/object)
Read JSON array with 1262409 rows
Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2022.json
File size: 489.66 MB
Detected standard JSON format (array/object)
Read JSON array with 1251233 rows
Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2021.json
File size: 498.07 MB
Detected standard JSON format (array/object)
Read JSON array with 1227034 rows
Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2020.json
File size: 478.72 MB
Detected standard JSON format (array/object)
Read JSON array with 1177773 rows
Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2019.json
File size: 473.09 MB
Detected standard JSON format (array/object)
Read JSON array with 1163329 rows

In [3]:

E2024 = employment2024.copy()
E2023 = employment2023.copy()
E2022 = employment2022.copy()
E2021 = employment2021.copy()
E2020 = employment2020.copy()
E2019 = employment2019.copy()

# Save in list for later use:
E = [E2024, E2023, E2022, E2021, E2020, E2019]

In [4]:
columns_to_remove = ['lookupId', 'code', 'name', 'shortname', 'tax']

remove_columns(E, columns_to_remove)

rename_columns_if_exist(E, 'jarCode', 'ja_kodas')

ðŸ“Š DataFrame 0:
   âœ… Removed: ['lookupId', 'code', 'name', 'shortname', 'tax']
   ðŸ“‹ Remaining columns: 9
ðŸ“Š DataFrame 1:
   âœ… Removed: ['lookupId', 'code', 'name', 'shortname', 'tax']
   ðŸ“‹ Remaining columns: 9
ðŸ“Š DataFrame 2:
   âœ… Removed: ['lookupId', 'code', 'name', 'shortname', 'tax']
   ðŸ“‹ Remaining columns: 9
ðŸ“Š DataFrame 3:
   âœ… Removed: ['lookupId', 'code', 'name', 'shortname', 'tax']
   ðŸ“‹ Remaining columns: 9
ðŸ“Š DataFrame 4:
   âœ… Removed: ['lookupId', 'code', 'name', 'shortname', 'tax']
   ðŸ“‹ Remaining columns: 9
ðŸ“Š DataFrame 5:
   âœ… Removed: ['lookupId', 'code', 'name', 'shortname', 'tax']
   ðŸ“‹ Remaining columns: 9

ðŸŽ¯ FINAL SUMMARY:
   ðŸ“¦ Processed 6 DataFrames
   ðŸ—‘ï¸  Total columns removed: 30
   â­ï¸  Total columns skipped: 0

[          ja_kodas   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   202401  2502.17       NaN           5            0
 1                   202401      NaN       NaN           3            0
 2                   202401  1470.39       NaN          24            0
 3                   202401  2509.23       NaN          10            0
 4                   202401  1247.19       NaN          19            0
 ...            ...     ...      ...       ...         ...          ...
 1265347  307049184  202412      NaN       NaN           2            0
 1265348  307050133  202412  4823.23       NaN           4            0
 1265349  307050432  202412      NaN       NaN           1            0
 1265350  307050998  202412      NaN       NaN           2            0
 1265351  307054142  202412      NaN       NaN           1            0

         ecoActName  ecoActCode       municipality
 0             None         NaN   Vilniaus m. sav.
 1             None         NaN   Vilniaus m. sav.
 2             None         NaN   Vilniaus m. sav.
 3             None         NaN   Vilniaus m. sav.
 4             None         NaN   Vilniaus m. sav.
 ...            ...         ...                ...
 1265347       None         NaN   Vilniaus m. sav.
 1265348       None         NaN   Vilniaus m. sav.
 1265349       None         NaN   Vilniaus r. sav.
 1265350       None         NaN  KlaipÄ—dos r. sav.
 1265351       None         NaN  KlaipÄ—dos m. sav.

 [1265352 rows x 9 columns],
           ja_kodas   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   202301      NaN       NaN           3            0
 1                   202301  1651.63       NaN          11            0
 2                   202301  2419.21       NaN           5            0
 3                   202301  1287.87       NaN          23            0
 4                   202301  1245.95       NaN          19            0
 ...            ...     ...      ...       ...         ...          ...
 1262404  306634612  202311   143.27       NaN           5            0
 1262405  306634612  202312   835.91       NaN          14            0
 1262406  306635365  202311      NaN       NaN           1            0
 1262407  306638735  202311      NaN       NaN           1            0
 1262408  306638735  202312      NaN       NaN           1            0

                                   ecoActName  ecoActCode      municipality
 0                                       None         NaN  Vilniaus m. sav.
 1                                       None         NaN  Vilniaus m. sav.
 2                                       None         NaN  Vilniaus m. sav.
 3                                       None         NaN  Vilniaus m. sav.
 4                                       None         NaN  Vilniaus m. sav.
 ...                                      ...         ...               ...
 1262404                                 None         NaN  Vilniaus m. sav.
 1262405                                 None         NaN  Vilniaus m. sav.
 1262406                                 None         NaN  Vilniaus m. sav.
 1262407  KontroliuojanÄiÅ³jÅ³ bendroviÅ³ veikla    642000.0  Vilniaus m. sav.
 1262408  KontroliuojanÄiÅ³jÅ³ bendroviÅ³ veikla    642000.0  Vilniaus m. sav.

 [1262409 rows x 9 columns],
           ja_kodas   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   202201      NaN       NaN           3            0
 1                   202201  1758.46       NaN           8            0
 2                   202201  1834.75       NaN           6            0
 3                   202201  1258.85       NaN          21            0
 4                   202201  1213.67       NaN          18            0
 ...            ...     ...      ...       ...         ...          ...
 1251228  306199583  202212      NaN       NaN           1            0
 1251229  306200929  202212      NaN       NaN           1            0
 1251230  306201109  202212      NaN       NaN           1            0
 1251231  306201155  202212      NaN       NaN           2            0
 1251232  306201657  202212      NaN       NaN           1            0

                                                 ecoActName  ecoActCode  \
 0                                                     None         NaN
 1                                                     None         NaN
 2                                                     None         NaN
 3                                                     None         NaN
 4                                                     None         NaN
 ...                                                    ...         ...
 1251228  Kita, niekur kitur nepriskirta, verslui bÅ«ding...    829900.0
 1251229         KonsultacinÄ— verslo ir kito valdymo veikla    702200.0
 1251230  AutomobiliÅ³ ir lengvÅ³jÅ³ varikliniÅ³ transporto ...    451100.0
 1251231                 MÄ—sos perdirbimas ir konservavimas    101100.0
 1251232                 Å½moniÅ³ sveikatos prieÅ¾iÅ«ros veikla    860000.0

              municipality
 0        Vilniaus m. sav.
 1        Vilniaus m. sav.
 2        Vilniaus m. sav.
 3        Vilniaus m. sav.
 4        Vilniaus m. sav.
 ...                   ...
 1251228  Vilniaus m. sav.
 1251229     Kauno m. sav.
 1251230     Kauno r. sav.
 1251231   Å iauliÅ³ r. sav.
 1251232  TauragÄ—s r. sav.

 [1251233 rows x 9 columns],
           ja_kodas   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   202101      NaN       NaN           3            0
 1                   202101  1690.69       NaN           8            0
 2                   202101  1746.65       NaN           7            0
 3                   202101  1216.86       NaN          23            0
 4                   202101  1169.69       NaN          18            0
 ...            ...     ...      ...       ...         ...          ...
 1227029  305963804  202112      NaN       NaN           1            0
 1227030  305964233  202112      NaN       NaN           1            0
 1227031  305964703  202112      NaN       NaN           1            0
 1227032  305965118  202112      NaN       NaN           1            0
 1227033  305966896  202112      NaN       NaN           2            0

                                                 ecoActName  ecoActCode  \
 0                                                     None         NaN
 1                                                     None         NaN
 2                                                     None         NaN
 3                                                     None         NaN
 4                                                     None         NaN
 ...                                                    ...         ...
 1227029                  Nespecializuota didmeninÄ— prekyba    469000.0
 1227030                        KonsultacinÄ— valdymo veikla    702000.0
 1227031                   InÅ¾inerinÄ— - technologinÄ— veikla    711210.0
 1227032  BuitiniÅ³ aparatÅ³ ir prietaisÅ³, namÅ³ bei sodo Ä¯...    952200.0
 1227033  Krovininis keliÅ³ transportas ir perkraustymo v...    494000.0

               municipality
 0         Vilniaus m. sav.
 1         Vilniaus m. sav.
 2         Vilniaus m. sav.
 3         Vilniaus m. sav.
 4         Vilniaus m. sav.
 ...                    ...
 1227029   Vilniaus r. sav.
 1227030   Vilniaus m. sav.
 1227031   Vilniaus m. sav.
 1227032   Vilniaus m. sav.
 1227033  KlaipÄ—dos r. sav.

 [1227034 rows x 9 columns],
           ja_kodas   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   202001      NaN       NaN           3            0
 1                   202001  1763.61       NaN           7            0
 2                   202001  2045.02       NaN           6            0
 3                   202001  1272.62       NaN          23            0
 4                   202001  1147.08       NaN          18            0
 ...            ...     ...      ...       ...         ...          ...
 1177768  305672446  202012      NaN       NaN           1            0
 1177769  305672510  202012      NaN       NaN           1            0
 1177770  305672962  202012      NaN       NaN           1            0
 1177771  305673306  202012      NaN       NaN           1            0
 1177772  305673594  202012      NaN       NaN           1            0

                                                 ecoActName  ecoActCode  \
 0                                                     None         NaN
 1                                                     None         NaN
 2                                                     None         NaN
 3                                                     None         NaN
 4                                                     None         NaN
 ...                                                    ...         ...
 1177768                    KompiuteriÅ³ konsultacinÄ— veikla    620200.0
 1177769  AutomobiliÅ³ ir lengvÅ³jÅ³ varikliniÅ³ transporto ...    451100.0
 1177770  DidmeninÄ— prekyba, iÅ¡skyrus prekybÄ… variklinÄ—m...    460000.0
 1177771                                               None         NaN
 1177772                 Maitinimo ir gÄ—rimÅ³ teikimo veikla    560000.0

               municipality
 0         Vilniaus m. sav.
 1         Vilniaus m. sav.
 2         Vilniaus m. sav.
 3         Vilniaus m. sav.
 4         Vilniaus m. sav.
 ...                    ...
 1177768  KlaipÄ—dos m. sav.
 1177769    Å iauliÅ³ m. sav.
 1177770   Vilniaus m. sav.
 1177771      Kauno m. sav.
 1177772   RokiÅ¡kio r. sav.

 [1177773 rows x 9 columns],
           ja_kodas   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   201901      NaN       NaN           3            0
 1                   201901  1712.98       NaN           8            0
 2                   201901  2266.82       NaN           5            0
 3                   201901  1278.02       NaN          22            0
 4                   201901  1059.64       NaN          20            0
 ...            ...     ...      ...       ...         ...          ...
 1163324  305399588  201912      NaN       NaN           1            0
 1163325  305400001  201912      NaN       NaN           1            0
 1163326  305402454  201912      NaN       NaN           1            0
 1163327  305403428  201912      NaN       NaN           1            0
 1163328  305408973  201912      NaN       NaN           1            0

                                          ecoActName  ecoActCode  \
 0                                              None         NaN
 1                                              None         NaN
 2                                              None         NaN
 3                                              None         NaN
 4                                              None         NaN
 ...                                             ...         ...
 1163324                              StatybÅ³ plÄ—tra    411000.0
 1163325                                        None         NaN
 1163326                   Apsaugos ir tyrimo veikla    800000.0
 1163327  KonsultacinÄ— verslo ir kito valdymo veikla    702200.0
 1163328  KonsultacinÄ— verslo ir kito valdymo veikla    702200.0

               municipality
 0         Vilniaus m. sav.
 1         Vilniaus m. sav.
 2         Vilniaus m. sav.
 3         Vilniaus m. sav.
 4         Vilniaus m. sav.
 ...                    ...
 1163324        Nenustatyta
 1163325    VarÄ—nos r. sav.
 1163326    Alytaus m. sav.
 1163327   Vilniaus m. sav.
 1163328  KlaipÄ—dos r. sav.

 [1163329 rows x 9 columns]]

### Removing non ja_kodas firms from the data.

In [5]:

# Setting ja_kodas to numeric type:

set_columns_to_numeric(E, 'ja_kodas')

E = remove_rows_by_value(
    data=E,
    columns='ja_kodas',
    values=[],
    include_nan=True,
    verbose=True
)

Processing DataFrame 0
Converted column 'ja_kodas' to numeric type

ðŸ“Š Processing Summary:
   âœ… Converted 1 columns to numeric
   â­ï¸  Skipped 0 columns (not found)
   ðŸ—‘ï¸  Dropped 0 columns

Processing DataFrame 1
Converted column 'ja_kodas' to numeric type

ðŸ“Š Processing Summary:
   âœ… Converted 1 columns to numeric
   â­ï¸  Skipped 0 columns (not found)
   ðŸ—‘ï¸  Dropped 0 columns

Processing DataFrame 2
Converted column 'ja_kodas' to numeric type

ðŸ“Š Processing Summary:
   âœ… Converted 1 columns to numeric
   â­ï¸  Skipped 0 columns (not found)
   ðŸ—‘ï¸  Dropped 0 columns

Processing DataFrame 3
Converted column 'ja_kodas' to numeric type

ðŸ“Š Processing Summary:
   âœ… Converted 1 columns to numeric
   â­ï¸  Skipped 0 columns (not found)
   ðŸ—‘ï¸  Dropped 0 columns

Processing DataFrame 4
Converted column 'ja_kodas' to numeric type

ðŸ“Š Processing Summary:
   âœ… Converted 1 columns to numeric
   â­ï¸  Skipped 0 columns (not found)
   ðŸ—‘ï¸  Dropped 0 columns

Processing DataFrame 5
Converted column 'ja_kodas' to numeric type

ðŸ“Š Processing Summary:
   âœ… Converted 1 columns to numeric
   â­ï¸  Skipped 0 columns (not found)
   ðŸ—‘ï¸  Dropped 0 columns
DataFrame 0: Checking column 'ja_kodas' for 0 values (including NaN)
DataFrame 0: Removed 7486 rows
DataFrame 1: Checking column 'ja_kodas' for 0 values (including NaN)
DataFrame 1: Removed 7400 rows
DataFrame 2: Checking column 'ja_kodas' for 0 values (including NaN)
DataFrame 2: Removed 7238 rows
DataFrame 3: Checking column 'ja_kodas' for 0 values (including NaN)
DataFrame 3: Removed 6612 rows
DataFrame 4: Checking column 'ja_kodas' for 0 values (including NaN)
DataFrame 4: Removed 6236 rows
DataFrame 5: Checking column 'ja_kodas' for 0 values (including NaN)
DataFrame 5: Removed 5839 rows

ðŸŽ¯ FINAL SUMMARY:
   ðŸ“¦ Processed 6 DataFrames
   ðŸ—‘ï¸  Total rows removed: 40811

### Merging numInsured and numInsured2 into total_employees by summing them up.

In [6]:
print(E[0].head())

         ja_kodas   month  avgWage  avgWage2  numInsured  numInsured2  \
7486  110003978.0  202401      NaN       NaN           2            0
7487  110003978.0  202402      NaN       NaN           2            0
7488  110003978.0  202403      NaN       NaN           2            0
7489  110003978.0  202404      NaN       NaN           2            0
7490  110003978.0  202405      NaN       NaN           2            0

                                             ecoActName  ecoActCode  \
7486  Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
7487  Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
7488  Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
7489  Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
7490  Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0

          municipality
7486  Vilniaus m. sav.
7487  Vilniaus m. sav.
7488  Vilniaus m. sav.
7489  Vilniaus m. sav.
7490  Vilniaus m. sav.

### Creating total employees column and a single average wage column.

In [7]:
# employees
create_variable_eval(E, 'employees', '`numInsured` + `numInsured2`', fill_na=0)


# wages
create_variable_eval(E, 'average_wage', '(`avgWage` * `numInsured` + `avgWage2` * `numInsured2` ) / (`numInsured` + `numInsured2`)', fill_na=0)


# removing redundant columns
remove_columns(E, ['numInsured', 'numInsured2', 'avgWage', 'avgWage2'], inplace=True)

set_dataframe_values(E, 0, np.nan, columns='average_wage', inplace=True)

# Rounding everything to 2 decimals:

round_dataframe_values(E, 2, inplace=True)

Using NaN-handled formula: `numInsured`.fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0)
âœ“ Modified DataFrame with formula '`numInsured`.fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0)' -> 'employees' at [0]
Using NaN-handled formula: `numInsured`.fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0)
âœ“ Modified DataFrame with formula '`numInsured`.fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0)' -> 'employees' at [1]
Using NaN-handled formula: `numInsured`.fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0)
âœ“ Modified DataFrame with formula '`numInsured`.fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0)' -> 'employees' at [2]
Using NaN-handled formula: `numInsured`.fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0)
âœ“ Modified DataFrame with formula '`numInsured`.fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0)' -> 'employees' at [3]
Using NaN-handled formula: `numInsured`.fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0)
âœ“ Modified DataFrame with formula '`numInsured`.fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0)' -> 'employees' at [4]
Using NaN-handled formula: `numInsured`.fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0)
âœ“ Modified DataFrame with formula '`numInsured`.fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0)' -> 'employees' at [5]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 6
Successful: 6 (100.0%)
Failed: 0
Final formula used: `numInsured`.fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0)
Using NaN-handled formula: (`avgWage`.fillna(0).fillna(0) * `numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `avgWage2`.fillna(0).fillna(0) * `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0) ) / (`numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0))

/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:4041: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df[new_column_name] = working_df.eval(final_formula)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:4041: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df[new_column_name] = working_df.eval(final_formula)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:4041: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df[new_column_name] = working_df.eval(final_formula)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:4041: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df[new_column_name] = working_df.eval(final_formula)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:4041: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df[new_column_name] = working_df.eval(final_formula)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:4041: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df[new_column_name] = working_df.eval(final_formula)

âœ“ Modified DataFrame with formula '(`avgWage`.fillna(0).fillna(0) * `numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `avgWage2`.fillna(0).fillna(0) * `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0) ) / (`numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0))' -> 'average_wage' at [0]
Using NaN-handled formula: (`avgWage`.fillna(0).fillna(0) * `numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `avgWage2`.fillna(0).fillna(0) * `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0) ) / (`numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0))

/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:4041: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df[new_column_name] = working_df.eval(final_formula)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:4041: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df[new_column_name] = working_df.eval(final_formula)

âœ“ Modified DataFrame with formula '(`avgWage`.fillna(0).fillna(0) * `numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `avgWage2`.fillna(0).fillna(0) * `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0) ) / (`numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0))' -> 'average_wage' at [1]
Using NaN-handled formula: (`avgWage`.fillna(0).fillna(0) * `numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `avgWage2`.fillna(0).fillna(0) * `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0) ) / (`numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0))
âœ“ Modified DataFrame with formula '(`avgWage`.fillna(0).fillna(0) * `numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `avgWage2`.fillna(0).fillna(0) * `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0) ) / (`numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0))' -> 'average_wage' at [2]
Using NaN-handled formula: (`avgWage`.fillna(0).fillna(0) * `numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `avgWage2`.fillna(0).fillna(0) * `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0) ) / (`numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0))

/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:4041: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df[new_column_name] = working_df.eval(final_formula)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:4041: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df[new_column_name] = working_df.eval(final_formula)

âœ“ Modified DataFrame with formula '(`avgWage`.fillna(0).fillna(0) * `numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `avgWage2`.fillna(0).fillna(0) * `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0) ) / (`numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0))' -> 'average_wage' at [3]
Using NaN-handled formula: (`avgWage`.fillna(0).fillna(0) * `numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `avgWage2`.fillna(0).fillna(0) * `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0) ) / (`numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0))
âœ“ Modified DataFrame with formula '(`avgWage`.fillna(0).fillna(0) * `numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `avgWage2`.fillna(0).fillna(0) * `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0) ) / (`numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0))' -> 'average_wage' at [4]
Using NaN-handled formula: (`avgWage`.fillna(0).fillna(0) * `numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `avgWage2`.fillna(0).fillna(0) * `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0) ) / (`numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0))

/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:4041: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df[new_column_name] = working_df.eval(final_formula)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:4041: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df[new_column_name] = working_df.eval(final_formula)

âœ“ Modified DataFrame with formula '(`avgWage`.fillna(0).fillna(0) * `numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `avgWage2`.fillna(0).fillna(0) * `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0) ) / (`numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0))' -> 'average_wage' at [5]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 6
Successful: 6 (100.0%)
Failed: 0
Final formula used: (`avgWage`.fillna(0).fillna(0) * `numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `avgWage2`.fillna(0).fillna(0) * `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0) ) / (`numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0))
ðŸ“Š DataFrame 0:
   âœ… Removed: ['numInsured', 'numInsured2', 'avgWage', 'avgWage2']
   ðŸ“‹ Remaining columns: 7

/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:967: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=existing_cols, inplace=True)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:967: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=existing_cols, inplace=True)

ðŸ“Š DataFrame 1:
   âœ… Removed: ['numInsured', 'numInsured2', 'avgWage', 'avgWage2']
   ðŸ“‹ Remaining columns: 7
ðŸ“Š DataFrame 2:
   âœ… Removed: ['numInsured', 'numInsured2', 'avgWage', 'avgWage2']
   ðŸ“‹ Remaining columns: 7

/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:967: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=existing_cols, inplace=True)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:967: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=existing_cols, inplace=True)

ðŸ“Š DataFrame 3:
   âœ… Removed: ['numInsured', 'numInsured2', 'avgWage', 'avgWage2']
   ðŸ“‹ Remaining columns: 7
ðŸ“Š DataFrame 4:
   âœ… Removed: ['numInsured', 'numInsured2', 'avgWage', 'avgWage2']
   ðŸ“‹ Remaining columns: 7

/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:967: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=existing_cols, inplace=True)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:967: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=existing_cols, inplace=True)

ðŸ“Š DataFrame 5:
   âœ… Removed: ['numInsured', 'numInsured2', 'avgWage', 'avgWage2']
   ðŸ“‹ Remaining columns: 7

ðŸŽ¯ FINAL SUMMARY:
   ðŸ“¦ Processed 6 DataFrames
   ðŸ—‘ï¸  Total columns removed: 24
   â­ï¸  Total columns skipped: 0

ðŸ“„ Processing DataFrame 1/6
   Shape: (1257866, 7)
ðŸ”§ Value Replacement Summary:
   ðŸ“Š Total replacements: 754659
   ðŸŽ¯ Target value: 0 â†’ New value: nan
   ðŸ“ Columns affected: 1
   ðŸ“ˆ Replacements by column:
      - average_wage: 754659 replacements

ðŸ“„ Processing DataFrame 2/6
   Shape: (1255009, 7)
ðŸ”§ Value Replacement Summary:
   ðŸ“Š Total replacements: 744679
   ðŸŽ¯ Target value: 0 â†’ New value: nan
   ðŸ“ Columns affected: 1
   ðŸ“ˆ Replacements by column:
      - average_wage: 744679 replacements

ðŸ“„ Processing DataFrame 3/6
   Shape: (1243995, 7)
ðŸ”§ Value Replacement Summary:
   ðŸ“Š Total replacements: 727814
   ðŸŽ¯ Target value: 0 â†’ New value: nan
   ðŸ“ Columns affected: 1
   ðŸ“ˆ Replacements by column:
      - average_wage: 727814 replacements

ðŸ“„ Processing DataFrame 4/6
   Shape: (1220422, 7)
ðŸ”§ Value Replacement Summary:
   ðŸ“Š Total replacements: 704217
   ðŸŽ¯ Target value: 0 â†’ New value: nan
   ðŸ“ Columns affected: 1
   ðŸ“ˆ Replacements by column:
      - average_wage: 704217 replacements

ðŸ“„ Processing DataFrame 5/6
   Shape: (1171537, 7)
ðŸ”§ Value Replacement Summary:
   ðŸ“Š Total replacements: 668134
   ðŸŽ¯ Target value: 0 â†’ New value: nan
   ðŸ“ Columns affected: 1
   ðŸ“ˆ Replacements by column:
      - average_wage: 668134 replacements

ðŸ“„ Processing DataFrame 6/6
   Shape: (1157490, 7)
ðŸ”§ Value Replacement Summary:
   ðŸ“Š Total replacements: 641713
   ðŸŽ¯ Target value: 0 â†’ New value: nan
   ðŸ“ Columns affected: 1
   ðŸ“ˆ Replacements by column:
      - average_wage: 641713 replacements

âœ… INPLACE OPERATION COMPLETED: Original DataFrame(s) modified

/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:3621: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[numeric_cols] = df[numeric_cols].round(dec)

[            ja_kodas   month  \
 7486     110003978.0  202401
 7487     110003978.0  202402
 7488     110003978.0  202403
 7489     110003978.0  202404
 7490     110003978.0  202405
 ...              ...     ...
 1265347  307049184.0  202412
 1265348  307050133.0  202412
 1265349  307050432.0  202412
 1265350  307050998.0  202412
 1265351  307054142.0  202412

                                                 ecoActName  ecoActCode  \
 7486     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 7487     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 7488     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 7489     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 7490     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 ...                                                    ...         ...
 1265347                                               None         NaN
 1265348                                               None         NaN
 1265349                                               None         NaN
 1265350                                               None         NaN
 1265351                                               None         NaN

               municipality  employees  average_wage
 7486      Vilniaus m. sav.          2           NaN
 7487      Vilniaus m. sav.          2           NaN
 7488      Vilniaus m. sav.          2           NaN
 7489      Vilniaus m. sav.          2           NaN
 7490      Vilniaus m. sav.          2           NaN
 ...                    ...        ...           ...
 1265347   Vilniaus m. sav.          2           NaN
 1265348   Vilniaus m. sav.          4       4823.23
 1265349   Vilniaus r. sav.          1           NaN
 1265350  KlaipÄ—dos r. sav.          2           NaN
 1265351  KlaipÄ—dos m. sav.          1           NaN

 [1257866 rows x 7 columns],
             ja_kodas   month  \
 7400     110003978.0  202301
 7401     110003978.0  202302
 7402     110003978.0  202303
 7403     110003978.0  202304
 7404     110003978.0  202305
 ...              ...     ...
 1262404  306634612.0  202311
 1262405  306634612.0  202312
 1262406  306635365.0  202311
 1262407  306638735.0  202311
 1262408  306638735.0  202312

                                                 ecoActName  ecoActCode  \
 7400     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 7401     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 7402     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 7403     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 7404     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 ...                                                    ...         ...
 1262404                                               None         NaN
 1262405                                               None         NaN
 1262406                                               None         NaN
 1262407                KontroliuojanÄiÅ³jÅ³ bendroviÅ³ veikla    642000.0
 1262408                KontroliuojanÄiÅ³jÅ³ bendroviÅ³ veikla    642000.0

              municipality  employees  average_wage
 7400     Vilniaus m. sav.          2           NaN
 7401     Vilniaus m. sav.          2           NaN
 7402     Vilniaus m. sav.          2           NaN
 7403     Vilniaus m. sav.          2           NaN
 7404     Vilniaus m. sav.          2           NaN
 ...                   ...        ...           ...
 1262404  Vilniaus m. sav.          5        143.27
 1262405  Vilniaus m. sav.         14        835.91
 1262406  Vilniaus m. sav.          1           NaN
 1262407  Vilniaus m. sav.          1           NaN
 1262408  Vilniaus m. sav.          1           NaN

 [1255009 rows x 7 columns],
             ja_kodas   month  \
 7238     110003978.0  202201
 7239     110003978.0  202202
 7240     110003978.0  202203
 7241     110003978.0  202204
 7242     110003978.0  202205
 ...              ...     ...
 1251228  306199583.0  202212
 1251229  306200929.0  202212
 1251230  306201109.0  202212
 1251231  306201155.0  202212
 1251232  306201657.0  202212

                                                 ecoActName  ecoActCode  \
 7238     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 7239     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 7240     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 7241     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 7242     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 ...                                                    ...         ...
 1251228  Kita, niekur kitur nepriskirta, verslui bÅ«ding...    829900.0
 1251229         KonsultacinÄ— verslo ir kito valdymo veikla    702200.0
 1251230  AutomobiliÅ³ ir lengvÅ³jÅ³ varikliniÅ³ transporto ...    451100.0
 1251231                 MÄ—sos perdirbimas ir konservavimas    101100.0
 1251232                 Å½moniÅ³ sveikatos prieÅ¾iÅ«ros veikla    860000.0

              municipality  employees  average_wage
 7238     Vilniaus m. sav.          2           NaN
 7239     Vilniaus m. sav.          2           NaN
 7240     Vilniaus m. sav.          2           NaN
 7241     Vilniaus m. sav.          2           NaN
 7242     Vilniaus m. sav.          2           NaN
 ...                   ...        ...           ...
 1251228  Vilniaus m. sav.          1           NaN
 1251229     Kauno m. sav.          1           NaN
 1251230     Kauno r. sav.          1           NaN
 1251231   Å iauliÅ³ r. sav.          2           NaN
 1251232  TauragÄ—s r. sav.          1           NaN

 [1243995 rows x 7 columns],
             ja_kodas   month  \
 6612     110003978.0  202101
 6613     110003978.0  202102
 6614     110003978.0  202103
 6615     110003978.0  202104
 6616     110003978.0  202105
 ...              ...     ...
 1227029  305963804.0  202112
 1227030  305964233.0  202112
 1227031  305964703.0  202112
 1227032  305965118.0  202112
 1227033  305966896.0  202112

                                                 ecoActName  ecoActCode  \
 6612     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 6613     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 6614     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 6615     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 6616     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 ...                                                    ...         ...
 1227029                  Nespecializuota didmeninÄ— prekyba    469000.0
 1227030                        KonsultacinÄ— valdymo veikla    702000.0
 1227031                   InÅ¾inerinÄ— - technologinÄ— veikla    711210.0
 1227032  BuitiniÅ³ aparatÅ³ ir prietaisÅ³, namÅ³ bei sodo Ä¯...    952200.0
 1227033  Krovininis keliÅ³ transportas ir perkraustymo v...    494000.0

               municipality  employees  average_wage
 6612      Vilniaus m. sav.          2           NaN
 6613      Vilniaus m. sav.          2           NaN
 6614      Vilniaus m. sav.          2           NaN
 6615      Vilniaus m. sav.          3           NaN
 6616      Vilniaus m. sav.          3           NaN
 ...                    ...        ...           ...
 1227029   Vilniaus r. sav.          1           NaN
 1227030   Vilniaus m. sav.          1           NaN
 1227031   Vilniaus m. sav.          1           NaN
 1227032   Vilniaus m. sav.          1           NaN
 1227033  KlaipÄ—dos r. sav.          2           NaN

 [1220422 rows x 7 columns],
             ja_kodas   month  \
 6236     110003978.0  202001
 6237     110003978.0  202002
 6238     110003978.0  202003
 6239     110003978.0  202004
 6240     110003978.0  202005
 ...              ...     ...
 1177768  305672446.0  202012
 1177769  305672510.0  202012
 1177770  305672962.0  202012
 1177771  305673306.0  202012
 1177772  305673594.0  202012

                                                 ecoActName  ecoActCode  \
 6236     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 6237     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 6238     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 6239     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 6240     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 ...                                                    ...         ...
 1177768                    KompiuteriÅ³ konsultacinÄ— veikla    620200.0
 1177769  AutomobiliÅ³ ir lengvÅ³jÅ³ varikliniÅ³ transporto ...    451100.0
 1177770  DidmeninÄ— prekyba, iÅ¡skyrus prekybÄ… variklinÄ—m...    460000.0
 1177771                                               None         NaN
 1177772                 Maitinimo ir gÄ—rimÅ³ teikimo veikla    560000.0

               municipality  employees  average_wage
 6236      Vilniaus m. sav.          2           NaN
 6237      Vilniaus m. sav.          2           NaN
 6238      Vilniaus m. sav.          2           NaN
 6239      Vilniaus m. sav.          2           NaN
 6240      Vilniaus m. sav.          2           NaN
 ...                    ...        ...           ...
 1177768  KlaipÄ—dos m. sav.          1           NaN
 1177769    Å iauliÅ³ m. sav.          1           NaN
 1177770   Vilniaus m. sav.          1           NaN
 1177771      Kauno m. sav.          1           NaN
 1177772   RokiÅ¡kio r. sav.          1           NaN

 [1171537 rows x 7 columns],
             ja_kodas   month  \
 5839     110003978.0  201901
 5840     110003978.0  201902
 5841     110003978.0  201903
 5842     110003978.0  201904
 5843     110003978.0  201905
 ...              ...     ...
 1163324  305399588.0  201912
 1163325  305400001.0  201912
 1163326  305402454.0  201912
 1163327  305403428.0  201912
 1163328  305408973.0  201912

                                                 ecoActName  ecoActCode  \
 5839     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 5840     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 5841     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 5842     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 5843     Nuosavo arba nuomojamo nekilnojamojo turto nuo...    682000.0
 ...                                                    ...         ...
 1163324                                     StatybÅ³ plÄ—tra    411000.0
 1163325                                               None         NaN
 1163326                          Apsaugos ir tyrimo veikla    800000.0
 1163327         KonsultacinÄ— verslo ir kito valdymo veikla    702200.0
 1163328         KonsultacinÄ— verslo ir kito valdymo veikla    702200.0

               municipality  employees  average_wage
 5839      Vilniaus m. sav.          2           NaN
 5840      Vilniaus m. sav.          2           NaN
 5841      Vilniaus m. sav.          2           NaN
 5842      Vilniaus m. sav.          2           NaN
 5843      Vilniaus m. sav.          2           NaN
 ...                    ...        ...           ...
 1163324        Nenustatyta          1           NaN
 1163325    VarÄ—nos r. sav.          1           NaN
 1163326    Alytaus m. sav.          1           NaN
 1163327   Vilniaus m. sav.          1           NaN
 1163328  KlaipÄ—dos r. sav.          1           NaN

 [1157490 rows x 7 columns]]

### Pivoting the data so that each row represents a unique firm-month combination with employment numbers as values.

In [8]:
# Extracing municipality, ja_kodas and ecoActCode for later merging back:

EforMerge = extract_columns(E, ['ja_kodas', 'municipality', 'ecoActCode', 'ecoActName'])

# Removing the columns from the main dataframes:
remove_columns(E, ['municipality', 'ecoActCode', 'ecoActName'])

DataFrame 0: Extracted 4 columns, processed shape: (1257866, 7)
DataFrame 1: Extracted 4 columns, processed shape: (1255009, 7)
DataFrame 2: Extracted 4 columns, processed shape: (1243995, 7)
DataFrame 3: Extracted 4 columns, processed shape: (1220422, 7)
DataFrame 4: Extracted 4 columns, processed shape: (1171537, 7)
DataFrame 5: Extracted 4 columns, processed shape: (1157490, 7)
ðŸ“Š DataFrame 0:
   âœ… Removed: ['municipality', 'ecoActCode', 'ecoActName']
   ðŸ“‹ Remaining columns: 4
ðŸ“Š DataFrame 1:
   âœ… Removed: ['municipality', 'ecoActCode', 'ecoActName']
   ðŸ“‹ Remaining columns: 4
ðŸ“Š DataFrame 2:
   âœ… Removed: ['municipality', 'ecoActCode', 'ecoActName']
   ðŸ“‹ Remaining columns: 4

/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:967: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=existing_cols, inplace=True)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:967: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=existing_cols, inplace=True)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:967: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=existing_cols, inplace=True)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:967: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=existing_cols, inplace=True)

ðŸ“Š DataFrame 3:
   âœ… Removed: ['municipality', 'ecoActCode', 'ecoActName']
   ðŸ“‹ Remaining columns: 4
ðŸ“Š DataFrame 4:
   âœ… Removed: ['municipality', 'ecoActCode', 'ecoActName']
   ðŸ“‹ Remaining columns: 4
ðŸ“Š DataFrame 5:
   âœ… Removed: ['municipality', 'ecoActCode', 'ecoActName']
   ðŸ“‹ Remaining columns: 4

ðŸŽ¯ FINAL SUMMARY:
   ðŸ“¦ Processed 6 DataFrames
   ðŸ—‘ï¸  Total columns removed: 18
   â­ï¸  Total columns skipped: 0

/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:967: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=existing_cols, inplace=True)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:967: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=existing_cols, inplace=True)

[            ja_kodas   month  employees  average_wage
 7486     110003978.0  202401          2           NaN
 7487     110003978.0  202402          2           NaN
 7488     110003978.0  202403          2           NaN
 7489     110003978.0  202404          2           NaN
 7490     110003978.0  202405          2           NaN
 ...              ...     ...        ...           ...
 1265347  307049184.0  202412          2           NaN
 1265348  307050133.0  202412          4       4823.23
 1265349  307050432.0  202412          1           NaN
 1265350  307050998.0  202412          2           NaN
 1265351  307054142.0  202412          1           NaN

 [1257866 rows x 4 columns],
             ja_kodas   month  employees  average_wage
 7400     110003978.0  202301          2           NaN
 7401     110003978.0  202302          2           NaN
 7402     110003978.0  202303          2           NaN
 7403     110003978.0  202304          2           NaN
 7404     110003978.0  202305          2           NaN
 ...              ...     ...        ...           ...
 1262404  306634612.0  202311          5        143.27
 1262405  306634612.0  202312         14        835.91
 1262406  306635365.0  202311          1           NaN
 1262407  306638735.0  202311          1           NaN
 1262408  306638735.0  202312          1           NaN

 [1255009 rows x 4 columns],
             ja_kodas   month  employees  average_wage
 7238     110003978.0  202201          2           NaN
 7239     110003978.0  202202          2           NaN
 7240     110003978.0  202203          2           NaN
 7241     110003978.0  202204          2           NaN
 7242     110003978.0  202205          2           NaN
 ...              ...     ...        ...           ...
 1251228  306199583.0  202212          1           NaN
 1251229  306200929.0  202212          1           NaN
 1251230  306201109.0  202212          1           NaN
 1251231  306201155.0  202212          2           NaN
 1251232  306201657.0  202212          1           NaN

 [1243995 rows x 4 columns],
             ja_kodas   month  employees  average_wage
 6612     110003978.0  202101          2           NaN
 6613     110003978.0  202102          2           NaN
 6614     110003978.0  202103          2           NaN
 6615     110003978.0  202104          3           NaN
 6616     110003978.0  202105          3           NaN
 ...              ...     ...        ...           ...
 1227029  305963804.0  202112          1           NaN
 1227030  305964233.0  202112          1           NaN
 1227031  305964703.0  202112          1           NaN
 1227032  305965118.0  202112          1           NaN
 1227033  305966896.0  202112          2           NaN

 [1220422 rows x 4 columns],
             ja_kodas   month  employees  average_wage
 6236     110003978.0  202001          2           NaN
 6237     110003978.0  202002          2           NaN
 6238     110003978.0  202003          2           NaN
 6239     110003978.0  202004          2           NaN
 6240     110003978.0  202005          2           NaN
 ...              ...     ...        ...           ...
 1177768  305672446.0  202012          1           NaN
 1177769  305672510.0  202012          1           NaN
 1177770  305672962.0  202012          1           NaN
 1177771  305673306.0  202012          1           NaN
 1177772  305673594.0  202012          1           NaN

 [1171537 rows x 4 columns],
             ja_kodas   month  employees  average_wage
 5839     110003978.0  201901          2           NaN
 5840     110003978.0  201902          2           NaN
 5841     110003978.0  201903          2           NaN
 5842     110003978.0  201904          2           NaN
 5843     110003978.0  201905          2           NaN
 ...              ...     ...        ...           ...
 1163324  305399588.0  201912          1           NaN
 1163325  305400001.0  201912          1           NaN
 1163326  305402454.0  201912          1           NaN
 1163327  305403428.0  201912          1           NaN
 1163328  305408973.0  201912          1           NaN

 [1157490 rows x 4 columns]]

In [9]:

# Pivoting the data:

Epivot = pivot_dfs_smart_flexible(
    dataframes=E,
    pivot_column='month',
    value_columns=['average_wage', 'employees'],  # Multiple value columns as list
    id_columns='ja_kodas',                        # Single ID column as string
    verbose=True,
    inplace=False
)

ðŸ†• NEW OBJECT MODE: Creating new DataFrame(s)
DataFrame 0: Pivoting 2 value columns using single ID column 'ja_kodas'
Pivot created 24 new columns from 2 value columns
Kept 1 additional columns unchanged
DataFrame 0: Successfully pivoted. Original shape: (1257866, 4), Pivoted shape: (114155, 25)
DataFrame 1: Pivoting 2 value columns using single ID column 'ja_kodas'
Pivot created 24 new columns from 2 value columns
Kept 1 additional columns unchanged
DataFrame 1: Successfully pivoted. Original shape: (1255009, 4), Pivoted shape: (113561, 25)
DataFrame 2: Pivoting 2 value columns using single ID column 'ja_kodas'
Pivot created 24 new columns from 2 value columns
Kept 1 additional columns unchanged
DataFrame 2: Successfully pivoted. Original shape: (1243995, 4), Pivoted shape: (112847, 25)
DataFrame 3: Pivoting 2 value columns using single ID column 'ja_kodas'
Pivot created 24 new columns from 2 value columns
Kept 1 additional columns unchanged
DataFrame 3: Successfully pivoted. Original shape: (1220422, 4), Pivoted shape: (110187, 25)
DataFrame 4: Pivoting 2 value columns using single ID column 'ja_kodas'
Pivot created 24 new columns from 2 value columns
Kept 1 additional columns unchanged
DataFrame 4: Successfully pivoted. Original shape: (1171537, 4), Pivoted shape: (106801, 25)
DataFrame 5: Pivoting 2 value columns using single ID column 'ja_kodas'
Pivot created 24 new columns from 2 value columns
Kept 1 additional columns unchanged
DataFrame 5: Successfully pivoted. Original shape: (1157490, 4), Pivoted shape: (105022, 25)

### Calculating the yearly averages for employment and wages.

In [10]:
# Most straightforward approach - process each DataFrame directly
for i, df in enumerate(Epivot):
    print(f"Processing DataFrame {i}...")

    # Get ALL columns with the prefixes (will work for any year)
    wage_cols = [col for col in df.columns if 'average_wage_' in col]
    emp_cols = [col for col in df.columns if 'employees_' in col]

    # Use simple pandas mean (most reliable)
    if wage_cols:
        df['yearly_average_wage'] = df[wage_cols].mean(axis=1, skipna=True)

    if emp_cols:
        df['yearly_average_employees'] = df[emp_cols].mean(axis=1, skipna=True)

    print(f"  Added averages using {len(wage_cols)} wage columns and {len(emp_cols)} employee columns")

print("All DataFrames processed!")
print(Epivot[0][['ja_kodas', 'yearly_average_wage', 'yearly_average_employees']].head())

Processing DataFrame 0...
  Added averages using 12 wage columns and 12 employee columns
Processing DataFrame 1...
  Added averages using 12 wage columns and 12 employee columns
Processing DataFrame 2...
  Added averages using 12 wage columns and 12 employee columns
Processing DataFrame 3...
  Added averages using 12 wage columns and 12 employee columns
Processing DataFrame 4...
  Added averages using 12 wage columns and 12 employee columns
Processing DataFrame 5...
  Added averages using 12 wage columns and 12 employee columns
All DataFrames processed!
      ja_kodas  yearly_average_wage  yearly_average_employees
0  110003978.0                  NaN                  2.250000
1  110004884.0          1718.286667                233.083333
2  110005648.0          2391.440833                  6.750000
3  110006892.0           693.481667                  3.750000
4  110008377.0          1691.996667                  4.000000

In [11]:
# Extracting the averages for later merging back:
EyearlyAvg = extract_columns(Epivot, ['ja_kodas', 'yearly_average_wage', 'yearly_average_employees'])

DataFrame 0: Extracted 3 columns, processed shape: (114155, 27)
DataFrame 1: Extracted 3 columns, processed shape: (113561, 27)
DataFrame 2: Extracted 3 columns, processed shape: (112847, 27)
DataFrame 3: Extracted 3 columns, processed shape: (110187, 27)
DataFrame 4: Extracted 3 columns, processed shape: (106801, 27)
DataFrame 5: Extracted 3 columns, processed shape: (105022, 27)

In [12]:
# Most straightforward approach - process each DataFrame directly
for i, df in enumerate(Epivot):
    print(f"Processing DataFrame {i}...")

    # Get ALL columns with the prefixes (will work for any year)
    wage_cols = [col for col in df.columns if 'average_wage_' in col]
    emp_cols = [col for col in df.columns if 'employees_' in col]

    # Use simple pandas mean (most reliable)
    if wage_cols:
        df['yearly_average_wage'] = df[wage_cols].mean(axis=1, skipna=True)

    if emp_cols:
        df['yearly_average_employees'] = df[emp_cols].mean(axis=1, skipna=True)

    print(f"  Added averages using {len(wage_cols)} wage columns and {len(emp_cols)} employee columns")

print("All DataFrames processed!")
print(Epivot[0][['ja_kodas', 'yearly_average_wage', 'yearly_average_employees']].head())

Processing DataFrame 0...
  Added averages using 12 wage columns and 12 employee columns
Processing DataFrame 1...
  Added averages using 12 wage columns and 12 employee columns
Processing DataFrame 2...
  Added averages using 12 wage columns and 12 employee columns
Processing DataFrame 3...
  Added averages using 12 wage columns and 12 employee columns
Processing DataFrame 4...
  Added averages using 12 wage columns and 12 employee columns
Processing DataFrame 5...
  Added averages using 12 wage columns and 12 employee columns
All DataFrames processed!
      ja_kodas  yearly_average_wage  yearly_average_employees
0  110003978.0                  NaN                  2.250000
1  110004884.0          1718.286667                233.083333
2  110005648.0          2391.440833                  6.750000
3  110006892.0           693.481667                  3.750000
4  110008377.0          1691.996667                  4.000000

In [13]:
# Extracting the averages for later merging back:
EyearlyAvg = extract_columns(Epivot, ['ja_kodas', 'yearly_average_wage', 'yearly_average_employees'])

DataFrame 0: Extracted 3 columns, processed shape: (114155, 27)
DataFrame 1: Extracted 3 columns, processed shape: (113561, 27)
DataFrame 2: Extracted 3 columns, processed shape: (112847, 27)
DataFrame 3: Extracted 3 columns, processed shape: (110187, 27)
DataFrame 4: Extracted 3 columns, processed shape: (106801, 27)
DataFrame 5: Extracted 3 columns, processed shape: (105022, 27)

### Merging back municipality and ecoActCode.

In [14]:
mergedEyearAvg = merge_similar_dfs(
    EyearlyAvg,
    EforMerge,
    merge_column='ja_kodas',
    how='left',
    handle_duplicates='first',
    verbose=True
)

round_dataframe_values(mergedEyearAvg, 0, inplace=True)

# Setting ja_kodas to integer type for better readability:
for df in mergedEyearAvg:
    df['ja_kodas'] = df['ja_kodas'].astype(int)

ðŸ”— MERGE CONFIGURATION:
   ðŸ“Š Input pairs: 6
   ðŸŽ¯ Merge column: 'ja_kodas'
   ðŸ”„ Merge type: left
   ðŸ“ Suffixes: None
   âœ… Validate: None
   ðŸ“ˆ Indicator: None
   ðŸ”„ Duplicate handling: first
   ðŸš« NaN handling: None
   ðŸ”§ Dtype conversion: auto
DF2 in pair 0: Removing 1143711 duplicate merge keys (keeping first)

--- Pair 0 Merge Diagnostics ---
DF1: 114155 rows, 114155 unique ja_kodas
DF2: 114155 rows, 114155 unique ja_kodas
Common ja_kodas: 114155
Merge type: left
Expected result rows: 114155
Duplicate handling: Removed 0 from DF1, 1143711 from DF2
Actual result rows: 114155
Pair 0: Successfully merged. Shapes: (114155, 3) + (1257866, 4) -> (114155, 6)
DF2 in pair 1: Removing 1141448 duplicate merge keys (keeping first)

--- Pair 1 Merge Diagnostics ---
DF1: 113561 rows, 113561 unique ja_kodas
DF2: 113561 rows, 113561 unique ja_kodas
Common ja_kodas: 113561
Merge type: left
Expected result rows: 113561
Duplicate handling: Removed 0 from DF1, 1141448 from DF2
Actual result rows: 113561
Pair 1: Successfully merged. Shapes: (113561, 3) + (1255009, 4) -> (113561, 6)
DF2 in pair 2: Removing 1131148 duplicate merge keys (keeping first)

--- Pair 2 Merge Diagnostics ---
DF1: 112847 rows, 112847 unique ja_kodas
DF2: 112847 rows, 112847 unique ja_kodas
Common ja_kodas: 112847
Merge type: left
Expected result rows: 112847
Duplicate handling: Removed 0 from DF1, 1131148 from DF2
Actual result rows: 112847
Pair 2: Successfully merged. Shapes: (112847, 3) + (1243995, 4) -> (112847, 6)
DF2 in pair 3: Removing 1110235 duplicate merge keys (keeping first)

--- Pair 3 Merge Diagnostics ---
DF1: 110187 rows, 110187 unique ja_kodas
DF2: 110187 rows, 110187 unique ja_kodas
Common ja_kodas: 110187
Merge type: left
Expected result rows: 110187
Duplicate handling: Removed 0 from DF1, 1110235 from DF2
Actual result rows: 110187
Pair 3: Successfully merged. Shapes: (110187, 3) + (1220422, 4) -> (110187, 6)
DF2 in pair 4: Removing 1064736 duplicate merge keys (keeping first)

--- Pair 4 Merge Diagnostics ---
DF1: 106801 rows, 106801 unique ja_kodas
DF2: 106801 rows, 106801 unique ja_kodas
Common ja_kodas: 106801
Merge type: left
Expected result rows: 106801
Duplicate handling: Removed 0 from DF1, 1064736 from DF2
Actual result rows: 106801
Pair 4: Successfully merged. Shapes: (106801, 3) + (1171537, 4) -> (106801, 6)
DF2 in pair 5: Removing 1052468 duplicate merge keys (keeping first)

--- Pair 5 Merge Diagnostics ---
DF1: 105022 rows, 105022 unique ja_kodas
DF2: 105022 rows, 105022 unique ja_kodas
Common ja_kodas: 105022
Merge type: left
Expected result rows: 105022
Duplicate handling: Removed 0 from DF1, 1052468 from DF2
Actual result rows: 105022
Pair 5: Successfully merged. Shapes: (105022, 3) + (1157490, 4) -> (105022, 6)

=== MERGE SUMMARY ===
âœ… Successful merges: 6/6
ðŸ“Š Total output DataFrames: 6

### Saving and exporting the cleaned data.

In [15]:
# Renaming the columns for better readability:
rename_columns_if_exist(mergedEyearAvg, ['yearly_average_wage', 'yearly_average_employees', 'municipality', 'ecoActCode', 'ecoActName'], ['Vidutinis atlyginimas (EUR)', 'DarbuotojÅ³ skaiÄius', 'SavivaldybÄ—', 'EkonominÄ—s veiklos kodas', 'EkonominÄ—s veiklos pavadinimas'])

Employment_data_averages_2024 = mergedEyearAvg[0]
Employment_data_averages_2023 = mergedEyearAvg[1]
Employment_data_averages_2022 = mergedEyearAvg[2]
Employment_data_averages_2021 = mergedEyearAvg[3]
Employment_data_averages_2020 = mergedEyearAvg[4]
Employment_data_averages_2019 = mergedEyearAvg[5]

# Saving to data/processed, as csv files:
save_df_list_to_csv_auto(mergedEyearAvg, '../../data/interim/employment/yearly_averages/')

['Employment_data_averages_2024',
 'Employment_data_averages_2023',
 'Employment_data_averages_2022',
 'Employment_data_averages_2021',
 'Employment_data_averages_2020',
 'df']