In [1]:
import pandas as pd
import numpy as np

# Import statements for Functions.py
import sys
import os

from src.python import set_columns_to_numeric, set_dataframe_values, extract_columns
from src.python.Functions import describe_dataframes, remove_columns, check_and_pull_git_lfs

sys.path.append(os.path.abspath(os.path.join('..', '..', 'src', 'python')))
from Functions import *

In [2]:
# Importing the data:
check_and_pull_git_lfs()
employment2024 = read_large_file('../../data/raw/firm-employment-data/monthly-2024.json', 'json')
employment2023 = read_large_file('../../data/raw/firm-employment-data/monthly-2023.json', 'json')
employment2022 = read_large_file('../../data/raw/firm-employment-data/monthly-2022.json', 'json')
employment2021 = read_large_file('../../data/raw/firm-employment-data/monthly-2021.json', 'json')
employment2020 = read_large_file('../../data/raw/firm-employment-data/monthly-2020.json', 'json')
employment2019 = read_large_file('../../data/raw/firm-employment-data/monthly-2019.json', 'json')

Target directory for LFS operations: /home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model
Current working directory: /home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/notebooks/preprocessing
Note: Using specified directory for LFS operations
Git LFS version: git-lfs/3.7.1 (GitHub; linux amd64; go 1.25.1)
Checking LFS status in target directory...
LFS Status Output:
On branch New-test-branch
Objects to be pushed to origin/New-test-branch:

	data/processed/Financial-tables/YoY-change/Full-financial-year/All-ja_kodas/Full_Financial_Year_All_ja_kodas_with_change_2024.csv (6f778b746337f5467f7d8377a35eae02efcdde58970906b319ffdb17f0a61122)

Objects to be committed:


Objects not staged for commit:

	notebooks/preprocessing/Employment-data-cleaning.ipynb (Git: 98cdca1 -> File: 9ec6319)


No Git LFS files need downloading
Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2024.json
File size: 494.15 MB
Detected standard JSON format (array/object)
Read JSON array with 1265352 rows
Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2023.json
File size: 493.55 MB
Detected standard JSON format (array/object)
Read JSON array with 1262409 rows
Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2022.json
File size: 489.66 MB
Detected standard JSON format (array/object)
Read JSON array with 1251233 rows
Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2021.json
File size: 498.07 MB
Detected standard JSON format (array/object)
Read JSON array with 1227034 rows
Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2020.json
File size: 478.72 MB
Detected standard JSON format (array/object)
Read JSON array with 1177773 rows
Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2019.json
File size: 473.09 MB
Detected standard JSON format (array/object)
Read JSON array with 1163329 rows

In [21]:

E2024 = employment2024.copy()
E2023 = employment2023.copy()
E2022 = employment2022.copy()
E2021 = employment2021.copy()
E2020 = employment2020.copy()
E2019 = employment2019.copy()

# Save in list for later use:
E = [E2024, E2023, E2022, E2021, E2020, E2019]

In [22]:
columns_to_remove = ['lookupId', 'code', 'name', 'shortname', 'ecoActName', 'tax']

remove_columns(E, columns_to_remove)

rename_columns_if_exist(E, 'jarCode', 'ja_kodas')

ğŸ“Š DataFrame 0:
   âœ… Removed: ['lookupId', 'code', 'name', 'shortname', 'ecoActName', 'tax']
   ğŸ“‹ Remaining columns: 8
ğŸ“Š DataFrame 1:
   âœ… Removed: ['lookupId', 'code', 'name', 'shortname', 'ecoActName', 'tax']
   ğŸ“‹ Remaining columns: 8
ğŸ“Š DataFrame 2:
   âœ… Removed: ['lookupId', 'code', 'name', 'shortname', 'ecoActName', 'tax']
   ğŸ“‹ Remaining columns: 8
ğŸ“Š DataFrame 3:
   âœ… Removed: ['lookupId', 'code', 'name', 'shortname', 'ecoActName', 'tax']
   ğŸ“‹ Remaining columns: 8
ğŸ“Š DataFrame 4:
   âœ… Removed: ['lookupId', 'code', 'name', 'shortname', 'ecoActName', 'tax']
   ğŸ“‹ Remaining columns: 8
ğŸ“Š DataFrame 5:
   âœ… Removed: ['lookupId', 'code', 'name', 'shortname', 'ecoActName', 'tax']
   ğŸ“‹ Remaining columns: 8

ğŸ¯ FINAL SUMMARY:
   ğŸ“¦ Processed 6 DataFrames
   ğŸ—‘ï¸  Total columns removed: 36
   â­ï¸  Total columns skipped: 0

[          ja_kodas   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   202401  2502.17       NaN           5            0
 1                   202401      NaN       NaN           3            0
 2                   202401  1470.39       NaN          24            0
 3                   202401  2509.23       NaN          10            0
 4                   202401  1247.19       NaN          19            0
 ...            ...     ...      ...       ...         ...          ...
 1265347  307049184  202412      NaN       NaN           2            0
 1265348  307050133  202412  4823.23       NaN           4            0
 1265349  307050432  202412      NaN       NaN           1            0
 1265350  307050998  202412      NaN       NaN           2            0
 1265351  307054142  202412      NaN       NaN           1            0

          ecoActCode       municipality
 0               NaN   Vilniaus m. sav.
 1               NaN   Vilniaus m. sav.
 2               NaN   Vilniaus m. sav.
 3               NaN   Vilniaus m. sav.
 4               NaN   Vilniaus m. sav.
 ...             ...                ...
 1265347         NaN   Vilniaus m. sav.
 1265348         NaN   Vilniaus m. sav.
 1265349         NaN   Vilniaus r. sav.
 1265350         NaN  KlaipÄ—dos r. sav.
 1265351         NaN  KlaipÄ—dos m. sav.

 [1265352 rows x 8 columns],
           ja_kodas   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   202301      NaN       NaN           3            0
 1                   202301  1651.63       NaN          11            0
 2                   202301  2419.21       NaN           5            0
 3                   202301  1287.87       NaN          23            0
 4                   202301  1245.95       NaN          19            0
 ...            ...     ...      ...       ...         ...          ...
 1262404  306634612  202311   143.27       NaN           5            0
 1262405  306634612  202312   835.91       NaN          14            0
 1262406  306635365  202311      NaN       NaN           1            0
 1262407  306638735  202311      NaN       NaN           1            0
 1262408  306638735  202312      NaN       NaN           1            0

          ecoActCode      municipality
 0               NaN  Vilniaus m. sav.
 1               NaN  Vilniaus m. sav.
 2               NaN  Vilniaus m. sav.
 3               NaN  Vilniaus m. sav.
 4               NaN  Vilniaus m. sav.
 ...             ...               ...
 1262404         NaN  Vilniaus m. sav.
 1262405         NaN  Vilniaus m. sav.
 1262406         NaN  Vilniaus m. sav.
 1262407    642000.0  Vilniaus m. sav.
 1262408    642000.0  Vilniaus m. sav.

 [1262409 rows x 8 columns],
           ja_kodas   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   202201      NaN       NaN           3            0
 1                   202201  1758.46       NaN           8            0
 2                   202201  1834.75       NaN           6            0
 3                   202201  1258.85       NaN          21            0
 4                   202201  1213.67       NaN          18            0
 ...            ...     ...      ...       ...         ...          ...
 1251228  306199583  202212      NaN       NaN           1            0
 1251229  306200929  202212      NaN       NaN           1            0
 1251230  306201109  202212      NaN       NaN           1            0
 1251231  306201155  202212      NaN       NaN           2            0
 1251232  306201657  202212      NaN       NaN           1            0

          ecoActCode      municipality
 0               NaN  Vilniaus m. sav.
 1               NaN  Vilniaus m. sav.
 2               NaN  Vilniaus m. sav.
 3               NaN  Vilniaus m. sav.
 4               NaN  Vilniaus m. sav.
 ...             ...               ...
 1251228    829900.0  Vilniaus m. sav.
 1251229    702200.0     Kauno m. sav.
 1251230    451100.0     Kauno r. sav.
 1251231    101100.0   Å iauliÅ³ r. sav.
 1251232    860000.0  TauragÄ—s r. sav.

 [1251233 rows x 8 columns],
           ja_kodas   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   202101      NaN       NaN           3            0
 1                   202101  1690.69       NaN           8            0
 2                   202101  1746.65       NaN           7            0
 3                   202101  1216.86       NaN          23            0
 4                   202101  1169.69       NaN          18            0
 ...            ...     ...      ...       ...         ...          ...
 1227029  305963804  202112      NaN       NaN           1            0
 1227030  305964233  202112      NaN       NaN           1            0
 1227031  305964703  202112      NaN       NaN           1            0
 1227032  305965118  202112      NaN       NaN           1            0
 1227033  305966896  202112      NaN       NaN           2            0

          ecoActCode       municipality
 0               NaN   Vilniaus m. sav.
 1               NaN   Vilniaus m. sav.
 2               NaN   Vilniaus m. sav.
 3               NaN   Vilniaus m. sav.
 4               NaN   Vilniaus m. sav.
 ...             ...                ...
 1227029    469000.0   Vilniaus r. sav.
 1227030    702000.0   Vilniaus m. sav.
 1227031    711210.0   Vilniaus m. sav.
 1227032    952200.0   Vilniaus m. sav.
 1227033    494000.0  KlaipÄ—dos r. sav.

 [1227034 rows x 8 columns],
           ja_kodas   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   202001      NaN       NaN           3            0
 1                   202001  1763.61       NaN           7            0
 2                   202001  2045.02       NaN           6            0
 3                   202001  1272.62       NaN          23            0
 4                   202001  1147.08       NaN          18            0
 ...            ...     ...      ...       ...         ...          ...
 1177768  305672446  202012      NaN       NaN           1            0
 1177769  305672510  202012      NaN       NaN           1            0
 1177770  305672962  202012      NaN       NaN           1            0
 1177771  305673306  202012      NaN       NaN           1            0
 1177772  305673594  202012      NaN       NaN           1            0

          ecoActCode       municipality
 0               NaN   Vilniaus m. sav.
 1               NaN   Vilniaus m. sav.
 2               NaN   Vilniaus m. sav.
 3               NaN   Vilniaus m. sav.
 4               NaN   Vilniaus m. sav.
 ...             ...                ...
 1177768    620200.0  KlaipÄ—dos m. sav.
 1177769    451100.0    Å iauliÅ³ m. sav.
 1177770    460000.0   Vilniaus m. sav.
 1177771         NaN      Kauno m. sav.
 1177772    560000.0   RokiÅ¡kio r. sav.

 [1177773 rows x 8 columns],
           ja_kodas   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   201901      NaN       NaN           3            0
 1                   201901  1712.98       NaN           8            0
 2                   201901  2266.82       NaN           5            0
 3                   201901  1278.02       NaN          22            0
 4                   201901  1059.64       NaN          20            0
 ...            ...     ...      ...       ...         ...          ...
 1163324  305399588  201912      NaN       NaN           1            0
 1163325  305400001  201912      NaN       NaN           1            0
 1163326  305402454  201912      NaN       NaN           1            0
 1163327  305403428  201912      NaN       NaN           1            0
 1163328  305408973  201912      NaN       NaN           1            0

          ecoActCode       municipality
 0               NaN   Vilniaus m. sav.
 1               NaN   Vilniaus m. sav.
 2               NaN   Vilniaus m. sav.
 3               NaN   Vilniaus m. sav.
 4               NaN   Vilniaus m. sav.
 ...             ...                ...
 1163324    411000.0        Nenustatyta
 1163325         NaN    VarÄ—nos r. sav.
 1163326    800000.0    Alytaus m. sav.
 1163327    702200.0   Vilniaus m. sav.
 1163328    702200.0  KlaipÄ—dos r. sav.

 [1163329 rows x 8 columns]]

### Removing non ja_kodas firms from the data.

In [23]:

# Setting ja_kodas to numeric type:

set_columns_to_numeric(E, 'ja_kodas')

E = remove_rows_by_value(
    data=E,
    columns='ja_kodas',
    values=[],
    include_nan=True,
    verbose=True
)

Processing DataFrame 0
Converted column 'ja_kodas' to numeric type

ğŸ“Š Processing Summary:
   âœ… Converted 1 columns to numeric
   â­ï¸  Skipped 0 columns (not found)
   ğŸ—‘ï¸  Dropped 0 columns

Processing DataFrame 1
Converted column 'ja_kodas' to numeric type

ğŸ“Š Processing Summary:
   âœ… Converted 1 columns to numeric
   â­ï¸  Skipped 0 columns (not found)
   ğŸ—‘ï¸  Dropped 0 columns

Processing DataFrame 2
Converted column 'ja_kodas' to numeric type

ğŸ“Š Processing Summary:
   âœ… Converted 1 columns to numeric
   â­ï¸  Skipped 0 columns (not found)
   ğŸ—‘ï¸  Dropped 0 columns

Processing DataFrame 3
Converted column 'ja_kodas' to numeric type

ğŸ“Š Processing Summary:
   âœ… Converted 1 columns to numeric
   â­ï¸  Skipped 0 columns (not found)
   ğŸ—‘ï¸  Dropped 0 columns

Processing DataFrame 4
Converted column 'ja_kodas' to numeric type

ğŸ“Š Processing Summary:
   âœ… Converted 1 columns to numeric
   â­ï¸  Skipped 0 columns (not found)
   ğŸ—‘ï¸  Dropped 0 columns

Processing DataFrame 5
Converted column 'ja_kodas' to numeric type

ğŸ“Š Processing Summary:
   âœ… Converted 1 columns to numeric
   â­ï¸  Skipped 0 columns (not found)
   ğŸ—‘ï¸  Dropped 0 columns
DataFrame 0: Checking column 'ja_kodas' for 0 values (including NaN)
DataFrame 0: Removed 7486 rows
DataFrame 1: Checking column 'ja_kodas' for 0 values (including NaN)
DataFrame 1: Removed 7400 rows
DataFrame 2: Checking column 'ja_kodas' for 0 values (including NaN)
DataFrame 2: Removed 7238 rows
DataFrame 3: Checking column 'ja_kodas' for 0 values (including NaN)
DataFrame 3: Removed 6612 rows
DataFrame 4: Checking column 'ja_kodas' for 0 values (including NaN)
DataFrame 4: Removed 6236 rows
DataFrame 5: Checking column 'ja_kodas' for 0 values (including NaN)
DataFrame 5: Removed 5839 rows

ğŸ¯ FINAL SUMMARY:
   ğŸ“¦ Processed 6 DataFrames
   ğŸ—‘ï¸  Total rows removed: 40811

### Merging numInsured and numInsured2 into total_employees by summing them up.

In [24]:
print(E[0].head())

         ja_kodas   month  avgWage  avgWage2  numInsured  numInsured2  \
7486  110003978.0  202401      NaN       NaN           2            0
7487  110003978.0  202402      NaN       NaN           2            0
7488  110003978.0  202403      NaN       NaN           2            0
7489  110003978.0  202404      NaN       NaN           2            0
7490  110003978.0  202405      NaN       NaN           2            0

      ecoActCode      municipality
7486    682000.0  Vilniaus m. sav.
7487    682000.0  Vilniaus m. sav.
7488    682000.0  Vilniaus m. sav.
7489    682000.0  Vilniaus m. sav.
7490    682000.0  Vilniaus m. sav.

### Creating total employees column and a single average wage column.

In [25]:
# employees
create_variable_eval(E, 'employees', '`numInsured` + `numInsured2`', fill_na=0)


# wages
create_variable_eval(E, 'average_wage', '(`avgWage` * `numInsured` + `avgWage2` * `numInsured2` ) / (`numInsured` + `numInsured2`)', fill_na=0)


# removing redundant columns
remove_columns(E, ['numInsured', 'numInsured2', 'avgWage', 'avgWage2'], inplace=True)

set_dataframe_values(E, 0, np.nan, columns='average_wage', inplace=True)

# Rounding everything to 2 decimals:

round_dataframe_values(E, 2, inplace=True)

Using NaN-handled formula: `numInsured`.fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0)
âœ“ Modified DataFrame with formula '`numInsured`.fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0)' -> 'employees' at [0]
Using NaN-handled formula: `numInsured`.fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0)
âœ“ Modified DataFrame with formula '`numInsured`.fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0)' -> 'employees' at [1]
Using NaN-handled formula: `numInsured`.fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0)
âœ“ Modified DataFrame with formula '`numInsured`.fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0)' -> 'employees' at [2]
Using NaN-handled formula: `numInsured`.fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0)
âœ“ Modified DataFrame with formula '`numInsured`.fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0)' -> 'employees' at [3]
Using NaN-handled formula: `numInsured`.fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0)
âœ“ Modified DataFrame with formula '`numInsured`.fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0)' -> 'employees' at [4]
Using NaN-handled formula: `numInsured`.fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0)
âœ“ Modified DataFrame with formula '`numInsured`.fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0)' -> 'employees' at [5]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 6
Successful: 6 (100.0%)
Failed: 0
Final formula used: `numInsured`.fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0)
Using NaN-handled formula: (`avgWage`.fillna(0).fillna(0) * `numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `avgWage2`.fillna(0).fillna(0) * `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0) ) / (`numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0))
âœ“ Modified DataFrame with formula '(`avgWage`.fillna(0).fillna(0) * `numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `avgWage2`.fillna(0).fillna(0) * `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0) ) / (`numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0))' -> 'average_wage' at [0]
Using NaN-handled formula: (`avgWage`.fillna(0).fillna(0) * `numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `avgWage2`.fillna(0).fillna(0) * `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0) ) / (`numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0))

/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:4041: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df[new_column_name] = working_df.eval(final_formula)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:4041: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df[new_column_name] = working_df.eval(final_formula)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:4041: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df[new_column_name] = working_df.eval(final_formula)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:4041: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df[new_column_name] = working_df.eval(final_formula)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:4041: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df[new_column_name] = working_df.eval(final_formula)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:4041: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df[new_column_name] = working_df.eval(final_formula)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:4041: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df[new_column_name] = working_df.eval(final_formula)

âœ“ Modified DataFrame with formula '(`avgWage`.fillna(0).fillna(0) * `numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `avgWage2`.fillna(0).fillna(0) * `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0) ) / (`numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0))' -> 'average_wage' at [1]
Using NaN-handled formula: (`avgWage`.fillna(0).fillna(0) * `numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `avgWage2`.fillna(0).fillna(0) * `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0) ) / (`numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0))
âœ“ Modified DataFrame with formula '(`avgWage`.fillna(0).fillna(0) * `numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `avgWage2`.fillna(0).fillna(0) * `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0) ) / (`numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0))' -> 'average_wage' at [2]
Using NaN-handled formula: (`avgWage`.fillna(0).fillna(0) * `numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `avgWage2`.fillna(0).fillna(0) * `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0) ) / (`numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0))

/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:4041: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df[new_column_name] = working_df.eval(final_formula)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:4041: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df[new_column_name] = working_df.eval(final_formula)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:4041: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df[new_column_name] = working_df.eval(final_formula)

âœ“ Modified DataFrame with formula '(`avgWage`.fillna(0).fillna(0) * `numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `avgWage2`.fillna(0).fillna(0) * `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0) ) / (`numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0))' -> 'average_wage' at [3]
Using NaN-handled formula: (`avgWage`.fillna(0).fillna(0) * `numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `avgWage2`.fillna(0).fillna(0) * `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0) ) / (`numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0))
âœ“ Modified DataFrame with formula '(`avgWage`.fillna(0).fillna(0) * `numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `avgWage2`.fillna(0).fillna(0) * `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0) ) / (`numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0))' -> 'average_wage' at [4]
Using NaN-handled formula: (`avgWage`.fillna(0).fillna(0) * `numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `avgWage2`.fillna(0).fillna(0) * `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0) ) / (`numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0))
âœ“ Modified DataFrame with formula '(`avgWage`.fillna(0).fillna(0) * `numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `avgWage2`.fillna(0).fillna(0) * `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0) ) / (`numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0))' -> 'average_wage' at [5]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 6
Successful: 6 (100.0%)
Failed: 0
Final formula used: (`avgWage`.fillna(0).fillna(0) * `numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `avgWage2`.fillna(0).fillna(0) * `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0) ) / (`numInsured`.fillna(0).fillna(0).fillna(0).fillna(0) + `numInsured2`.fillna(0).fillna(0).fillna(0).fillna(0))
ğŸ“Š DataFrame 0:
   âœ… Removed: ['numInsured', 'numInsured2', 'avgWage', 'avgWage2']
   ğŸ“‹ Remaining columns: 6

/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:4041: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df[new_column_name] = working_df.eval(final_formula)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:4041: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  working_df[new_column_name] = working_df.eval(final_formula)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:967: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=existing_cols, inplace=True)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:967: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=existing_cols, inplace=True)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:967: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=existing_cols, inplace=True)

ğŸ“Š DataFrame 1:
   âœ… Removed: ['numInsured', 'numInsured2', 'avgWage', 'avgWage2']
   ğŸ“‹ Remaining columns: 6
ğŸ“Š DataFrame 2:
   âœ… Removed: ['numInsured', 'numInsured2', 'avgWage', 'avgWage2']
   ğŸ“‹ Remaining columns: 6
ğŸ“Š DataFrame 3:
   âœ… Removed: ['numInsured', 'numInsured2', 'avgWage', 'avgWage2']
   ğŸ“‹ Remaining columns: 6
ğŸ“Š DataFrame 4:
   âœ… Removed: ['numInsured', 'numInsured2', 'avgWage', 'avgWage2']
   ğŸ“‹ Remaining columns: 6
ğŸ“Š DataFrame 5:
   âœ… Removed: ['numInsured', 'numInsured2', 'avgWage', 'avgWage2']
   ğŸ“‹ Remaining columns: 6

ğŸ¯ FINAL SUMMARY:
   ğŸ“¦ Processed 6 DataFrames
   ğŸ—‘ï¸  Total columns removed: 24
   â­ï¸  Total columns skipped: 0

ğŸ“„ Processing DataFrame 1/6
   Shape: (1257866, 6)
ğŸ”§ Value Replacement Summary:
   ğŸ“Š Total replacements: 754659
   ğŸ¯ Target value: 0 â†’ New value: nan
   ğŸ“ Columns affected: 1
   ğŸ“ˆ Replacements by column:
      - average_wage: 754659 replacements

ğŸ“„ Processing DataFrame 2/6
   Shape: (1255009, 6)
ğŸ”§ Value Replacement Summary:
   ğŸ“Š Total replacements: 744679
   ğŸ¯ Target value: 0 â†’ New value: nan
   ğŸ“ Columns affected: 1
   ğŸ“ˆ Replacements by column:
      - average_wage: 744679 replacements

ğŸ“„ Processing DataFrame 3/6
   Shape: (1243995, 6)
ğŸ”§ Value Replacement Summary:
   ğŸ“Š Total replacements: 727814
   ğŸ¯ Target value: 0 â†’ New value: nan
   ğŸ“ Columns affected: 1
   ğŸ“ˆ Replacements by column:
      - average_wage: 727814 replacements

ğŸ“„ Processing DataFrame 4/6
   Shape: (1220422, 6)
ğŸ”§ Value Replacement Summary:
   ğŸ“Š Total replacements: 704217
   ğŸ¯ Target value: 0 â†’ New value: nan
   ğŸ“ Columns affected: 1
   ğŸ“ˆ Replacements by column:
      - average_wage: 704217 replacements

ğŸ“„ Processing DataFrame 5/6
   Shape: (1171537, 6)
ğŸ”§ Value Replacement Summary:
   ğŸ“Š Total replacements: 668134
   ğŸ¯ Target value: 0 â†’ New value: nan
   ğŸ“ Columns affected: 1
   ğŸ“ˆ Replacements by column:
      - average_wage: 668134 replacements

ğŸ“„ Processing DataFrame 6/6
   Shape: (1157490, 6)
ğŸ”§ Value Replacement Summary:
   ğŸ“Š Total replacements: 641713
   ğŸ¯ Target value: 0 â†’ New value: nan
   ğŸ“ Columns affected: 1
   ğŸ“ˆ Replacements by column:
      - average_wage: 641713 replacements

âœ… INPLACE OPERATION COMPLETED: Original DataFrame(s) modified

/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:967: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=existing_cols, inplace=True)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:967: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=existing_cols, inplace=True)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:967: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=existing_cols, inplace=True)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:3621: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[numeric_cols] = df[numeric_cols].round(dec)

[            ja_kodas   month  ecoActCode       municipality  employees  \
 7486     110003978.0  202401    682000.0   Vilniaus m. sav.          2
 7487     110003978.0  202402    682000.0   Vilniaus m. sav.          2
 7488     110003978.0  202403    682000.0   Vilniaus m. sav.          2
 7489     110003978.0  202404    682000.0   Vilniaus m. sav.          2
 7490     110003978.0  202405    682000.0   Vilniaus m. sav.          2
 ...              ...     ...         ...                ...        ...
 1265347  307049184.0  202412         NaN   Vilniaus m. sav.          2
 1265348  307050133.0  202412         NaN   Vilniaus m. sav.          4
 1265349  307050432.0  202412         NaN   Vilniaus r. sav.          1
 1265350  307050998.0  202412         NaN  KlaipÄ—dos r. sav.          2
 1265351  307054142.0  202412         NaN  KlaipÄ—dos m. sav.          1

          average_wage
 7486              NaN
 7487              NaN
 7488              NaN
 7489              NaN
 7490              NaN
 ...               ...
 1265347           NaN
 1265348       4823.23
 1265349           NaN
 1265350           NaN
 1265351           NaN

 [1257866 rows x 6 columns],
             ja_kodas   month  ecoActCode      municipality  employees  \
 7400     110003978.0  202301    682000.0  Vilniaus m. sav.          2
 7401     110003978.0  202302    682000.0  Vilniaus m. sav.          2
 7402     110003978.0  202303    682000.0  Vilniaus m. sav.          2
 7403     110003978.0  202304    682000.0  Vilniaus m. sav.          2
 7404     110003978.0  202305    682000.0  Vilniaus m. sav.          2
 ...              ...     ...         ...               ...        ...
 1262404  306634612.0  202311         NaN  Vilniaus m. sav.          5
 1262405  306634612.0  202312         NaN  Vilniaus m. sav.         14
 1262406  306635365.0  202311         NaN  Vilniaus m. sav.          1
 1262407  306638735.0  202311    642000.0  Vilniaus m. sav.          1
 1262408  306638735.0  202312    642000.0  Vilniaus m. sav.          1

          average_wage
 7400              NaN
 7401              NaN
 7402              NaN
 7403              NaN
 7404              NaN
 ...               ...
 1262404        143.27
 1262405        835.91
 1262406           NaN
 1262407           NaN
 1262408           NaN

 [1255009 rows x 6 columns],
             ja_kodas   month  ecoActCode      municipality  employees  \
 7238     110003978.0  202201    682000.0  Vilniaus m. sav.          2
 7239     110003978.0  202202    682000.0  Vilniaus m. sav.          2
 7240     110003978.0  202203    682000.0  Vilniaus m. sav.          2
 7241     110003978.0  202204    682000.0  Vilniaus m. sav.          2
 7242     110003978.0  202205    682000.0  Vilniaus m. sav.          2
 ...              ...     ...         ...               ...        ...
 1251228  306199583.0  202212    829900.0  Vilniaus m. sav.          1
 1251229  306200929.0  202212    702200.0     Kauno m. sav.          1
 1251230  306201109.0  202212    451100.0     Kauno r. sav.          1
 1251231  306201155.0  202212    101100.0   Å iauliÅ³ r. sav.          2
 1251232  306201657.0  202212    860000.0  TauragÄ—s r. sav.          1

          average_wage
 7238              NaN
 7239              NaN
 7240              NaN
 7241              NaN
 7242              NaN
 ...               ...
 1251228           NaN
 1251229           NaN
 1251230           NaN
 1251231           NaN
 1251232           NaN

 [1243995 rows x 6 columns],
             ja_kodas   month  ecoActCode       municipality  employees  \
 6612     110003978.0  202101    682000.0   Vilniaus m. sav.          2
 6613     110003978.0  202102    682000.0   Vilniaus m. sav.          2
 6614     110003978.0  202103    682000.0   Vilniaus m. sav.          2
 6615     110003978.0  202104    682000.0   Vilniaus m. sav.          3
 6616     110003978.0  202105    682000.0   Vilniaus m. sav.          3
 ...              ...     ...         ...                ...        ...
 1227029  305963804.0  202112    469000.0   Vilniaus r. sav.          1
 1227030  305964233.0  202112    702000.0   Vilniaus m. sav.          1
 1227031  305964703.0  202112    711210.0   Vilniaus m. sav.          1
 1227032  305965118.0  202112    952200.0   Vilniaus m. sav.          1
 1227033  305966896.0  202112    494000.0  KlaipÄ—dos r. sav.          2

          average_wage
 6612              NaN
 6613              NaN
 6614              NaN
 6615              NaN
 6616              NaN
 ...               ...
 1227029           NaN
 1227030           NaN
 1227031           NaN
 1227032           NaN
 1227033           NaN

 [1220422 rows x 6 columns],
             ja_kodas   month  ecoActCode       municipality  employees  \
 6236     110003978.0  202001    682000.0   Vilniaus m. sav.          2
 6237     110003978.0  202002    682000.0   Vilniaus m. sav.          2
 6238     110003978.0  202003    682000.0   Vilniaus m. sav.          2
 6239     110003978.0  202004    682000.0   Vilniaus m. sav.          2
 6240     110003978.0  202005    682000.0   Vilniaus m. sav.          2
 ...              ...     ...         ...                ...        ...
 1177768  305672446.0  202012    620200.0  KlaipÄ—dos m. sav.          1
 1177769  305672510.0  202012    451100.0    Å iauliÅ³ m. sav.          1
 1177770  305672962.0  202012    460000.0   Vilniaus m. sav.          1
 1177771  305673306.0  202012         NaN      Kauno m. sav.          1
 1177772  305673594.0  202012    560000.0   RokiÅ¡kio r. sav.          1

          average_wage
 6236              NaN
 6237              NaN
 6238              NaN
 6239              NaN
 6240              NaN
 ...               ...
 1177768           NaN
 1177769           NaN
 1177770           NaN
 1177771           NaN
 1177772           NaN

 [1171537 rows x 6 columns],
             ja_kodas   month  ecoActCode       municipality  employees  \
 5839     110003978.0  201901    682000.0   Vilniaus m. sav.          2
 5840     110003978.0  201902    682000.0   Vilniaus m. sav.          2
 5841     110003978.0  201903    682000.0   Vilniaus m. sav.          2
 5842     110003978.0  201904    682000.0   Vilniaus m. sav.          2
 5843     110003978.0  201905    682000.0   Vilniaus m. sav.          2
 ...              ...     ...         ...                ...        ...
 1163324  305399588.0  201912    411000.0        Nenustatyta          1
 1163325  305400001.0  201912         NaN    VarÄ—nos r. sav.          1
 1163326  305402454.0  201912    800000.0    Alytaus m. sav.          1
 1163327  305403428.0  201912    702200.0   Vilniaus m. sav.          1
 1163328  305408973.0  201912    702200.0  KlaipÄ—dos r. sav.          1

          average_wage
 5839              NaN
 5840              NaN
 5841              NaN
 5842              NaN
 5843              NaN
 ...               ...
 1163324           NaN
 1163325           NaN
 1163326           NaN
 1163327           NaN
 1163328           NaN

 [1157490 rows x 6 columns]]

### Pivoting the data so that each row represents a unique firm-month combination with employment numbers as values.

In [26]:
# Extracing municipality, ja_kodas and ecoActCode for later merging back:

EforMerge = extract_columns(E, ['ja_kodas', 'municipality', 'ecoActCode'])

# Removing the columns from the main dataframes:
remove_columns(E, ['municipality', 'ecoActCode'])

DataFrame 0: Extracted 3 columns, processed shape: (1257866, 6)
DataFrame 1: Extracted 3 columns, processed shape: (1255009, 6)
DataFrame 2: Extracted 3 columns, processed shape: (1243995, 6)
DataFrame 3: Extracted 3 columns, processed shape: (1220422, 6)
DataFrame 4: Extracted 3 columns, processed shape: (1171537, 6)
DataFrame 5: Extracted 3 columns, processed shape: (1157490, 6)
ğŸ“Š DataFrame 0:
   âœ… Removed: ['municipality', 'ecoActCode']
   ğŸ“‹ Remaining columns: 4
ğŸ“Š DataFrame 1:
   âœ… Removed: ['municipality', 'ecoActCode']
   ğŸ“‹ Remaining columns: 4
ğŸ“Š DataFrame 2:
   âœ… Removed: ['municipality', 'ecoActCode']
   ğŸ“‹ Remaining columns: 4
ğŸ“Š DataFrame 3:
   âœ… Removed: ['municipality', 'ecoActCode']
   ğŸ“‹ Remaining columns: 4
ğŸ“Š DataFrame 4:
   âœ… Removed: ['municipality', 'ecoActCode']
   ğŸ“‹ Remaining columns: 4
ğŸ“Š DataFrame 5:
   âœ… Removed: ['municipality', 'ecoActCode']
   ğŸ“‹ Remaining columns: 4

ğŸ¯ FINAL SUMMARY:
   ğŸ“¦ Processed 6 DataFrames
   ğŸ—‘ï¸  Total columns removed: 12
   â­ï¸  Total columns skipped: 0

/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:967: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=existing_cols, inplace=True)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:967: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=existing_cols, inplace=True)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:967: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=existing_cols, inplace=True)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:967: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=existing_cols, inplace=True)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:967: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=existing_cols, inplace=True)
/home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/src/python/Functions.py:967: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=existing_cols, inplace=True)

[            ja_kodas   month  employees  average_wage
 7486     110003978.0  202401          2           NaN
 7487     110003978.0  202402          2           NaN
 7488     110003978.0  202403          2           NaN
 7489     110003978.0  202404          2           NaN
 7490     110003978.0  202405          2           NaN
 ...              ...     ...        ...           ...
 1265347  307049184.0  202412          2           NaN
 1265348  307050133.0  202412          4       4823.23
 1265349  307050432.0  202412          1           NaN
 1265350  307050998.0  202412          2           NaN
 1265351  307054142.0  202412          1           NaN

 [1257866 rows x 4 columns],
             ja_kodas   month  employees  average_wage
 7400     110003978.0  202301          2           NaN
 7401     110003978.0  202302          2           NaN
 7402     110003978.0  202303          2           NaN
 7403     110003978.0  202304          2           NaN
 7404     110003978.0  202305          2           NaN
 ...              ...     ...        ...           ...
 1262404  306634612.0  202311          5        143.27
 1262405  306634612.0  202312         14        835.91
 1262406  306635365.0  202311          1           NaN
 1262407  306638735.0  202311          1           NaN
 1262408  306638735.0  202312          1           NaN

 [1255009 rows x 4 columns],
             ja_kodas   month  employees  average_wage
 7238     110003978.0  202201          2           NaN
 7239     110003978.0  202202          2           NaN
 7240     110003978.0  202203          2           NaN
 7241     110003978.0  202204          2           NaN
 7242     110003978.0  202205          2           NaN
 ...              ...     ...        ...           ...
 1251228  306199583.0  202212          1           NaN
 1251229  306200929.0  202212          1           NaN
 1251230  306201109.0  202212          1           NaN
 1251231  306201155.0  202212          2           NaN
 1251232  306201657.0  202212          1           NaN

 [1243995 rows x 4 columns],
             ja_kodas   month  employees  average_wage
 6612     110003978.0  202101          2           NaN
 6613     110003978.0  202102          2           NaN
 6614     110003978.0  202103          2           NaN
 6615     110003978.0  202104          3           NaN
 6616     110003978.0  202105          3           NaN
 ...              ...     ...        ...           ...
 1227029  305963804.0  202112          1           NaN
 1227030  305964233.0  202112          1           NaN
 1227031  305964703.0  202112          1           NaN
 1227032  305965118.0  202112          1           NaN
 1227033  305966896.0  202112          2           NaN

 [1220422 rows x 4 columns],
             ja_kodas   month  employees  average_wage
 6236     110003978.0  202001          2           NaN
 6237     110003978.0  202002          2           NaN
 6238     110003978.0  202003          2           NaN
 6239     110003978.0  202004          2           NaN
 6240     110003978.0  202005          2           NaN
 ...              ...     ...        ...           ...
 1177768  305672446.0  202012          1           NaN
 1177769  305672510.0  202012          1           NaN
 1177770  305672962.0  202012          1           NaN
 1177771  305673306.0  202012          1           NaN
 1177772  305673594.0  202012          1           NaN

 [1171537 rows x 4 columns],
             ja_kodas   month  employees  average_wage
 5839     110003978.0  201901          2           NaN
 5840     110003978.0  201902          2           NaN
 5841     110003978.0  201903          2           NaN
 5842     110003978.0  201904          2           NaN
 5843     110003978.0  201905          2           NaN
 ...              ...     ...        ...           ...
 1163324  305399588.0  201912          1           NaN
 1163325  305400001.0  201912          1           NaN
 1163326  305402454.0  201912          1           NaN
 1163327  305403428.0  201912          1           NaN
 1163328  305408973.0  201912          1           NaN

 [1157490 rows x 4 columns]]

In [ ]:
## Removing duplicates from EforMerge:

EforMerge = remove_duplicates(EforMerge, 'ja_kodas', verbose=True)

In [27]:

# Pivoting the data:

Epivot = pivot_dfs_smart_flexible(
    dataframes=E,
    pivot_column='month',
    value_columns=['average_wage', 'employees'],  # Multiple value columns as list
    id_columns='ja_kodas',                        # Single ID column as string
    verbose=True,
    inplace=False
)

ğŸ†• NEW OBJECT MODE: Creating new DataFrame(s)
DataFrame 0: Pivoting 2 value columns using single ID column 'ja_kodas'
Pivot created 24 new columns from 2 value columns
Kept 1 additional columns unchanged
DataFrame 0: Successfully pivoted. Original shape: (1257866, 4), Pivoted shape: (114155, 25)
DataFrame 1: Pivoting 2 value columns using single ID column 'ja_kodas'
Pivot created 24 new columns from 2 value columns
Kept 1 additional columns unchanged
DataFrame 1: Successfully pivoted. Original shape: (1255009, 4), Pivoted shape: (113561, 25)
DataFrame 2: Pivoting 2 value columns using single ID column 'ja_kodas'
Pivot created 24 new columns from 2 value columns
Kept 1 additional columns unchanged
DataFrame 2: Successfully pivoted. Original shape: (1243995, 4), Pivoted shape: (112847, 25)
DataFrame 3: Pivoting 2 value columns using single ID column 'ja_kodas'
Pivot created 24 new columns from 2 value columns
Kept 1 additional columns unchanged
DataFrame 3: Successfully pivoted. Original shape: (1220422, 4), Pivoted shape: (110187, 25)
DataFrame 4: Pivoting 2 value columns using single ID column 'ja_kodas'
Pivot created 24 new columns from 2 value columns
Kept 1 additional columns unchanged
DataFrame 4: Successfully pivoted. Original shape: (1171537, 4), Pivoted shape: (106801, 25)
DataFrame 5: Pivoting 2 value columns using single ID column 'ja_kodas'
Pivot created 24 new columns from 2 value columns
Kept 1 additional columns unchanged
DataFrame 5: Successfully pivoted. Original shape: (1157490, 4), Pivoted shape: (105022, 25)

### Calculating the yearly averages for employment and wages.

In [28]:
# Most straightforward approach - process each DataFrame directly
for i, df in enumerate(Epivot):
    print(f"Processing DataFrame {i}...")

    # Get ALL columns with the prefixes (will work for any year)
    wage_cols = [col for col in df.columns if 'average_wage_' in col]
    emp_cols = [col for col in df.columns if 'employees_' in col]

    # Use simple pandas mean (most reliable)
    if wage_cols:
        df['yearly_average_wage'] = df[wage_cols].mean(axis=1, skipna=True)

    if emp_cols:
        df['yearly_average_employees'] = df[emp_cols].mean(axis=1, skipna=True)

    print(f"  Added averages using {len(wage_cols)} wage columns and {len(emp_cols)} employee columns")

print("All DataFrames processed!")
print(Epivot[0][['ja_kodas', 'yearly_average_wage', 'yearly_average_employees']].head())

Processing DataFrame 0...
  Added averages using 12 wage columns and 12 employee columns
Processing DataFrame 1...
  Added averages using 12 wage columns and 12 employee columns
Processing DataFrame 2...
  Added averages using 12 wage columns and 12 employee columns
Processing DataFrame 3...
  Added averages using 12 wage columns and 12 employee columns
Processing DataFrame 4...
  Added averages using 12 wage columns and 12 employee columns
Processing DataFrame 5...
  Added averages using 12 wage columns and 12 employee columns
All DataFrames processed!
      ja_kodas  yearly_average_wage  yearly_average_employees
0  110003978.0                  NaN                  2.250000
1  110004884.0          1718.286667                233.083333
2  110005648.0          2391.440833                  6.750000
3  110006892.0           693.481667                  3.750000
4  110008377.0          1691.996667                  4.000000

In [29]:
# Extracting the averages for later merging back:
EyearlyAvg = extract_columns(Epivot, ['ja_kodas', 'yearly_average_wage', 'yearly_average_employees'])

DataFrame 0: Extracted 3 columns, processed shape: (114155, 27)
DataFrame 1: Extracted 3 columns, processed shape: (113561, 27)
DataFrame 2: Extracted 3 columns, processed shape: (112847, 27)
DataFrame 3: Extracted 3 columns, processed shape: (110187, 27)
DataFrame 4: Extracted 3 columns, processed shape: (106801, 27)
DataFrame 5: Extracted 3 columns, processed shape: (105022, 27)

In [30]:
# Most straightforward approach - process each DataFrame directly
for i, df in enumerate(Epivot):
    print(f"Processing DataFrame {i}...")

    # Get ALL columns with the prefixes (will work for any year)
    wage_cols = [col for col in df.columns if 'average_wage_' in col]
    emp_cols = [col for col in df.columns if 'employees_' in col]

    # Use simple pandas mean (most reliable)
    if wage_cols:
        df['yearly_average_wage'] = df[wage_cols].mean(axis=1, skipna=True)

    if emp_cols:
        df['yearly_average_employees'] = df[emp_cols].mean(axis=1, skipna=True)

    print(f"  Added averages using {len(wage_cols)} wage columns and {len(emp_cols)} employee columns")

print("All DataFrames processed!")
print(Epivot[0][['ja_kodas', 'yearly_average_wage', 'yearly_average_employees']].head())

Processing DataFrame 0...
  Added averages using 12 wage columns and 12 employee columns
Processing DataFrame 1...
  Added averages using 12 wage columns and 12 employee columns
Processing DataFrame 2...
  Added averages using 12 wage columns and 12 employee columns
Processing DataFrame 3...
  Added averages using 12 wage columns and 12 employee columns
Processing DataFrame 4...
  Added averages using 12 wage columns and 12 employee columns
Processing DataFrame 5...
  Added averages using 12 wage columns and 12 employee columns
All DataFrames processed!
      ja_kodas  yearly_average_wage  yearly_average_employees
0  110003978.0                  NaN                  2.250000
1  110004884.0          1718.286667                233.083333
2  110005648.0          2391.440833                  6.750000
3  110006892.0           693.481667                  3.750000
4  110008377.0          1691.996667                  4.000000

In [31]:
# Extracting the averages for later merging back:
EyearlyAvg = extract_columns(Epivot, ['ja_kodas', 'yearly_average_wage', 'yearly_average_employees'])

DataFrame 0: Extracted 3 columns, processed shape: (114155, 27)
DataFrame 1: Extracted 3 columns, processed shape: (113561, 27)
DataFrame 2: Extracted 3 columns, processed shape: (112847, 27)
DataFrame 3: Extracted 3 columns, processed shape: (110187, 27)
DataFrame 4: Extracted 3 columns, processed shape: (106801, 27)
DataFrame 5: Extracted 3 columns, processed shape: (105022, 27)

### Merging back municipality and ecoActCode.

In [36]:
mergedEyearAvg = merge_similar_dfs(
    EyearlyAvg,
    EforMerge,
    merge_column='ja_kodas',
    how='left',
    handle_duplicates='first',
    verbose=True
)

round_dataframe_values(mergedEyearAvg, 0, inplace=True)

ğŸ”— MERGE CONFIGURATION:
   ğŸ“Š Input pairs: 6
   ğŸ¯ Merge column: 'ja_kodas'
   ğŸ”„ Merge type: left
   ğŸ“ Suffixes: None
   âœ… Validate: None
   ğŸ“ˆ Indicator: None
   ğŸ”„ Duplicate handling: first
   ğŸš« NaN handling: None
   ğŸ”§ Dtype conversion: auto
DF2 in pair 0: Removing 1143711 duplicate merge keys (keeping first)

--- Pair 0 Merge Diagnostics ---
DF1: 114155 rows, 114155 unique ja_kodas
DF2: 114155 rows, 114155 unique ja_kodas
Common ja_kodas: 114155
Merge type: left
Expected result rows: 114155
Duplicate handling: Removed 0 from DF1, 1143711 from DF2
Actual result rows: 114155
Pair 0: Successfully merged. Shapes: (114155, 3) + (1257866, 3) -> (114155, 5)
DF2 in pair 1: Removing 1141448 duplicate merge keys (keeping first)

--- Pair 1 Merge Diagnostics ---
DF1: 113561 rows, 113561 unique ja_kodas
DF2: 113561 rows, 113561 unique ja_kodas
Common ja_kodas: 113561
Merge type: left
Expected result rows: 113561
Duplicate handling: Removed 0 from DF1, 1141448 from DF2
Actual result rows: 113561
Pair 1: Successfully merged. Shapes: (113561, 3) + (1255009, 3) -> (113561, 5)
DF2 in pair 2: Removing 1131148 duplicate merge keys (keeping first)

--- Pair 2 Merge Diagnostics ---
DF1: 112847 rows, 112847 unique ja_kodas
DF2: 112847 rows, 112847 unique ja_kodas
Common ja_kodas: 112847
Merge type: left
Expected result rows: 112847
Duplicate handling: Removed 0 from DF1, 1131148 from DF2
Actual result rows: 112847
Pair 2: Successfully merged. Shapes: (112847, 3) + (1243995, 3) -> (112847, 5)
DF2 in pair 3: Removing 1110235 duplicate merge keys (keeping first)

--- Pair 3 Merge Diagnostics ---
DF1: 110187 rows, 110187 unique ja_kodas
DF2: 110187 rows, 110187 unique ja_kodas
Common ja_kodas: 110187
Merge type: left
Expected result rows: 110187
Duplicate handling: Removed 0 from DF1, 1110235 from DF2
Actual result rows: 110187
Pair 3: Successfully merged. Shapes: (110187, 3) + (1220422, 3) -> (110187, 5)
DF2 in pair 4: Removing 1064736 duplicate merge keys (keeping first)

--- Pair 4 Merge Diagnostics ---
DF1: 106801 rows, 106801 unique ja_kodas
DF2: 106801 rows, 106801 unique ja_kodas
Common ja_kodas: 106801
Merge type: left
Expected result rows: 106801
Duplicate handling: Removed 0 from DF1, 1064736 from DF2
Actual result rows: 106801
Pair 4: Successfully merged. Shapes: (106801, 3) + (1171537, 3) -> (106801, 5)
DF2 in pair 5: Removing 1052468 duplicate merge keys (keeping first)

--- Pair 5 Merge Diagnostics ---
DF1: 105022 rows, 105022 unique ja_kodas
DF2: 105022 rows, 105022 unique ja_kodas
Common ja_kodas: 105022
Merge type: left
Expected result rows: 105022
Duplicate handling: Removed 0 from DF1, 1052468 from DF2
Actual result rows: 105022
Pair 5: Successfully merged. Shapes: (105022, 3) + (1157490, 3) -> (105022, 5)

=== MERGE SUMMARY ===
âœ… Successful merges: 6/6
ğŸ“Š Total output DataFrames: 6

[           ja_kodas  yearly_average_wage  yearly_average_employees  \
 0       110003978.0                  NaN                       2.0
 1       110004884.0               1718.0                     233.0
 2       110005648.0               2391.0                       7.0
 3       110006892.0                693.0                       4.0
 4       110008377.0               1692.0                       4.0
 ...             ...                  ...                       ...
 114150  307049184.0                  NaN                       2.0
 114151  307050133.0               4823.0                       4.0
 114152  307050432.0                  NaN                       1.0
 114153  307050998.0                  NaN                       2.0
 114154  307054142.0                  NaN                       1.0

              municipality  ecoActCode
 0        Vilniaus m. sav.    682000.0
 1        Vilniaus r. sav.    551000.0
 2        Vilniaus m. sav.    620000.0
 3        Vilniaus m. sav.    682000.0
 4        Vilniaus m. sav.    682000.0
 ...                   ...         ...
 114150   Vilniaus m. sav.         NaN
 114151   Vilniaus m. sav.         NaN
 114152   Vilniaus r. sav.         NaN
 114153  KlaipÄ—dos r. sav.         NaN
 114154  KlaipÄ—dos m. sav.         NaN

 [114155 rows x 5 columns],
            ja_kodas  yearly_average_wage  yearly_average_employees  \
 0       110003978.0                  NaN                       2.0
 1       110004884.0               1705.0                     237.0
 2       110005648.0               1449.0                      14.0
 3       110006892.0                743.0                       3.0
 4       110008377.0               1742.0                       4.0
 ...             ...                  ...                       ...
 113556  306632725.0                  NaN                       1.0
 113557  306632910.0                  NaN                       2.0
 113558  306634612.0                490.0                      10.0
 113559  306635365.0                  NaN                       1.0
 113560  306638735.0                  NaN                       1.0

              municipality  ecoActCode
 0        Vilniaus m. sav.    682000.0
 1        Vilniaus r. sav.    551000.0
 2        Vilniaus m. sav.    620000.0
 3        Vilniaus m. sav.    682000.0
 4        Vilniaus m. sav.    682000.0
 ...                   ...         ...
 113556   Vilniaus m. sav.    522400.0
 113557  KlaipÄ—dos r. sav.    932900.0
 113558   Vilniaus m. sav.         NaN
 113559   Vilniaus m. sav.         NaN
 113560   Vilniaus m. sav.    642000.0

 [113561 rows x 5 columns],
            ja_kodas  yearly_average_wage  yearly_average_employees  \
 0       110003978.0                  NaN                       2.0
 1       110004884.0               1637.0                     218.0
 2       110005648.0               1409.0                      25.0
 3       110006892.0                  NaN                       2.0
 4       110008377.0               1600.0                       4.0
 ...             ...                  ...                       ...
 112842  306199583.0                  NaN                       1.0
 112843  306200929.0                  NaN                       1.0
 112844  306201109.0                  NaN                       1.0
 112845  306201155.0                  NaN                       2.0
 112846  306201657.0                  NaN                       1.0

             municipality  ecoActCode
 0       Vilniaus m. sav.    682000.0
 1       Vilniaus r. sav.    551000.0
 2       Vilniaus m. sav.    620000.0
 3       Vilniaus m. sav.    682000.0
 4       Vilniaus m. sav.    682000.0
 ...                  ...         ...
 112842  Vilniaus m. sav.    829900.0
 112843     Kauno m. sav.    702200.0
 112844     Kauno r. sav.    451100.0
 112845   Å iauliÅ³ r. sav.    101100.0
 112846  TauragÄ—s r. sav.    860000.0

 [112847 rows x 5 columns],
            ja_kodas  yearly_average_wage  yearly_average_employees  \
 0       110003978.0                  NaN                       2.0
 1       110004884.0               1317.0                     174.0
 2       110005648.0               1467.0                      35.0
 3       110006892.0                  NaN                       2.0
 4       110008377.0               1544.0                       4.0
 ...             ...                  ...                       ...
 110182  305963804.0                  NaN                       1.0
 110183  305964233.0                  NaN                       1.0
 110184  305964703.0                  NaN                       1.0
 110185  305965118.0                  NaN                       1.0
 110186  305966896.0                  NaN                       2.0

              municipality  ecoActCode
 0        Vilniaus m. sav.    682000.0
 1        Vilniaus r. sav.    551000.0
 2        Vilniaus m. sav.    620000.0
 3        Vilniaus m. sav.    682000.0
 4        Vilniaus m. sav.    682000.0
 ...                   ...         ...
 110182   Vilniaus r. sav.    469000.0
 110183   Vilniaus m. sav.    702000.0
 110184   Vilniaus m. sav.    711210.0
 110185   Vilniaus m. sav.    952200.0
 110186  KlaipÄ—dos r. sav.    494000.0

 [110187 rows x 5 columns],
            ja_kodas  yearly_average_wage  yearly_average_employees  \
 0       110003978.0                  NaN                       2.0
 1       110004884.0               1168.0                     191.0
 2       110005648.0               1982.0                      48.0
 3       110006892.0                  NaN                       2.0
 4       110008377.0               1494.0                       4.0
 ...             ...                  ...                       ...
 106796  305672446.0                  NaN                       1.0
 106797  305672510.0                  NaN                       1.0
 106798  305672962.0                  NaN                       1.0
 106799  305673306.0                  NaN                       1.0
 106800  305673594.0                  NaN                       1.0

              municipality  ecoActCode
 0        Vilniaus m. sav.    682000.0
 1        Vilniaus r. sav.    551000.0
 2        Vilniaus m. sav.    620000.0
 3        Vilniaus m. sav.    682000.0
 4        Vilniaus m. sav.    682000.0
 ...                   ...         ...
 106796  KlaipÄ—dos m. sav.    620200.0
 106797    Å iauliÅ³ m. sav.    451100.0
 106798   Vilniaus m. sav.    460000.0
 106799      Kauno m. sav.         NaN
 106800   RokiÅ¡kio r. sav.    560000.0

 [106801 rows x 5 columns],
            ja_kodas  yearly_average_wage  yearly_average_employees  \
 0       110003978.0                  NaN                       2.0
 1       110004884.0               1309.0                     210.0
 2       110005648.0               2189.0                      54.0
 3       110006173.0                  NaN                       1.0
 4       110006892.0                  NaN                       2.0
 ...             ...                  ...                       ...
 105017  305399588.0                  NaN                       1.0
 105018  305400001.0                  NaN                       1.0
 105019  305402454.0                  NaN                       1.0
 105020  305403428.0                  NaN                       1.0
 105021  305408973.0                  NaN                       1.0

              municipality  ecoActCode
 0        Vilniaus m. sav.    682000.0
 1        Vilniaus r. sav.    551000.0
 2        Vilniaus m. sav.    620000.0
 3        Vilniaus m. sav.    681000.0
 4        Vilniaus m. sav.    682000.0
 ...                   ...         ...
 105017        Nenustatyta    411000.0
 105018    VarÄ—nos r. sav.         NaN
 105019    Alytaus m. sav.    800000.0
 105020   Vilniaus m. sav.    702200.0
 105021  KlaipÄ—dos r. sav.    702200.0

 [105022 rows x 5 columns]]

### Saving and exporting the cleaned data.

In [37]:
Employment_data_averages_2024 = mergedEyearAvg[0]
Employment_data_averages_2023 = mergedEyearAvg[1]
Employment_data_averages_2022 = mergedEyearAvg[2]
Employment_data_averages_2021 = mergedEyearAvg[3]
Employment_data_averages_2020 = mergedEyearAvg[4]
Employment_data_averages_2019 = mergedEyearAvg[5]

# Saving to data/processed, as csv files:
save_df_list_to_csv_auto(mergedEyearAvg, '../../data/interim/employment/yearly_averages/')

['Employment_data_averages_2024',
 'Employment_data_averages_2023',
 'Employment_data_averages_2022',
 'Employment_data_averages_2021',
 'Employment_data_averages_2020',
 'Employment_data_averages_2019']