In [1]:
import pandas as pd
import numpy as np

# Import statements for Functions.py
import sys
import os

from src.python import set_columns_to_numeric, set_dataframe_values, extract_columns
from src.python.Functions import describe_dataframes, remove_columns, check_and_pull_git_lfs

sys.path.append(os.path.abspath(os.path.join('..', '..', 'src', 'python')))
from Functions import *

In [2]:
# Importing the data:
check_and_pull_git_lfs()
employment2024 = read_large_file('../../data/raw/firm-employment-data/monthly-2024.json', 'json')
employment2023 = read_large_file('../../data/raw/firm-employment-data/monthly-2023.json', 'json')
employment2022 = read_large_file('../../data/raw/firm-employment-data/monthly-2022.json', 'json')
employment2021 = read_large_file('../../data/raw/firm-employment-data/monthly-2021.json', 'json')
employment2020 = read_large_file('../../data/raw/firm-employment-data/monthly-2020.json', 'json')
employment2019 = read_large_file('../../data/raw/firm-employment-data/monthly-2019.json', 'json')

Target directory for LFS operations: /home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model
Current working directory: /home/aidmantas/repos/Lithuanian-Innovation-Agency-Risk-Model/notebooks/preprocessing
Note: Using specified directory for LFS operations
Git LFS version: git-lfs/3.7.1 (GitHub; linux amd64; go 1.25.1)
Checking LFS status in target directory...
LFS Status Output:
On branch New-test-branch
Objects to be pushed to origin/New-test-branch:


Objects to be committed:


Objects not staged for commit:

	data/processed/Financial-tables/YoY-change/Full-financial-year/All-ja_kodas/Full_Financial_Year_All_ja_kodas_with_change_2024.csv (LFS: 4885b1c -> File: 6f778b7)
	notebooks/preprocessing/Employment-data-cleaning.ipynb (Git: 49c8ec0 -> File: 0b261b1)
	src/python/Functions.py (Git: 290dd77 -> File: ccb2723)


No Git LFS files need downloading
Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2024.json
File size: 494.15 MB
Detected standard JSON format (array/object)
Read JSON array with 1265352 rows
Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2023.json
File size: 493.55 MB
Detected standard JSON format (array/object)
Read JSON array with 1262409 rows
Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2022.json
File size: 489.66 MB
Detected standard JSON format (array/object)
Read JSON array with 1251233 rows
Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2021.json
File size: 498.07 MB
Detected standard JSON format (array/object)
Read JSON array with 1227034 rows
Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2020.json
File size: 478.72 MB
Detected standard JSON format (array/object)
Read JSON array with 1177773 rows
Reading JSON file from: ../../data/raw/firm-employment-data/monthly-2019.json
File size: 473.09 MB
Detected standard JSON format (array/object)
Read JSON array with 1163329 rows

In [16]:

E2024 = employment2024.copy()
E2023 = employment2023.copy()
E2022 = employment2022.copy()
E2021 = employment2021.copy()
E2020 = employment2020.copy()
E2019 = employment2019.copy()

# Save in list for later use:
E = [E2024, E2023, E2022, E2021, E2020, E2019]

In [17]:
columns_to_remove = ['lookupId', 'code', 'name', 'shortname', 'ecoActName', 'tax']

remove_columns(E, columns_to_remove)

rename_columns_if_exist(E, 'jarCode', 'ja_kodas')

üìä DataFrame 0:
   ‚úÖ Removed: ['lookupId', 'code', 'name', 'shortname', 'ecoActName', 'tax']
   üìã Remaining columns: 8
üìä DataFrame 1:
   ‚úÖ Removed: ['lookupId', 'code', 'name', 'shortname', 'ecoActName', 'tax']
   üìã Remaining columns: 8
üìä DataFrame 2:
   ‚úÖ Removed: ['lookupId', 'code', 'name', 'shortname', 'ecoActName', 'tax']
   üìã Remaining columns: 8
üìä DataFrame 3:
   ‚úÖ Removed: ['lookupId', 'code', 'name', 'shortname', 'ecoActName', 'tax']
   üìã Remaining columns: 8
üìä DataFrame 4:
   ‚úÖ Removed: ['lookupId', 'code', 'name', 'shortname', 'ecoActName', 'tax']
   üìã Remaining columns: 8
üìä DataFrame 5:
   ‚úÖ Removed: ['lookupId', 'code', 'name', 'shortname', 'ecoActName', 'tax']
   üìã Remaining columns: 8

üéØ FINAL SUMMARY:
   üì¶ Processed 6 DataFrames
   üóëÔ∏è  Total columns removed: 36
   ‚è≠Ô∏è  Total columns skipped: 0

[          ja_kodas   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   202401  2502.17       NaN           5            0
 1                   202401      NaN       NaN           3            0
 2                   202401  1470.39       NaN          24            0
 3                   202401  2509.23       NaN          10            0
 4                   202401  1247.19       NaN          19            0
 ...            ...     ...      ...       ...         ...          ...
 1265347  307049184  202412      NaN       NaN           2            0
 1265348  307050133  202412  4823.23       NaN           4            0
 1265349  307050432  202412      NaN       NaN           1            0
 1265350  307050998  202412      NaN       NaN           2            0
 1265351  307054142  202412      NaN       NaN           1            0

          ecoActCode       municipality
 0               NaN   Vilniaus m. sav.
 1               NaN   Vilniaus m. sav.
 2               NaN   Vilniaus m. sav.
 3               NaN   Vilniaus m. sav.
 4               NaN   Vilniaus m. sav.
 ...             ...                ...
 1265347         NaN   Vilniaus m. sav.
 1265348         NaN   Vilniaus m. sav.
 1265349         NaN   Vilniaus r. sav.
 1265350         NaN  Klaipƒódos r. sav.
 1265351         NaN  Klaipƒódos m. sav.

 [1265352 rows x 8 columns],
           ja_kodas   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   202301      NaN       NaN           3            0
 1                   202301  1651.63       NaN          11            0
 2                   202301  2419.21       NaN           5            0
 3                   202301  1287.87       NaN          23            0
 4                   202301  1245.95       NaN          19            0
 ...            ...     ...      ...       ...         ...          ...
 1262404  306634612  202311   143.27       NaN           5            0
 1262405  306634612  202312   835.91       NaN          14            0
 1262406  306635365  202311      NaN       NaN           1            0
 1262407  306638735  202311      NaN       NaN           1            0
 1262408  306638735  202312      NaN       NaN           1            0

          ecoActCode      municipality
 0               NaN  Vilniaus m. sav.
 1               NaN  Vilniaus m. sav.
 2               NaN  Vilniaus m. sav.
 3               NaN  Vilniaus m. sav.
 4               NaN  Vilniaus m. sav.
 ...             ...               ...
 1262404         NaN  Vilniaus m. sav.
 1262405         NaN  Vilniaus m. sav.
 1262406         NaN  Vilniaus m. sav.
 1262407    642000.0  Vilniaus m. sav.
 1262408    642000.0  Vilniaus m. sav.

 [1262409 rows x 8 columns],
           ja_kodas   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   202201      NaN       NaN           3            0
 1                   202201  1758.46       NaN           8            0
 2                   202201  1834.75       NaN           6            0
 3                   202201  1258.85       NaN          21            0
 4                   202201  1213.67       NaN          18            0
 ...            ...     ...      ...       ...         ...          ...
 1251228  306199583  202212      NaN       NaN           1            0
 1251229  306200929  202212      NaN       NaN           1            0
 1251230  306201109  202212      NaN       NaN           1            0
 1251231  306201155  202212      NaN       NaN           2            0
 1251232  306201657  202212      NaN       NaN           1            0

          ecoActCode      municipality
 0               NaN  Vilniaus m. sav.
 1               NaN  Vilniaus m. sav.
 2               NaN  Vilniaus m. sav.
 3               NaN  Vilniaus m. sav.
 4               NaN  Vilniaus m. sav.
 ...             ...               ...
 1251228    829900.0  Vilniaus m. sav.
 1251229    702200.0     Kauno m. sav.
 1251230    451100.0     Kauno r. sav.
 1251231    101100.0   ≈†iauli≈≥ r. sav.
 1251232    860000.0  Tauragƒós r. sav.

 [1251233 rows x 8 columns],
           ja_kodas   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   202101      NaN       NaN           3            0
 1                   202101  1690.69       NaN           8            0
 2                   202101  1746.65       NaN           7            0
 3                   202101  1216.86       NaN          23            0
 4                   202101  1169.69       NaN          18            0
 ...            ...     ...      ...       ...         ...          ...
 1227029  305963804  202112      NaN       NaN           1            0
 1227030  305964233  202112      NaN       NaN           1            0
 1227031  305964703  202112      NaN       NaN           1            0
 1227032  305965118  202112      NaN       NaN           1            0
 1227033  305966896  202112      NaN       NaN           2            0

          ecoActCode       municipality
 0               NaN   Vilniaus m. sav.
 1               NaN   Vilniaus m. sav.
 2               NaN   Vilniaus m. sav.
 3               NaN   Vilniaus m. sav.
 4               NaN   Vilniaus m. sav.
 ...             ...                ...
 1227029    469000.0   Vilniaus r. sav.
 1227030    702000.0   Vilniaus m. sav.
 1227031    711210.0   Vilniaus m. sav.
 1227032    952200.0   Vilniaus m. sav.
 1227033    494000.0  Klaipƒódos r. sav.

 [1227034 rows x 8 columns],
           ja_kodas   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   202001      NaN       NaN           3            0
 1                   202001  1763.61       NaN           7            0
 2                   202001  2045.02       NaN           6            0
 3                   202001  1272.62       NaN          23            0
 4                   202001  1147.08       NaN          18            0
 ...            ...     ...      ...       ...         ...          ...
 1177768  305672446  202012      NaN       NaN           1            0
 1177769  305672510  202012      NaN       NaN           1            0
 1177770  305672962  202012      NaN       NaN           1            0
 1177771  305673306  202012      NaN       NaN           1            0
 1177772  305673594  202012      NaN       NaN           1            0

          ecoActCode       municipality
 0               NaN   Vilniaus m. sav.
 1               NaN   Vilniaus m. sav.
 2               NaN   Vilniaus m. sav.
 3               NaN   Vilniaus m. sav.
 4               NaN   Vilniaus m. sav.
 ...             ...                ...
 1177768    620200.0  Klaipƒódos m. sav.
 1177769    451100.0    ≈†iauli≈≥ m. sav.
 1177770    460000.0   Vilniaus m. sav.
 1177771         NaN      Kauno m. sav.
 1177772    560000.0   Roki≈°kio r. sav.

 [1177773 rows x 8 columns],
           ja_kodas   month  avgWage  avgWage2  numInsured  numInsured2  \
 0                   201901      NaN       NaN           3            0
 1                   201901  1712.98       NaN           8            0
 2                   201901  2266.82       NaN           5            0
 3                   201901  1278.02       NaN          22            0
 4                   201901  1059.64       NaN          20            0
 ...            ...     ...      ...       ...         ...          ...
 1163324  305399588  201912      NaN       NaN           1            0
 1163325  305400001  201912      NaN       NaN           1            0
 1163326  305402454  201912      NaN       NaN           1            0
 1163327  305403428  201912      NaN       NaN           1            0
 1163328  305408973  201912      NaN       NaN           1            0

          ecoActCode       municipality
 0               NaN   Vilniaus m. sav.
 1               NaN   Vilniaus m. sav.
 2               NaN   Vilniaus m. sav.
 3               NaN   Vilniaus m. sav.
 4               NaN   Vilniaus m. sav.
 ...             ...                ...
 1163324    411000.0        Nenustatyta
 1163325         NaN    Varƒónos r. sav.
 1163326    800000.0    Alytaus m. sav.
 1163327    702200.0   Vilniaus m. sav.
 1163328    702200.0  Klaipƒódos r. sav.

 [1163329 rows x 8 columns]]

### Removing non ja_kodas firms from the data.

In [18]:

# Setting ja_kodas to numeric type:

set_columns_to_numeric(E, 'ja_kodas')

E = remove_rows_by_value(
    data=E,
    columns='ja_kodas',
    values=[],
    include_nan=True,
    verbose=True
)

Processing DataFrame 0
Converted column 'ja_kodas' to numeric type

üìä Processing Summary:
   ‚úÖ Converted 1 columns to numeric
   ‚è≠Ô∏è  Skipped 0 columns (not found)
   üóëÔ∏è  Dropped 0 columns

Processing DataFrame 1
Converted column 'ja_kodas' to numeric type

üìä Processing Summary:
   ‚úÖ Converted 1 columns to numeric
   ‚è≠Ô∏è  Skipped 0 columns (not found)
   üóëÔ∏è  Dropped 0 columns

Processing DataFrame 2
Converted column 'ja_kodas' to numeric type

üìä Processing Summary:
   ‚úÖ Converted 1 columns to numeric
   ‚è≠Ô∏è  Skipped 0 columns (not found)
   üóëÔ∏è  Dropped 0 columns

Processing DataFrame 3
Converted column 'ja_kodas' to numeric type

üìä Processing Summary:
   ‚úÖ Converted 1 columns to numeric
   ‚è≠Ô∏è  Skipped 0 columns (not found)
   üóëÔ∏è  Dropped 0 columns

Processing DataFrame 4
Converted column 'ja_kodas' to numeric type

üìä Processing Summary:
   ‚úÖ Converted 1 columns to numeric
   ‚è≠Ô∏è  Skipped 0 columns (not found)
   üóëÔ∏è  Dropped 0 columns

Processing DataFrame 5
Converted column 'ja_kodas' to numeric type

üìä Processing Summary:
   ‚úÖ Converted 1 columns to numeric
   ‚è≠Ô∏è  Skipped 0 columns (not found)
   üóëÔ∏è  Dropped 0 columns
DataFrame 0: Checking column 'ja_kodas' for 0 values (including NaN)
DataFrame 0: Removed 7486 rows
DataFrame 1: Checking column 'ja_kodas' for 0 values (including NaN)
DataFrame 1: Removed 7400 rows
DataFrame 2: Checking column 'ja_kodas' for 0 values (including NaN)
DataFrame 2: Removed 7238 rows
DataFrame 3: Checking column 'ja_kodas' for 0 values (including NaN)
DataFrame 3: Removed 6612 rows
DataFrame 4: Checking column 'ja_kodas' for 0 values (including NaN)
DataFrame 4: Removed 6236 rows
DataFrame 5: Checking column 'ja_kodas' for 0 values (including NaN)
DataFrame 5: Removed 5839 rows

üéØ FINAL SUMMARY:
   üì¶ Processed 6 DataFrames
   üóëÔ∏è  Total rows removed: 40811

### Merging numInsured and numInsured2 into total_employees by summing them up.

In [19]:
print(E[0].head())

         ja_kodas   month  avgWage  avgWage2  numInsured  numInsured2  \
7486  110003978.0  202401      NaN       NaN           2            0
7487  110003978.0  202402      NaN       NaN           2            0
7488  110003978.0  202403      NaN       NaN           2            0
7489  110003978.0  202404      NaN       NaN           2            0
7490  110003978.0  202405      NaN       NaN           2            0

      ecoActCode      municipality
7486    682000.0  Vilniaus m. sav.
7487    682000.0  Vilniaus m. sav.
7488    682000.0  Vilniaus m. sav.
7489    682000.0  Vilniaus m. sav.
7490    682000.0  Vilniaus m. sav.

### Creating total employees column and a single average wage column.

In [23]:
# employees
create_variable_eval(E, 'employees', '`numInsured` + `numInsured2`', fill_na=0)


# wages
create_variable_eval(E, 'average_wage', '(`avgWage` * `numInsured` + `avgWage2` * `numInsured2` ) / (`numInsured` + `numInsured2`)', fill_na=0)


# removing redundant columns
remove_columns(E, ['numInsured', 'numInsured2', 'avgWage', 'avgWage2'], inplace=True)

set_dataframe_values(E, 0, np.nan, columns='average_wage', inplace=True)

# Rounding everything to 2 decimals:

round_dataframe_values(E, 2, inplace=True)

‚úó Failed to apply formula in [0]: name 'numInsured' is not defined
‚úó Failed to apply formula in [1]: name 'numInsured' is not defined
‚úó Failed to apply formula in [2]: name 'numInsured' is not defined
‚úó Failed to apply formula in [3]: name 'numInsured' is not defined
‚úó Failed to apply formula in [4]: name 'numInsured' is not defined
‚úó Failed to apply formula in [5]: name 'numInsured' is not defined

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 6
Successful: 0 (0.0%)
Failed: 6

Errors encountered:
  - Error in [0]: name 'numInsured' is not defined
  - Error in [1]: name 'numInsured' is not defined
  - Error in [2]: name 'numInsured' is not defined
  - Error in [3]: name 'numInsured' is not defined
  - Error in [4]: name 'numInsured' is not defined
  - Error in [5]: name 'numInsured' is not defined
‚úó Failed to apply formula in [0]: name 'avgWage' is not defined
‚úó Failed to apply formula in [1]: name 'avgWage' is not defined
‚úó Failed to apply formula in [2]: name 'avgWage' is not defined
‚úó Failed to apply formula in [3]: name 'avgWage' is not defined
‚úó Failed to apply formula in [4]: name 'avgWage' is not defined
‚úó Failed to apply formula in [5]: name 'avgWage' is not defined

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 6
Successful: 0 (0.0%)
Failed: 6

Errors encountered:
  - Error in [0]: name 'avgWage' is not defined
  - Error in [1]: name 'avgWage' is not defined
  - Error in [2]: name 'avgWage' is not defined
  - Error in [3]: name 'avgWage' is not defined
  - Error in [4]: name 'avgWage' is not defined
  - Error in [5]: name 'avgWage' is not defined
üìä DataFrame 0:
   ‚è≠Ô∏è  Skipped: ['numInsured', 'numInsured2', 'avgWage', 'avgWage2']
   üìã Remaining columns: 27
üìä DataFrame 1:
   ‚è≠Ô∏è  Skipped: ['numInsured', 'numInsured2', 'avgWage', 'avgWage2']
   üìã Remaining columns: 27
üìä DataFrame 2:
   ‚è≠Ô∏è  Skipped: ['numInsured', 'numInsured2', 'avgWage', 'avgWage2']
   üìã Remaining columns: 27
üìä DataFrame 3:
   ‚è≠Ô∏è  Skipped: ['numInsured', 'numInsured2', 'avgWage', 'avgWage2']
   üìã Remaining columns: 27
üìä DataFrame 4:
   ‚è≠Ô∏è  Skipped: ['numInsured', 'numInsured2', 'avgWage', 'avgWage2']
   üìã Remaining columns: 27
üìä DataFrame 5:
   ‚è≠Ô∏è  Skipped: ['numInsured', 'numInsured2', 'avgWage', 'avgWage2']
   üìã Remaining columns: 27

üéØ FINAL SUMMARY:
   üì¶ Processed 6 DataFrames
   üóëÔ∏è  Total columns removed: 0
   ‚è≠Ô∏è  Total columns skipped: 0

üìÑ Processing DataFrame 1/6
   Shape: (114155, 27)
‚ö†Ô∏è  No valid columns found to process

üìÑ Processing DataFrame 2/6
   Shape: (113561, 27)
‚ö†Ô∏è  No valid columns found to process

üìÑ Processing DataFrame 3/6
   Shape: (112847, 27)
‚ö†Ô∏è  No valid columns found to process

üìÑ Processing DataFrame 4/6
   Shape: (110187, 27)
‚ö†Ô∏è  No valid columns found to process

üìÑ Processing DataFrame 5/6
   Shape: (106801, 27)
‚ö†Ô∏è  No valid columns found to process

üìÑ Processing DataFrame 6/6
   Shape: (105022, 27)
‚ö†Ô∏è  No valid columns found to process

‚úÖ INPLACE OPERATION COMPLETED: Original DataFrame(s) modified

### Pivoting the data so that each row represents a unique firm-month combination with employment numbers as values.

In [27]:
# Extracing municipality, ja_kodas and ecoActCode for later merging back:

EforMerge = extract_columns(E, ['ja_kodas', 'municipality', 'ecoActCode'])

DataFrame 0: Extracted 3 columns, processed shape: (114155, 27)
DataFrame 1: Extracted 3 columns, processed shape: (113561, 27)
DataFrame 2: Extracted 3 columns, processed shape: (112847, 27)
DataFrame 3: Extracted 3 columns, processed shape: (110187, 27)
DataFrame 4: Extracted 3 columns, processed shape: (106801, 27)
DataFrame 5: Extracted 3 columns, processed shape: (105022, 27)

In [25]:

# Pivoting the data:

Epivot = pivot_dfs_smart_flexible(
    dataframes=E,
    pivot_column='month',
    value_columns=['average_wage', 'employees'],  # Multiple value columns as list
    id_columns='ja_kodas',                        # Single ID column as string
    verbose=True,
    inplace=False
)

‚ö†Ô∏è  INPLACE MODE: Modifying original DataFrame(s)
DataFrame 0: Missing columns ['month', 'average_wage', 'employees']
DataFrame 1: Missing columns ['month', 'average_wage', 'employees']
DataFrame 2: Missing columns ['month', 'average_wage', 'employees']
DataFrame 3: Missing columns ['month', 'average_wage', 'employees']
DataFrame 4: Missing columns ['month', 'average_wage', 'employees']
DataFrame 5: Missing columns ['month', 'average_wage', 'employees']

### Calculating the yearly averages for employment and wages.

In [ ]:
# Calculating yearly averages for employment and wages:

# Average wage:
create_variable_eval(Epivot, 'yearly_average_wage',  , fill_na=0)