## Variable creation

### Importing libraries

In [1]:

# Importing libraries
import pandas as pd
import numpy as np
import openpyxl
import os
import sys

from src.python import read_large_file, create_variable_eval, set_columns_to_datetime, extract_columns, \
    merge_similar_dfs, save_df_list_to_csv_auto, save_df_list_to_xlsx_auto, remove_duplicate_rows, remove_columns, \
    remove_inf_values, round_dataframe_values

sys.path.append(os.path.abspath(os.path.join('..', '..', 'src', 'python')))
from Functions import *

### Importing the dataset
We will use the less filler datasets for this notebook.

In [2]:
# Importing the dataset

# Full financial year, all ja_kodas codes.
oFFAJKA2025 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/full_financial_year/Merged2025_full_financial_year_all.csv')
oFFAJKA2024 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/full_financial_year/Merged2024_full_financial_year_all.csv')
oFFAJKA2023 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/full_financial_year/Merged2023_full_financial_year_all.csv')
oFFAJKA2022 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/full_financial_year/Merged2022_full_financial_year_all.csv')
oFFAJKA2021 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/full_financial_year/Merged2021_full_financial_year_all.csv')
oFFAJKA2020 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/full_financial_year/Merged2020_full_financial_year_all.csv')

# Full financial year, mathing ja_kodas codes.
oFFAJKM2025 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/full_financial_year/Merged2025_full_financial_year_matching.csv')
oFFAJKM2024 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/full_financial_year/Merged2024_full_financial_year_matching.csv')
oFFAJKM2023 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/full_financial_year/Merged2023_full_financial_year_matching.csv')
oFFAJKM2022 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/full_financial_year/Merged2022_full_financial_year_matching.csv')
oFFAJKM2021 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/full_financial_year/Merged2021_full_financial_year_matching.csv')
oFFAJKM2020 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/full_financial_year/Merged2020_full_financial_year_matching.csv')

#New firms included, all ja_kodas codes.
oNFAJKA2025 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/with_new_firms/Merged2025_all_firms_all.csv')
oNFAJKA2024 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/with_new_firms/Merged2024_all_firms_all.csv')
oNFAJKA2023 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/with_new_firms/Merged2023_all_firms_all.csv')
oNFAJKA2022 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/with_new_firms/Merged2022_all_firms_all.csv')
oNFAJKA2021 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/with_new_firms/Merged2021_all_firms_all.csv')
oNFAJKA2020 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/with_new_firms/Merged2020_all_firms_all.csv')

#New firms included, matching ja_kodas codes.
oNFAJKM2025 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/with_new_firms/Merged2025_all_firms_matching.csv')
oNFAJKM2024 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/with_new_firms/Merged2024_all_firms_matching.csv')
oNFAJKM2023 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/with_new_firms/Merged2023_all_firms_matching.csv')
oNFAJKM2022 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/with_new_firms/Merged2022_all_firms_matching.csv')
oNFAJKM2021 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/with_new_firms/Merged2021_all_firms_matching.csv')
oNFAJKM2020 = read_large_file('../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/with_new_firms/Merged2020_all_firms_matching.csv')

# Address data

Address = pd.read_excel('../../data/raw/firm-adress-data/JAR_ADRESAI_su_apskritimis.xlsx')

# Employment data, yearly averages

oE2024 = read_large_file('../../data/interim/employment/yearly_averages/Employment_data_averages_2024.csv')
oE2023 = read_large_file('../../data/interim/employment/yearly_averages/Employment_data_averages_2023.csv')
oE2022 = read_large_file('../../data/interim/employment/yearly_averages/Employment_data_averages_2022.csv')
oE2021 = read_large_file('../../data/interim/employment/yearly_averages/Employment_data_averages_2021.csv')
oE2020 = read_large_file('../../data/interim/employment/yearly_averages/Employment_data_averages_2020.csv')
oE2019 = read_large_file('../../data/interim/employment/yearly_averages/Employment_data_averages_2019.csv')

Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/full_financial_year/Merged2025_full_financial_year_all.csv
File size: 20.21 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 10000 rows (total: 100000)
Processed chunk 11 with 10000 rows (total: 110000)
Processed chunk 12 with 10000 rows (total: 120000)
Processed chunk 13 with 10000 rows (total: 130000)
Processed chunk 14 with 2531 rows (total: 132531)
Concatenating 14 chunks...
Finished reading. Total rows: 132531
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/full_financial_year/Merged2024_full_financial_year_all.csv
File size: 19.32 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 10000 rows (total: 100000)
Processed chunk 11 with 10000 rows (total: 110000)
Processed chunk 12 with 10000 rows (total: 120000)
Processed chunk 13 with 6352 rows (total: 126352)
Concatenating 13 chunks...
Finished reading. Total rows: 126352
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/full_financial_year/Merged2023_full_financial_year_all.csv
File size: 18.27 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 10000 rows (total: 100000)
Processed chunk 11 with 10000 rows (total: 110000)
Processed chunk 12 with 10000 rows (total: 120000)
Processed chunk 13 with 5097 rows (total: 125097)
Concatenating 13 chunks...
Finished reading. Total rows: 125097
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/full_financial_year/Merged2022_full_financial_year_all.csv
File size: 15.42 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 10000 rows (total: 100000)
Processed chunk 11 with 6007 rows (total: 106007)
Concatenating 11 chunks...
Finished reading. Total rows: 106007
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/full_financial_year/Merged2021_full_financial_year_all.csv
File size: 13.90 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 4514 rows (total: 94514)
Concatenating 10 chunks...
Finished reading. Total rows: 94514
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/full_financial_year/Merged2020_full_financial_year_all.csv
File size: 12.81 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 6742 rows (total: 86742)
Concatenating 9 chunks...
Finished reading. Total rows: 86742
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/full_financial_year/Merged2025_full_financial_year_matching.csv
File size: 19.53 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 10000 rows (total: 100000)
Processed chunk 11 with 10000 rows (total: 110000)
Processed chunk 12 with 10000 rows (total: 120000)
Processed chunk 13 with 10000 rows (total: 130000)
Processed chunk 14 with 384 rows (total: 130384)
Concatenating 14 chunks...
Finished reading. Total rows: 130384
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/full_financial_year/Merged2024_full_financial_year_matching.csv
File size: 18.68 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.05}
Detected delimiter: ',' (score: 16.05)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 10000 rows (total: 100000)
Processed chunk 11 with 10000 rows (total: 110000)
Processed chunk 12 with 10000 rows (total: 120000)
Processed chunk 13 with 4484 rows (total: 124484)
Concatenating 13 chunks...
Finished reading. Total rows: 124484
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/full_financial_year/Merged2023_full_financial_year_matching.csv
File size: 15.78 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.15}
Detected delimiter: ',' (score: 16.15)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 10000 rows (total: 100000)
Processed chunk 11 with 5929 rows (total: 105929)
Concatenating 11 chunks...
Finished reading. Total rows: 105929
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/full_financial_year/Merged2022_full_financial_year_matching.csv
File size: 14.24 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 5135 rows (total: 95135)
Concatenating 10 chunks...
Finished reading. Total rows: 95135
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/full_financial_year/Merged2021_full_financial_year_matching.csv
File size: 13.00 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 6395 rows (total: 86395)
Concatenating 9 chunks...
Finished reading. Total rows: 86395
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/full_financial_year/Merged2020_full_financial_year_matching.csv
File size: 12.00 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 9357 rows (total: 79357)
Concatenating 8 chunks...
Finished reading. Total rows: 79357
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/with_new_firms/Merged2025_all_firms_all.csv
File size: 21.89 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 10000 rows (total: 100000)
Processed chunk 11 with 10000 rows (total: 110000)
Processed chunk 12 with 10000 rows (total: 120000)
Processed chunk 13 with 10000 rows (total: 130000)
Processed chunk 14 with 10000 rows (total: 140000)
Processed chunk 15 with 4336 rows (total: 144336)
Concatenating 15 chunks...
Finished reading. Total rows: 144336
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/with_new_firms/Merged2024_all_firms_all.csv
File size: 21.05 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 10000 rows (total: 100000)
Processed chunk 11 with 10000 rows (total: 110000)
Processed chunk 12 with 10000 rows (total: 120000)
Processed chunk 13 with 10000 rows (total: 130000)
Processed chunk 14 with 8564 rows (total: 138564)
Concatenating 14 chunks...
Finished reading. Total rows: 138564
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/with_new_firms/Merged2023_all_firms_all.csv
File size: 19.80 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 10000 rows (total: 100000)
Processed chunk 11 with 10000 rows (total: 110000)
Processed chunk 12 with 10000 rows (total: 120000)
Processed chunk 13 with 10000 rows (total: 130000)
Processed chunk 14 with 6578 rows (total: 136578)
Concatenating 14 chunks...
Finished reading. Total rows: 136578
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/with_new_firms/Merged2022_all_firms_all.csv
File size: 16.88 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 10000 rows (total: 100000)
Processed chunk 11 with 10000 rows (total: 110000)
Processed chunk 12 with 6768 rows (total: 116768)
Concatenating 12 chunks...
Finished reading. Total rows: 116768
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/with_new_firms/Merged2021_all_firms_all.csv
File size: 15.13 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 10000 rows (total: 100000)
Processed chunk 11 with 3744 rows (total: 103744)
Concatenating 11 chunks...
Finished reading. Total rows: 103744
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/all-ja_kodas/with_new_firms/Merged2020_all_firms_all.csv
File size: 13.90 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 4664 rows (total: 94664)
Concatenating 10 chunks...
Finished reading. Total rows: 94664
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/with_new_firms/Merged2025_all_firms_matching.csv
File size: 21.17 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.0}
Detected delimiter: ',' (score: 16.00)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 10000 rows (total: 100000)
Processed chunk 11 with 10000 rows (total: 110000)
Processed chunk 12 with 10000 rows (total: 120000)
Processed chunk 13 with 10000 rows (total: 130000)
Processed chunk 14 with 10000 rows (total: 140000)
Processed chunk 15 with 2174 rows (total: 142174)
Concatenating 15 chunks...
Finished reading. Total rows: 142174
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/with_new_firms/Merged2024_all_firms_matching.csv
File size: 20.37 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.05}
Detected delimiter: ',' (score: 16.05)
Bad lines handling: error
File encoding: utf-8
Processed chunk 1 with 10000 rows (total: 10000)
Processed chunk 2 with 10000 rows (total: 20000)
Processed chunk 3 with 10000 rows (total: 30000)
Processed chunk 4 with 10000 rows (total: 40000)
Processed chunk 5 with 10000 rows (total: 50000)
Processed chunk 6 with 10000 rows (total: 60000)
Processed chunk 7 with 10000 rows (total: 70000)
Processed chunk 8 with 10000 rows (total: 80000)
Processed chunk 9 with 10000 rows (total: 90000)
Processed chunk 10 with 10000 rows (total: 100000)
Processed chunk 11 with 10000 rows (total: 110000)
Processed chunk 12 with 10000 rows (total: 120000)
Processed chunk 13 with 10000 rows (total: 130000)
Processed chunk 14 with 6680 rows (total: 136680)
Concatenating 14 chunks...
Finished reading. Total rows: 136680
Reading CSV file from: ../../data/interim/joined-balance-and-PnL-no-filler/only-matching-ja_kodas/with_new_firms/Merged2023_all_firms_matching.csv
File size: 17.10 MB
Auto-detecting CSV delimiter...
Delimiter detection scores: {',': 16.05}
Detected delimiter: ',' (score: 16.05)
Bad lines handling: error
File encoding: utf-8

### Making copies of the dataframes
We will make copies of the dataframes to avoid any unwanted modifications to the original dataframes.

In [3]:
# Making copies of the dataframes

# Full financial year, all ja_kodas codes.

FFAJKA2025 = oFFAJKA2025.copy()
FFAJKA2024 = oFFAJKA2024.copy()
FFAJKA2023 = oFFAJKA2023.copy()
FFAJKA2022 = oFFAJKA2022.copy()
FFAJKA2021 = oFFAJKA2021.copy()
FFAJKA2020 = oFFAJKA2020.copy()

# Full financial year, matching ja_kodas codes.

FFAJKM2025 = oFFAJKM2025.copy()
FFAJKM2024 = oFFAJKM2024.copy()
FFAJKM2023 = oFFAJKM2023.copy()
FFAJKM2022 = oFFAJKM2022.copy()
FFAJKM2021 = oFFAJKM2021.copy()
FFAJKM2020 = oFFAJKM2020.copy()

#New firms included, all ja_kodas codes.

NFAJKA2025 = oNFAJKA2025.copy()
NFAJKA2024 = oNFAJKA2024.copy()
NFAJKA2023 = oNFAJKA2023.copy()
NFAJKA2022 = oNFAJKA2022.copy()
NFAJKA2021 = oNFAJKA2021.copy()
NFAJKA2020 = oNFAJKA2020.copy()

#New firms included, matching ja_kodas codes.

NFAJKM2025 = oNFAJKM2025.copy()
NFAJKM2024 = oNFAJKM2024.copy()
NFAJKM2023 = oNFAJKM2023.copy()
NFAJKM2022 = oNFAJKM2022.copy()
NFAJKM2021 = oNFAJKM2021.copy()
NFAJKM2020 = oNFAJKM2020.copy()

# Saving in lists for ease of use.

FFAJKA = [FFAJKA2025, FFAJKA2024, FFAJKA2023, FFAJKA2022, FFAJKA2021, FFAJKA2020]
FFAJKM = [FFAJKM2025, FFAJKM2024, FFAJKM2023, FFAJKM2022, FFAJKM2021, FFAJKM2020]
NFAJKA = [NFAJKA2025, NFAJKA2024, NFAJKA2023, NFAJKA2022, NFAJKA2021, NFAJKA2020]
NFAJKM = [NFAJKM2025, NFAJKM2024, NFAJKM2023, NFAJKM2022, NFAJKM2021, NFAJKM2020]

# Employment data, yearly averages

E2024 = oE2024.copy()
E2023 = oE2023.copy()
E2022 = oE2022.copy()
E2021 = oE2021.copy()
E2020 = oE2020.copy()
E2019 = oE2019.copy()

# All financial data in a list of lists.
ALL_DATA = [FFAJKA, FFAJKM, NFAJKA, NFAJKM]

### Creating variables

In [4]:

# TURTAS variable

create_variable_eval(ALL_DATA, 'TURTAS', '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`')

# GRYNOJO PELNO MARZA variable

create_variable_eval(ALL_DATA, 'GRYNOJO PELNO MARŽA (%)', '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100')

# TURTO APYVARTUMAS variable

create_variable_eval(ALL_DATA, 'TURTO APYVARTUMAS (santykis)', '`TURTAS` / `PARDAVIMO PAJAMOS`')

# ROA variable

create_variable_eval(ALL_DATA, 'ROA (%)', '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100')

# VĖLUOJANČIOS ATASKAITOS variable, reg_date of pnl or balance is after 05-30
Y2025 = [FFAJKA2025, FFAJKM2025, NFAJKA2025, NFAJKM2025]
Y2024 = [FFAJKA2024, FFAJKM2024, NFAJKA2024, NFAJKM2024]
Y2023 = [FFAJKA2023, FFAJKM2023, NFAJKA2023, NFAJKM2023]
Y2022 = [FFAJKA2022, FFAJKM2022, NFAJKA2022, NFAJKM2022]
Y2021 = [FFAJKA2021, FFAJKM2021, NFAJKA2021, NFAJKM2021]
Y2020 = [FFAJKA2020, FFAJKM2020, NFAJKA2020, NFAJKM2020]

set_columns_to_datetime(Y2025, ['reg_date_pnl', 'reg_date_balance'], inplace=True)

create_variable_eval(Y2025, 'VĖLUOJANČIOS ATASKAITOS', '(`reg_date_pnl` > "2025-04-30") | (`reg_date_balance` > "2025-04-30")')
create_variable_eval(Y2024, 'VĖLUOJANČIOS ATASKAITOS', '(`reg_date_pnl` > "2024-04-30") | (`reg_date_balance` > "2024-04-30")')
create_variable_eval(Y2023, 'VĖLUOJANČIOS ATASKAITOS', '(`reg_date_pnl` > "2023-04-30") | (`reg_date_balance` > "2023-04-30")')
create_variable_eval(Y2022, 'VĖLUOJANČIOS ATASKAITOS', '(`reg_date_pnl` > "2022-04-30") | (`reg_date_balance` > "2022-04-30")')
create_variable_eval(Y2021, 'VĖLUOJANČIOS ATASKAITOS', '(`reg_date_pnl` > "2021-04-30") | (`reg_date_balance` > "2021-04-30")')
create_variable_eval(Y2020, 'VĖLUOJANČIOS ATASKAITOS', '(`reg_date_pnl` > "2020-04-30") | (`reg_date_balance` > "2020-04-30")')


# SVERTINIS MOKUMO PAKAITALAS variable

create_variable_eval(ALL_DATA, 'SVERTINIS MOKUMO PAKAITALAS (santykis)', '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`')

✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [0, 0]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [0, 1]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [0, 2]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [0, 3]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [0, 4]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [0, 5]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [1, 0]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [1, 1]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [1, 2]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [1, 3]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [1, 4]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [1, 5]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [2, 0]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [2, 1]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [2, 2]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [2, 3]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [2, 4]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [2, 5]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [3, 0]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [3, 1]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [3, 2]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [3, 3]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [3, 4]
✓ Modified DataFrame with formula '`ILGALAIKIS TURTAS` + `TRUMPALAIKIS TURTAS`' -> 'TURTAS' at [3, 5]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 24
Successful: 24 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (%)' at [0, 0]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (%)' at [0, 1]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (%)' at [0, 2]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (%)' at [0, 3]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (%)' at [0, 4]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (%)' at [0, 5]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (%)' at [1, 0]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (%)' at [1, 1]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (%)' at [1, 2]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (%)' at [1, 3]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (%)' at [1, 4]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (%)' at [1, 5]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (%)' at [2, 0]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (%)' at [2, 1]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (%)' at [2, 2]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (%)' at [2, 3]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (%)' at [2, 4]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (%)' at [2, 5]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (%)' at [3, 0]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (%)' at [3, 1]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (%)' at [3, 2]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (%)' at [3, 3]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (%)' at [3, 4]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `PARDAVIMO PAJAMOS`) * 100' -> 'GRYNOJO PELNO MARŽA (%)' at [3, 5]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 24
Successful: 24 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [0, 0]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [0, 1]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [0, 2]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [0, 3]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [0, 4]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [0, 5]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [1, 0]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [1, 1]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [1, 2]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [1, 3]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [1, 4]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [1, 5]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [2, 0]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [2, 1]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [2, 2]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [2, 3]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [2, 4]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [2, 5]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [3, 0]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [3, 1]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [3, 2]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [3, 3]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [3, 4]
✓ Modified DataFrame with formula '`TURTAS` / `PARDAVIMO PAJAMOS`' -> 'TURTO APYVARTUMAS (santykis)' at [3, 5]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 24
Successful: 24 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (%)' at [0, 0]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (%)' at [0, 1]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (%)' at [0, 2]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (%)' at [0, 3]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (%)' at [0, 4]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (%)' at [0, 5]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (%)' at [1, 0]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (%)' at [1, 1]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (%)' at [1, 2]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (%)' at [1, 3]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (%)' at [1, 4]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (%)' at [1, 5]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (%)' at [2, 0]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (%)' at [2, 1]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (%)' at [2, 2]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (%)' at [2, 3]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (%)' at [2, 4]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (%)' at [2, 5]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (%)' at [3, 0]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (%)' at [3, 1]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (%)' at [3, 2]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (%)' at [3, 3]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (%)' at [3, 4]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` / `TURTAS`) * 100' -> 'ROA (%)' at [3, 5]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 24
Successful: 24 (100.0%)
Failed: 0
⚠️  INPLACE MODE: Modifying original DataFrame(s)

Processing DataFrame 0 in place
Converted column 'reg_date_pnl' to datetime
Converted column 'reg_date_balance' to datetime
📊 Inplace processing: Converted 2, Skipped 0, Dropped 0

Processing DataFrame 1 in place
Converted column 'reg_date_pnl' to datetime
Converted column 'reg_date_balance' to datetime
📊 Inplace processing: Converted 2, Skipped 0, Dropped 0

Processing DataFrame 2 in place
Converted column 'reg_date_pnl' to datetime
Converted column 'reg_date_balance' to datetime
📊 Inplace processing: Converted 2, Skipped 0, Dropped 0

Processing DataFrame 3 in place
Converted column 'reg_date_pnl' to datetime
Converted column 'reg_date_balance' to datetime
📊 Inplace processing: Converted 2, Skipped 0, Dropped 0
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2025-04-30") | (`reg_date_balance` > "2025-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [0]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2025-04-30") | (`reg_date_balance` > "2025-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [1]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2025-04-30") | (`reg_date_balance` > "2025-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [2]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2025-04-30") | (`reg_date_balance` > "2025-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [3]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 4
Successful: 4 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2024-04-30") | (`reg_date_balance` > "2024-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [0]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2024-04-30") | (`reg_date_balance` > "2024-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [1]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2024-04-30") | (`reg_date_balance` > "2024-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [2]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2024-04-30") | (`reg_date_balance` > "2024-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [3]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 4
Successful: 4 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2023-04-30") | (`reg_date_balance` > "2023-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [0]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2023-04-30") | (`reg_date_balance` > "2023-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [1]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2023-04-30") | (`reg_date_balance` > "2023-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [2]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2023-04-30") | (`reg_date_balance` > "2023-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [3]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 4
Successful: 4 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2022-04-30") | (`reg_date_balance` > "2022-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [0]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2022-04-30") | (`reg_date_balance` > "2022-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [1]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2022-04-30") | (`reg_date_balance` > "2022-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [2]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2022-04-30") | (`reg_date_balance` > "2022-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [3]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 4
Successful: 4 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2021-04-30") | (`reg_date_balance` > "2021-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [0]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2021-04-30") | (`reg_date_balance` > "2021-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [1]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2021-04-30") | (`reg_date_balance` > "2021-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [2]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2021-04-30") | (`reg_date_balance` > "2021-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [3]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 4
Successful: 4 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2020-04-30") | (`reg_date_balance` > "2020-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [0]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2020-04-30") | (`reg_date_balance` > "2020-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [1]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2020-04-30") | (`reg_date_balance` > "2020-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [2]
✓ Modified DataFrame with formula '(`reg_date_pnl` > "2020-04-30") | (`reg_date_balance` > "2020-04-30")' -> 'VĖLUOJANČIOS ATASKAITOS' at [3]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 4
Successful: 4 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [0, 0]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [0, 1]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [0, 2]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [0, 3]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [0, 4]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [0, 5]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [1, 0]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [1, 1]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [1, 2]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [1, 3]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [1, 4]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [1, 5]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [2, 0]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [2, 1]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [2, 2]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [2, 3]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [2, 4]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [2, 5]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [3, 0]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [3, 1]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [3, 2]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [3, 3]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [3, 4]
✓ Modified DataFrame with formula '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`' -> 'SVERTINIS MOKUMO PAKAITALAS (santykis)' at [3, 5]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 24
Successful: 24 (100.0%)
Failed: 0

{'total_processed': 24,
 'successful': 24,
 'failed': 0,
 'errors': [],
 'formula_used': '`MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI` / `TURTAS`',
 'inplace': True}

### Merging empolyment data to financial data

In [ ]:
Y2025 = merger_similar_dfs(Y2025, E2024, 'ja_kodas',how='left')
Y2024 = merger_similar_dfs(Y2024, E2023, 'ja_kodas',how='left')
Y2023 = merger_similar_dfs(Y2023, E2022, 'ja_kodas',how='left')
Y2022 = merger_similar_dfs(Y2022, E2021, 'ja_kodas',how='left')
Y2021 = merger_similar_dfs(Y2021, E2020, 'ja_kodas',how='left')
Y2020 = merger_similar_dfs(Y2020, E2019, 'ja_kodas',how='left')

## Merging date columns
My coalescing function cannot take list of list so we insert just lists of dataframes.

In [5]:

# Merging date columns

## New firms included.

# beginning and turning date
coalesce_columns(NFAJKA, ['beginning_date_balance', 'beginning_date_pnl'], 'beginning_date')
coalesce_columns(NFAJKM, ['beginning_date_balance', 'beginning_date_pnl'], 'beginning_date')

coalesce_columns(NFAJKA, ['turning_date_balance', 'turning_date_pnl'], 'turning_date')
coalesce_columns(NFAJKM, ['turning_date_balance', 'turning_date_pnl'], 'turning_date')

# Merging reg_date_balance and reg_date_pnl for simplicity

coalesce_columns(NFAJKA, ['reg_date_balance','reg_date_pnl'], 'reg_date')
coalesce_columns(NFAJKM, ['reg_date_balance','reg_date_pnl'], 'reg_date')

## Full financial year data

# beginning and turning date
coalesce_columns(FFAJKA, ['beginning_date_balance', 'beginning_date_pnl'], 'beginning_date')
coalesce_columns(FFAJKM, ['beginning_date_balance', 'beginning_date_pnl'], 'beginning_date')

coalesce_columns(FFAJKA, ['turning_date_balance', 'turning_date_pnl'], 'turning_date')
coalesce_columns(FFAJKM, ['turning_date_balance', 'turning_date_pnl'], 'turning_date')

# Merging reg_date_balance and reg_date_pnl for simplicity

coalesce_columns(FFAJKA, ['reg_date_balance','reg_date_pnl'], 'reg_date')
coalesce_columns(FFAJKM, ['reg_date_balance','reg_date_pnl'], 'reg_date')

Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 0
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 1
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 2
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 3
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 4
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 5
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 0
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 1
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 2
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 3
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 4
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 5
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 0
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 1
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 2
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 3
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 4
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 5
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 0
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 1
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 2
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 3
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 4
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 5
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 0
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 1
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 2
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 3
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 4
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 5
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 0
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 1
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 2
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 3
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 4
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 5
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 0
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 1
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 2
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 3
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 4
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 5
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 0
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 1
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 2
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 3
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 4
Coalesced columns ['beginning_date_balance', 'beginning_date_pnl'] -> 'beginning_date' in DataFrame 5
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 0
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 1
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 2
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 3
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 4
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 5
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 0
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 1
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 2
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 3
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 4
Coalesced columns ['turning_date_balance', 'turning_date_pnl'] -> 'turning_date' in DataFrame 5
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 0
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 1
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 2
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 3
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 4
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 5
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 0
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 1
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 2
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 3
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 4
Coalesced columns ['reg_date_balance', 'reg_date_pnl'] -> 'reg_date' in DataFrame 5

## Adding address data to variables

In [6]:
# extracting address data

extraction_cols = ['ja_kodas', 'adresas', 'Apskritis']

add_df = extract_columns(Address, extraction_cols)

DataFrame 0: Extracted 3 columns, processed shape: (222198, 7)

### Merging address data to variables on ja_kodas

In [7]:

## New firms included.
NFAJKA_with_address = merge_similar_dfs(NFAJKA, add_df, 'ja_kodas', how='left')
NFAJKM_with_address = merge_similar_dfs(NFAJKM, add_df, 'ja_kodas', how='left')
## Full financial year data
FFAJKA_with_address = merge_similar_dfs(FFAJKA, add_df, 'ja_kodas', how='left')
FFAJKM_with_address = merge_similar_dfs(FFAJKM, add_df, 'ja_kodas', how='left')

##

Warning: List lengths differ - list1: 6, list2: 1
Repeating single DF2 6 times to match DF1 list
🔗 MERGE CONFIGURATION:
   📊 Input pairs: 6
   🎯 Merge column: 'ja_kodas'
   🔄 Merge type: left
   📝 Suffixes: None
   ✅ Validate: None
   📈 Indicator: None
   🔄 Duplicate handling: None
   🚫 NaN handling: None
   🔧 Dtype conversion: auto

--- Pair 0 Merge Diagnostics ---
DF1: 144336 rows, 144336 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 143520
Merge type: left
Expected result rows: 144336
Actual result rows: 144336
Pair 0: Successfully merged. Shapes: (144336, 20) + (222198, 3) -> (144336, 22)

--- Pair 1 Merge Diagnostics ---
DF1: 138564 rows, 138564 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 136292
Merge type: left
Expected result rows: 138564
Actual result rows: 138564
Pair 1: Successfully merged. Shapes: (138564, 20) + (222198, 3) -> (138564, 22)

--- Pair 2 Merge Diagnostics ---
DF1: 136578 rows, 136578 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 132372
Merge type: left
Expected result rows: 136578
Actual result rows: 136578
Pair 2: Successfully merged. Shapes: (136578, 20) + (222198, 3) -> (136578, 22)

--- Pair 3 Merge Diagnostics ---
DF1: 116768 rows, 116768 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 111618
Merge type: left
Expected result rows: 116768
Actual result rows: 116768
Pair 3: Successfully merged. Shapes: (116768, 20) + (222198, 3) -> (116768, 22)

--- Pair 4 Merge Diagnostics ---
DF1: 103744 rows, 103744 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 95835
Merge type: left
Expected result rows: 103744
Actual result rows: 103744
Pair 4: Successfully merged. Shapes: (103744, 20) + (222198, 3) -> (103744, 22)

--- Pair 5 Merge Diagnostics ---
DF1: 94664 rows, 94664 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 85009
Merge type: left
Expected result rows: 94664
Actual result rows: 94664
Pair 5: Successfully merged. Shapes: (94664, 20) + (222198, 3) -> (94664, 22)

=== MERGE SUMMARY ===
✅ Successful merges: 6/6
📊 Total output DataFrames: 6
Warning: List lengths differ - list1: 6, list2: 1
Repeating single DF2 6 times to match DF1 list
🔗 MERGE CONFIGURATION:
   📊 Input pairs: 6
   🎯 Merge column: 'ja_kodas'
   🔄 Merge type: left
   📝 Suffixes: None
   ✅ Validate: None
   📈 Indicator: None
   🔄 Duplicate handling: None
   🚫 NaN handling: None
   🔧 Dtype conversion: auto

--- Pair 0 Merge Diagnostics ---
DF1: 142174 rows, 142174 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 141443
Merge type: left
Expected result rows: 142174
Actual result rows: 142174
Pair 0: Successfully merged. Shapes: (142174, 20) + (222198, 3) -> (142174, 22)

--- Pair 1 Merge Diagnostics ---
DF1: 136680 rows, 136680 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 134556
Merge type: left
Expected result rows: 136680
Actual result rows: 136680
Pair 1: Successfully merged. Shapes: (136680, 20) + (222198, 3) -> (136680, 22)

--- Pair 2 Merge Diagnostics ---
DF1: 115651 rows, 115651 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 112071
Merge type: left
Expected result rows: 115651
Actual result rows: 115651
Pair 2: Successfully merged. Shapes: (115651, 20) + (222198, 3) -> (115651, 22)

--- Pair 3 Merge Diagnostics ---
DF1: 105324 rows, 105324 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 100690
Merge type: left
Expected result rows: 105324
Actual result rows: 105324
Pair 3: Successfully merged. Shapes: (105324, 20) + (222198, 3) -> (105324, 22)

--- Pair 4 Merge Diagnostics ---
DF1: 95060 rows, 95060 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 87801
Merge type: left
Expected result rows: 95060
Actual result rows: 95060
Pair 4: Successfully merged. Shapes: (95060, 20) + (222198, 3) -> (95060, 22)

--- Pair 5 Merge Diagnostics ---
DF1: 86838 rows, 86838 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 77868
Merge type: left
Expected result rows: 86838
Actual result rows: 86838
Pair 5: Successfully merged. Shapes: (86838, 20) + (222198, 3) -> (86838, 22)

=== MERGE SUMMARY ===
✅ Successful merges: 6/6
📊 Total output DataFrames: 6
Warning: List lengths differ - list1: 6, list2: 1
Repeating single DF2 6 times to match DF1 list
🔗 MERGE CONFIGURATION:
   📊 Input pairs: 6
   🎯 Merge column: 'ja_kodas'
   🔄 Merge type: left
   📝 Suffixes: None
   ✅ Validate: None
   📈 Indicator: None
   🔄 Duplicate handling: None
   🚫 NaN handling: None
   🔧 Dtype conversion: auto

--- Pair 0 Merge Diagnostics ---
DF1: 132531 rows, 132531 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 131779
Merge type: left
Expected result rows: 132531
Actual result rows: 132531
Pair 0: Successfully merged. Shapes: (132531, 20) + (222198, 3) -> (132531, 22)

--- Pair 1 Merge Diagnostics ---
DF1: 126352 rows, 126352 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 124265
Merge type: left
Expected result rows: 126352
Actual result rows: 126352
Pair 1: Successfully merged. Shapes: (126352, 20) + (222198, 3) -> (126352, 22)

--- Pair 2 Merge Diagnostics ---
DF1: 125097 rows, 125097 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 121279
Merge type: left
Expected result rows: 125097
Actual result rows: 125097
Pair 2: Successfully merged. Shapes: (125097, 20) + (222198, 3) -> (125097, 22)

--- Pair 3 Merge Diagnostics ---
DF1: 106007 rows, 106007 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 101351
Merge type: left
Expected result rows: 106007
Actual result rows: 106007
Pair 3: Successfully merged. Shapes: (106007, 20) + (222198, 3) -> (106007, 22)

--- Pair 4 Merge Diagnostics ---
DF1: 94514 rows, 94514 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 87504
Merge type: left
Expected result rows: 94514
Actual result rows: 94514
Pair 4: Successfully merged. Shapes: (94514, 20) + (222198, 3) -> (94514, 22)

--- Pair 5 Merge Diagnostics ---
DF1: 86742 rows, 86742 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 78105
Merge type: left
Expected result rows: 86742
Actual result rows: 86742
Pair 5: Successfully merged. Shapes: (86742, 20) + (222198, 3) -> (86742, 22)

=== MERGE SUMMARY ===
✅ Successful merges: 6/6
📊 Total output DataFrames: 6
Warning: List lengths differ - list1: 6, list2: 1
Repeating single DF2 6 times to match DF1 list
🔗 MERGE CONFIGURATION:
   📊 Input pairs: 6
   🎯 Merge column: 'ja_kodas'
   🔄 Merge type: left
   📝 Suffixes: None
   ✅ Validate: None
   📈 Indicator: None
   🔄 Duplicate handling: None
   🚫 NaN handling: None
   🔧 Dtype conversion: auto

--- Pair 0 Merge Diagnostics ---
DF1: 130384 rows, 130384 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 129715
Merge type: left
Expected result rows: 130384
Actual result rows: 130384
Pair 0: Successfully merged. Shapes: (130384, 20) + (222198, 3) -> (130384, 22)

--- Pair 1 Merge Diagnostics ---
DF1: 124484 rows, 124484 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 122538
Merge type: left
Expected result rows: 124484
Actual result rows: 124484
Pair 1: Successfully merged. Shapes: (124484, 20) + (222198, 3) -> (124484, 22)

--- Pair 2 Merge Diagnostics ---
DF1: 105929 rows, 105929 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 102680
Merge type: left
Expected result rows: 105929
Actual result rows: 105929
Pair 2: Successfully merged. Shapes: (105929, 20) + (222198, 3) -> (105929, 22)

--- Pair 3 Merge Diagnostics ---
DF1: 95135 rows, 95135 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 90978
Merge type: left
Expected result rows: 95135
Actual result rows: 95135
Pair 3: Successfully merged. Shapes: (95135, 20) + (222198, 3) -> (95135, 22)

--- Pair 4 Merge Diagnostics ---
DF1: 86395 rows, 86395 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 79902
Merge type: left
Expected result rows: 86395
Actual result rows: 86395
Pair 4: Successfully merged. Shapes: (86395, 20) + (222198, 3) -> (86395, 22)

--- Pair 5 Merge Diagnostics ---
DF1: 79357 rows, 79357 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 71366
Merge type: left
Expected result rows: 79357
Actual result rows: 79357
Pair 5: Successfully merged. Shapes: (79357, 20) + (222198, 3) -> (79357, 22)

=== MERGE SUMMARY ===
✅ Successful merges: 6/6
📊 Total output DataFrames: 6

### Rearranging columns

In [8]:

# Rearranging columns
# List all columns
FFAJKA_with_address[0].columns
0
patterns = {
    'identifier': ['ja_kodas', 'ja_pavadinimas','stat_kodas', 'form_kodas', 'Ekonominės veiklos kodas', 'Ekonominės veiklos pavadinimas'],
    'company_info': ['Apskritis', 'adresas', 'Savivaldybė'],
    'employment': ['Vidutinis atlyginimas (EUR)', 'Darbuotojų skaičius']
    'dates': ['beginning_date', 'turning_date', 'reg_date', 'VĖLUOJANČIOS ATASKAITOS'],
    'assets': ['ILGALAIKIS TURTAS', 'TRUMPALAIKIS TURTAS', 'TURTAS'],
    'financial_liabilities': ['MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI', 'NUOSAVAS KAPITALAS'],
    'income': ['PARDAVIMO PAJAMOS'],
    'profitability': ['GRYNASIS PELNAS (NUOSTOLIAI)', 'PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ', 'GRYNOJO PELNO MARŽA', 'ROA'],
    'ratios': ['TURTO APYVARTUMAS', 'SVERTINIS MOKUMO PAKAITALAS']
}

order = ['identifier', 'company_info', 'employment', 'dates', 'assets', 'financial_liabilities', 'income', 'profitability', 'ratios']

NFAJKA_with_address = rearrange_columns_smart(
    NFAJKA_with_address,
    patterns=patterns,
    priority_cols=['ja_kodas', 'ja_pavadinimas'],  # Put these first within identifier group
    group_order=order,
)

NFAJKM_with_address = rearrange_columns_smart(
    NFAJKM_with_address,
    patterns=patterns,
    priority_cols=['ja_kodas', 'ja_pavadinimas'],  # Put these first within identifier group
    group_order=order,
)

FFAJKA_rearranged = rearrange_columns_smart(
    FFAJKA_with_address,
    patterns=patterns,
    priority_cols=['ja_kodas', 'ja_pavadinimas'],  # Put these first within identifier group
    group_order=order,
)

FFAJKM_rearranged = rearrange_columns_smart(
    FFAJKM_with_address,
    patterns=patterns,
    priority_cols=['ja_kodas', 'ja_pavadinimas'],  # Put these first within identifier group
    group_order=order,
)

### Removing inf and -inf, rounding all number columns to 2 decimal places

In [9]:
# NFAJKA

remove_inf_values(NFAJKA_with_address)
round_dataframe_values(NFAJKA_with_address)

# NFAJKM

remove_inf_values(NFAJKM_with_address)
round_dataframe_values(NFAJKM_with_address)

# FFAJKA

remove_inf_values(FFAJKA_rearranged)
round_dataframe_values(FFAJKA_rearranged)

# FFAJKM

remove_inf_values(FFAJKM_rearranged)
round_dataframe_values(FFAJKM_rearranged)

[         ja_kodas                    ja_pavadinimas  stat_kodas  form_kodas  \
 0       304780910                         MB "Bunė"           0         960
 1       303405850            UAB "Topuso projektai"           0         310
 2       302793987                       UAB SOFTIFY           0         310
 3       306297732                         MB Avents           0         960
 4       305063744                   MB "Tikra rida"           0         960
 ...           ...                               ...         ...         ...
 130379  304328353             MB "Laikas apskaitai"           0         960
 130380  303410406              VšĮ "Kaimo grandinė"           0         570
 130381  193019743  Utenos literatų klubas "Verdenė"           0         630
 130382  301533680                 VšĮ "Delfiniukas"           0         570
 130383  306300185                   MB Connectivity           0         960

         Apskritis                                            adresas  \
 0       Klaipėdos             Palanga, Druskininkų g. 6-17, LT-00152
 1           Kauno                 Kaunas, Jonavos g. 160-1, LT-44136
 2           Kauno                 Kaunas, Jonavos g. 160-1, LT-44136
 3        Vilniaus                     Vilnius, Krivių g. 5, LT-01204
 4        Vilniaus               Vilnius, Paberžės g. 30-60, LT-07144
 ...           ...                                                ...
 130379      Kauno                  Kaunas, Baltų pr. 59-35, LT-48232
 130380  Panevėžio  Rokiškio r. sav., Obelių sen., Vyžeičių k. 6, ...
 130381     Utenos                    Utena, Maironio g. 12, LT-28143
 130382      Kauno  Kauno r. sav., Garliava, J. Gabrio g. 29, LT-5...
 130383      Kauno  Kauno r. sav., Garliavos apylinkių sen., Jonuč...

        beginning_date turning_date   reg_date  VĖLUOJANČIOS ATASKAITOS  ...  \
 0          2024-01-01   2024-12-31 2025-11-10                     True  ...
 1          2024-01-01   2024-12-31 2025-11-09                     True  ...
 2          2024-01-01   2024-12-31 2025-11-09                     True  ...
 3          2024-01-01   2024-12-31 2025-11-09                     True  ...
 4          2024-01-01   2024-12-31 2025-11-09                     True  ...
 ...               ...          ...        ...                      ...  ...
 130379     2024-01-01   2024-12-31 2025-01-01                    False  ...
 130380     2024-01-01   2024-12-31 2025-01-01                    False  ...
 130381     2024-01-01   2024-12-31 2025-01-01                    False  ...
 130382     2024-01-01   2024-12-31 2025-01-01                    False  ...
 130383     2024-01-01   2024-12-31 2025-01-01                    False  ...

           TURTAS  MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI  NUOSAVAS KAPITALAS  \
 0         1624.0                                   1524.0               100.0
 1        54232.0                                 161140.0           -106867.0
 2       110028.0                                 132922.0            -22813.0
 3            NaN                                      NaN                35.0
 4            0.0                                      0.0                 0.0
 ...          ...                                      ...                 ...
 130379   14676.0                                   1194.0             13482.0
 130380     434.0                                    218.0                 3.0
 130381     253.0                                      0.0                 0.0
 130382       NaN                                      NaN              6110.0
 130383   13844.0                                      0.0             13844.0

         PARDAVIMO PAJAMOS  GRYNASIS PELNAS (NUOSTOLIAI)  \
 0                 10559.0                         388.0
 1                  1860.0                        -633.0
 2                 10407.0                      -22580.0
 3                     0.0                           0.0
 4                     NaN                           0.0
 ...                   ...                           ...
 130379            43022.0                       22681.0
 130380             4545.0                           0.0
 130381              719.0                          64.0
 130382             2027.0                        -889.0
 130383            33439.0                       12131.0

         PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ  GRYNOJO PELNO MARŽA (%)  \
 0                                         408.0                     3.67
 1                                        -633.0                   -34.03
 2                                      -22580.0                  -216.97
 3                                           0.0                      NaN
 4                                           0.0                      NaN
 ...                                         ...                      ...
 130379                                  23875.0                    52.72
 130380                                      0.0                     0.00
 130381                                     64.0                     8.90
 130382                                   -889.0                   -43.86
 130383                                  12770.0                    36.28

         ROA (%)  TURTO APYVARTUMAS (santykis)  \
 0         23.89                          0.15
 1         -1.17                         29.16
 2        -20.52                         10.57
 3           NaN                           NaN
 4           NaN                           NaN
 ...         ...                           ...
 130379   154.54                          0.34
 130380     0.00                          0.10
 130381    25.30                          0.35
 130382      NaN                           NaN
 130383    87.63                          0.41

         SVERTINIS MOKUMO PAKAITALAS (santykis)
 0                                         0.94
 1                                         2.97
 2                                         1.21
 3                                          NaN
 4                                          NaN
 ...                                        ...
 130379                                    0.08
 130380                                    0.50
 130381                                    0.00
 130382                                     NaN
 130383                                    0.00

 [130384 rows x 22 columns],
          ja_kodas                     ja_pavadinimas  stat_kodas  form_kodas  \
 0       304106833            VšĮ "Darbui pasirengęs"           9         570
 1       302681187            UAB "Building Services"           0         310
 2       144988671  UAB ALPINISTINIAI STATYBOS DARBAI           0         310
 3       305587743                  MB Grožio formulė           0         960
 4       302994424                     UAB "DADODERA"           0         310
 ...           ...                                ...         ...         ...
 124479  302856836           UAB "Buhalterių komanda"           0         310
 124480  305972924                     Jscriptech, MB           0         960
 124481  304328353              MB "Laikas apskaitai"           0         960
 124482  305633614                    Valgom 365, UAB           7         310
 124483  300122651   UAB "Apskaitos valdymo sistemos"           0         310

         Apskritis                                            adresas  \
 0        Vilniaus  Švenčionių r. sav., Švenčionėliai, Žemutinė g....
 1       Klaipėdos               Skuodas, Šatrijos g. 29-24, LT-98109
 2        Vilniaus                   Vilnius, Sėlių g. 30-4, LT-08125
 3        Vilniaus                  Vilnius, Lvivo g. 81-23, LT-09306
 4         Šiaulių                  Šiauliai, Lazdynų g. 18, LT-76185
 ...           ...                                                ...
 124479  Klaipėdos      Klaipėda, Paryžiaus Komunos g. 8-19, LT-91151
 124480   Vilniaus             Vilnius, V. Nagevičiaus g. 3, LT-08237
 124481      Kauno                  Kaunas, Baltų pr. 59-35, LT-48232
 124482        NaN                                                NaN
 124483      Kauno              Kaunas, Partizanų g. 16-517, LT-50212

        beginning_date turning_date    reg_date  VĖLUOJANČIOS ATASKAITOS  ...  \
 0          2023-01-01   2023-12-31  2024-12-31                     True  ...
 1          2023-01-01   2023-12-31  2024-12-31                     True  ...
 2          2023-01-01   2023-12-31  2024-12-31                     True  ...
 3          2023-01-01   2023-12-31  2024-12-31                     True  ...
 4          2023-01-01   2023-12-31  2024-12-31                     True  ...
 ...               ...          ...         ...                      ...  ...
 124479     2023-01-01   2023-12-31  2024-01-02                    False  ...
 124480     2023-01-01   2023-12-31  2024-01-01                    False  ...
 124481     2023-01-01   2023-12-31  2024-01-01                    False  ...
 124482     2023-01-01   2023-12-31  2024-01-01                    False  ...
 124483     2023-01-01   2023-12-31  2024-01-01                    False  ...

           TURTAS  MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI  NUOSAVAS KAPITALAS  \
 0       106006.0                                   6498.0             99508.0
 1            0.0                                      0.0                 0.0
 2       162328.0                                 135090.0             27238.0
 3        11062.0                                  16012.0             -4950.0
 4        97159.0                                  88125.0              9034.0
 ...          ...                                      ...                 ...
 124479     191.0                                      0.0               191.0
 124480  260764.0                                   7097.0            253667.0
 124481   25737.0                                   1236.0             24501.0
 124482     -46.0                                   3592.0             -3638.0
 124483   14074.0                                    566.0             13508.0

         PARDAVIMO PAJAMOS  GRYNASIS PELNAS (NUOSTOLIAI)  \
 0                  6075.0                       -7042.0
 1                     0.0                           0.0
 2                116664.0                      -18452.0
 3                  8969.0                       -6580.0
 4                441230.0                      -11696.0
 ...                   ...                           ...
 124479                0.0                        -649.0
 124480           159154.0                      148209.0
 124481            44380.0                       23484.0
 124482                NaN                        -396.0
 124483            15960.0                       10695.0

         PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ  GRYNOJO PELNO MARŽA (%)  \
 0                                       -7042.0                  -115.92
 1                                           0.0                      NaN
 2                                      -18452.0                   -15.82
 3                                       -6580.0                   -73.36
 4                                      -11696.0                    -2.65
 ...                                         ...                      ...
 124479                                   -649.0                      NaN
 124480                                 156009.0                    93.12
 124481                                  24720.0                    52.92
 124482                                      NaN                      NaN
 124483                                  11261.0                    67.01

         ROA (%)  TURTO APYVARTUMAS (santykis)  \
 0         -6.64                         17.45
 1           NaN                           NaN
 2        -11.37                          1.39
 3        -59.48                          1.23
 4        -12.04                          0.22
 ...         ...                           ...
 124479  -339.79                           NaN
 124480    56.84                          1.64
 124481    91.25                          0.58
 124482   860.87                           NaN
 124483    75.99                          0.88

         SVERTINIS MOKUMO PAKAITALAS (santykis)
 0                                         0.06
 1                                          NaN
 2                                         0.83
 3                                         1.45
 4                                         0.91
 ...                                        ...
 124479                                    0.00
 124480                                    0.03
 124481                                    0.05
 124482                                  -78.09
 124483                                    0.04

 [124484 rows x 22 columns],
          ja_kodas             ja_pavadinimas  stat_kodas  form_kodas  \
 0       304958462  MB "Molėtų statybų ranga"           0         960
 1       305939600       MB "Big Show Europe"           0         960
 2       301674873       UAB "SEE Eiendom LT"           0         310
 3       304557099  UAB "Parkavimo paslaugos"           0         310
 4       303479936    UAB "Teisės sprendimai"           0         310
 ...           ...                        ...         ...         ...
 105924  304466945      VšĮ "Ekstremali zona"          10         570
 105925  302611317             UAB "LITHELIX"           0         310
 105926  303090493         MB "Siūlų draugas"           0         960
 105927  304328353      MB "Laikas apskaitai"           0         960
 105928  303098999               UAB "Parolė"           0         310

        Apskritis                                            adresas  \
 0         Utenos  Molėtų r. sav., Luokesos sen., Žiūrų k., Klevų...
 1       Vilniaus                  Vilnius, Laisvės pr. 60, LT-05120
 2       Vilniaus             Vilnius, K. Kalinausko g. 2B, LT-03107
 3       Vilniaus             Vilnius, K. Kalinausko g. 2B, LT-03107
 4       Vilniaus            Vilnius, Justiniškių g. 18-35, LT-05243
 ...          ...                                                ...
 105924       NaN                                                NaN
 105925     Kauno  Prienų r. sav., Jiezno sen., Vošiškių k., Kaln...
 105926  Vilniaus                  Vilnius, Bitėnų g. 4-12, LT-06227
 105927     Kauno                  Kaunas, Baltų pr. 59-35, LT-48232
 105928     Kauno                    Kaunas, Lakūnų pl. 28, LT-46283

        beginning_date turning_date    reg_date  VĖLUOJANČIOS ATASKAITOS  ...  \
 0          2022-01-01   2022-12-31  2023-12-31                     True  ...
 1          2022-01-01   2022-12-31  2023-12-31                     True  ...
 2          2022-01-01   2022-12-31  2023-12-31                     True  ...
 3          2022-01-01   2022-12-31  2023-12-31                     True  ...
 4          2022-01-01   2022-12-31  2023-12-31                     True  ...
 ...               ...          ...         ...                      ...  ...
 105924     2022-01-01   2022-12-31  2023-01-02                    False  ...
 105925     2022-01-01   2022-12-31  2023-01-01                    False  ...
 105926     2022-01-01   2022-12-31  2023-01-01                    False  ...
 105927     2022-01-01   2022-12-31  2023-01-01                    False  ...
 105928     2022-01-01   2022-12-31  2023-01-01                    False  ...

           TURTAS  MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI  NUOSAVAS KAPITALAS  \
 0         9282.0                                      NaN              5652.0
 1        39025.0                                      NaN             38046.0
 2       796954.0                                  13656.0            601837.0
 3       159409.0                                   7140.0            152351.0
 4        40612.0                                   7918.0             32694.0
 ...          ...                                      ...                 ...
 105924    2110.0                                      0.0              2016.0
 105925    3214.0                                    156.0              3058.0
 105926    8374.0                                      NaN              5799.0
 105927   19992.0                                      NaN             19018.0
 105928      21.0                                   8551.0             -8530.0

         PARDAVIMO PAJAMOS  GRYNASIS PELNAS (NUOSTOLIAI)  \
 0                 42023.0                        9381.0
 1                182403.0                       18597.0
 2                 92360.0                       27876.0
 3                 44453.0                        6166.0
 4                 24610.0                        4361.0
 ...                   ...                           ...
 105924             2955.0                           NaN
 105925                0.0                           0.0
 105926            26172.0                        4090.0
 105927            31585.0                       18512.0
 105928                NaN                           0.0

         PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ  GRYNOJO PELNO MARŽA (%)  \
 0                                        9539.0                    22.32
 1                                       19576.0                    10.20
 2                                           NaN                    30.18
 3                                           NaN                    13.87
 4                                        4591.0                    17.72
 ...                                         ...                      ...
 105924                                      NaN                      NaN
 105925                                      0.0                      NaN
 105926                                   4305.0                    15.63
 105927                                  19486.0                    58.61
 105928                                      NaN                      NaN

         ROA (%)  TURTO APYVARTUMAS (santykis)  \
 0        101.07                          0.22
 1         47.65                          0.21
 2          3.50                          8.63
 3          3.87                          3.59
 4         10.74                          1.65
 ...         ...                           ...
 105924      NaN                          0.71
 105925     0.00                           NaN
 105926    48.84                          0.32
 105927    92.60                          0.63
 105928     0.00                           NaN

         SVERTINIS MOKUMO PAKAITALAS (santykis)
 0                                          NaN
 1                                          NaN
 2                                         0.02
 3                                         0.04
 4                                         0.19
 ...                                        ...
 105924                                    0.00
 105925                                    0.05
 105926                                     NaN
 105927                                     NaN
 105928                                  407.19

 [105929 rows x 22 columns],
         ja_kodas                    ja_pavadinimas  stat_kodas  form_kodas  \
 0      302911421                     UAB ENERGOMAX           0         310
 1      302906666                      UAB "Vytora"           0         310
 2      304833117                     MB "Invaidas"           0         960
 3      300561602                     UAB "Alšilta"           0         310
 4      302539309     UAB "Socialinės investicijos"           0         310
 ...          ...                               ...         ...         ...
 95130  303247083                        MB "Ivula"           0         960
 95131  302420778                      UAB "Vastas"           0         310
 95132  304441881              MB "Prosperus novus"           0         960
 95133  303090493                  MB "Real Estate"           0         960

### Saving dataframes without YoY change to csv files

In [10]:

# Saving dataframes

## FFAJKA

Full_Financial_Year_All_ja_kodas_2025 = FFAJKA_rearranged[0]
Full_Financial_Year_All_ja_kodas_2024 = FFAJKA_rearranged[1]
Full_Financial_Year_All_ja_kodas_2023 = FFAJKA_rearranged[2]
Full_Financial_Year_All_ja_kodas_2022 = FFAJKA_rearranged[3]
Full_Financial_Year_All_ja_kodas_2021 = FFAJKA_rearranged[4]
Full_Financial_Year_All_ja_kodas_2020 = FFAJKA_rearranged[5]

save_df_list_to_csv_auto(FFAJKA_rearranged, '../../data/processed/Financial-tables/No-YoY-change/Full-financial-year/All-ja_kodas')

#save_df_list_to_xlsx_auto(FFAJKA_rearranged, '../../data/processed/Financial-tables/No-YoY-change/Full-financial-year/All-ja_kodas')

## FFAJKM

Full_Financial_Year_Matching_ja_kodas_2025 = FFAJKM_rearranged[0]
Full_Financial_Year_Matching_ja_kodas_2024 = FFAJKM_rearranged[1]
Full_Financial_Year_Matching_ja_kodas_2023 = FFAJKM_rearranged[2]
Full_Financial_Year_Matching_ja_kodas_2022 = FFAJKM_rearranged[3]
Full_Financial_Year_Matching_ja_kodas_2021 = FFAJKM_rearranged[4]
Full_Financial_Year_Matching_ja_kodas_2020 = FFAJKM_rearranged[5]

save_df_list_to_csv_auto(FFAJKM_rearranged, '../../data/processed/Financial-tables/No-YoY-change/Full-financial-year/Only-matching-ja_kodas')

#save_df_list_to_xlsx_auto(FFAJKM_rearranged, '../../data/processed/Financial-tables/No-YoY-change/Full-financial-year/Only-matching-ja_kodas')

## NFAJKA

New_Firms_All_ja_kodas_2025 = NFAJKA_with_address[0]
New_Firms_All_ja_kodas_2024 = NFAJKA_with_address[1]
New_Firms_All_ja_kodas_2023 = NFAJKA_with_address[2]
New_Firms_All_ja_kodas_2022 = NFAJKA_with_address[3]
New_Firms_All_ja_kodas_2021 = NFAJKA_with_address[4]
New_Firms_All_ja_kodas_2020 = NFAJKA_with_address[5]

save_df_list_to_csv_auto(NFAJKA_with_address, '../../data/processed/Financial-tables/No-YoY-change/With-new-firms/All-ja_kodas')
#save_df_list_to_xlsx_auto(NFAJKA_with_address, '../../data/processed/Financial-tables/No-YoY-change/With-new-firms/All-ja_kodas')

## NFAJKM

New_Firms_Matching_ja_kodas_2025 = NFAJKM_with_address[0]
New_Firms_Matching_ja_kodas_2024 = NFAJKM_with_address[1]
New_Firms_Matching_ja_kodas_2023 = NFAJKM_with_address[2]
New_Firms_Matching_ja_kodas_2022 = NFAJKM_with_address[3]
New_Firms_Matching_ja_kodas_2021 = NFAJKM_with_address[4]
New_Firms_Matching_ja_kodas_2020 = NFAJKM_with_address[5]

save_df_list_to_csv_auto(NFAJKM_with_address, '../../data/processed/Financial-tables/No-YoY-change/With-new-firms/Only-matching-ja_kodas')
#save_df_list_to_xlsx_auto(NFAJKM_with_address, '../../data/processed/Financial-tables/No-YoY-change/With-new-firms/Only-matching-ja_kodas')

['New_Firms_Matching_ja_kodas_2025',
 'New_Firms_Matching_ja_kodas_2024',
 'New_Firms_Matching_ja_kodas_2023',
 'New_Firms_Matching_ja_kodas_2022',
 'New_Firms_Matching_ja_kodas_2021',
 'New_Firms_Matching_ja_kodas_2020']

# Extracting needed columns of previous year data

In [11]:
Y2025 = [FFAJKA2025, FFAJKM2025, NFAJKA2025, NFAJKM2025]
Y2024 = [FFAJKA2024, FFAJKM2024, NFAJKA2024, NFAJKM2024]
Y2023 = [FFAJKA2023, FFAJKM2023, NFAJKA2023, NFAJKM2023]
Y2022 = [FFAJKA2022, FFAJKM2022, NFAJKA2022, NFAJKM2022]
Y2021 = [FFAJKA2021, FFAJKM2021, NFAJKA2021, NFAJKM2021]
Y2020 = [FFAJKA2020, FFAJKM2020, NFAJKA2020, NFAJKM2020]

# For now only measuring the change in PARDAVIMO PAJAMOS, TURTAS, GRYNASIS PELNAS (NUOSTOLIAI)

previous_year_cols = ['ja_kodas', 'TURTAS', 'PARDAVIMO PAJAMOS', 'GRYNASIS PELNAS (NUOSTOLIAI)']

Y2024Extracted = extract_columns(Y2024, previous_year_cols)

Y2023Extracted = extract_columns(Y2023, previous_year_cols)

Y2022Extracted = extract_columns(Y2022, previous_year_cols)

Y2021Extracted = extract_columns(Y2021, previous_year_cols)

Y2020Extracted = extract_columns(Y2020, previous_year_cols)

DataFrame 0: Extracted 4 columns, processed shape: (126352, 20)
DataFrame 1: Extracted 4 columns, processed shape: (124484, 20)
DataFrame 2: Extracted 4 columns, processed shape: (138564, 20)
DataFrame 3: Extracted 4 columns, processed shape: (136680, 20)
DataFrame 0: Extracted 4 columns, processed shape: (125097, 20)
DataFrame 1: Extracted 4 columns, processed shape: (105929, 20)
DataFrame 2: Extracted 4 columns, processed shape: (136578, 20)
DataFrame 3: Extracted 4 columns, processed shape: (115651, 20)
DataFrame 0: Extracted 4 columns, processed shape: (106007, 20)
DataFrame 1: Extracted 4 columns, processed shape: (95135, 20)
DataFrame 2: Extracted 4 columns, processed shape: (116768, 20)
DataFrame 3: Extracted 4 columns, processed shape: (105324, 20)
DataFrame 0: Extracted 4 columns, processed shape: (94514, 20)
DataFrame 1: Extracted 4 columns, processed shape: (86395, 20)
DataFrame 2: Extracted 4 columns, processed shape: (103744, 20)
DataFrame 3: Extracted 4 columns, processed shape: (95060, 20)
DataFrame 0: Extracted 4 columns, processed shape: (86742, 20)
DataFrame 1: Extracted 4 columns, processed shape: (79357, 20)
DataFrame 2: Extracted 4 columns, processed shape: (94664, 20)
DataFrame 3: Extracted 4 columns, processed shape: (86838, 20)

## Merging previous year data with current year data

In [12]:
Y2025with_change = merge_similar_dfs(Y2025, Y2024Extracted, 'ja_kodas', suffixes=('', '_2024'), how='left')
Y2024with_change = merge_similar_dfs(Y2024, Y2023Extracted, 'ja_kodas', suffixes=('', '_2023'), how='left')
Y2023with_change = merge_similar_dfs(Y2023, Y2022Extracted, 'ja_kodas', suffixes=('', '_2022'), how='left')
Y2022with_change = merge_similar_dfs(Y2022, Y2021Extracted, 'ja_kodas', suffixes=('', '_2021'), how='left')
Y2021with_change = merge_similar_dfs(Y2021, Y2020Extracted, 'ja_kodas', suffixes=('', '_2020'), how='left')

🔗 MERGE CONFIGURATION:
   📊 Input pairs: 4
   🎯 Merge column: 'ja_kodas'
   🔄 Merge type: left
   📝 Suffixes: ('', '_2024')
   ✅ Validate: None
   📈 Indicator: None
   🔄 Duplicate handling: None
   🚫 NaN handling: None
   🔧 Dtype conversion: auto

--- Pair 0 Merge Diagnostics ---
DF1: 132531 rows, 132531 unique ja_kodas
DF2: 126352 rows, 126352 unique ja_kodas
Common ja_kodas: 114496
Merge type: left
Expected result rows: 132531
Actual result rows: 132531
Overlapping columns (received suffixes ('', '_2024')): ['TURTAS', 'PARDAVIMO PAJAMOS', 'GRYNASIS PELNAS (NUOSTOLIAI)']
Pair 0: Successfully merged. Shapes: (132531, 20) + (126352, 4) -> (132531, 23)

--- Pair 1 Merge Diagnostics ---
DF1: 130384 rows, 130384 unique ja_kodas
DF2: 124484 rows, 124484 unique ja_kodas
Common ja_kodas: 113327
Merge type: left
Expected result rows: 130384
Actual result rows: 130384
Overlapping columns (received suffixes ('', '_2024')): ['TURTAS', 'PARDAVIMO PAJAMOS', 'GRYNASIS PELNAS (NUOSTOLIAI)']
Pair 1: Successfully merged. Shapes: (130384, 20) + (124484, 4) -> (130384, 23)

--- Pair 2 Merge Diagnostics ---
DF1: 144336 rows, 144336 unique ja_kodas
DF2: 138564 rows, 138564 unique ja_kodas
Common ja_kodas: 125388
Merge type: left
Expected result rows: 144336
Actual result rows: 144336
Overlapping columns (received suffixes ('', '_2024')): ['TURTAS', 'PARDAVIMO PAJAMOS', 'GRYNASIS PELNAS (NUOSTOLIAI)']
Pair 2: Successfully merged. Shapes: (144336, 20) + (138564, 4) -> (144336, 23)

--- Pair 3 Merge Diagnostics ---
DF1: 142174 rows, 142174 unique ja_kodas
DF2: 136680 rows, 136680 unique ja_kodas
Common ja_kodas: 124207
Merge type: left
Expected result rows: 142174
Actual result rows: 142174
Overlapping columns (received suffixes ('', '_2024')): ['TURTAS', 'PARDAVIMO PAJAMOS', 'GRYNASIS PELNAS (NUOSTOLIAI)']
Pair 3: Successfully merged. Shapes: (142174, 20) + (136680, 4) -> (142174, 23)

=== MERGE SUMMARY ===
✅ Successful merges: 4/4
📊 Total output DataFrames: 4
🔗 MERGE CONFIGURATION:
   📊 Input pairs: 4
   🎯 Merge column: 'ja_kodas'
   🔄 Merge type: left
   📝 Suffixes: ('', '_2023')
   ✅ Validate: None
   📈 Indicator: None
   🔄 Duplicate handling: None
   🚫 NaN handling: None
   🔧 Dtype conversion: auto

--- Pair 0 Merge Diagnostics ---
DF1: 126352 rows, 126352 unique ja_kodas
DF2: 125097 rows, 125097 unique ja_kodas
Common ja_kodas: 114347
Merge type: left
Expected result rows: 126352
Actual result rows: 126352
Overlapping columns (received suffixes ('', '_2023')): ['TURTAS', 'PARDAVIMO PAJAMOS', 'GRYNASIS PELNAS (NUOSTOLIAI)']
Pair 0: Successfully merged. Shapes: (126352, 20) + (125097, 4) -> (126352, 23)

--- Pair 1 Merge Diagnostics ---
DF1: 124484 rows, 124484 unique ja_kodas
DF2: 105929 rows, 105929 unique ja_kodas
Common ja_kodas: 97618
Merge type: left
Expected result rows: 124484
Actual result rows: 124484
Overlapping columns (received suffixes ('', '_2023')): ['TURTAS', 'PARDAVIMO PAJAMOS', 'GRYNASIS PELNAS (NUOSTOLIAI)']
Pair 1: Successfully merged. Shapes: (124484, 20) + (105929, 4) -> (124484, 23)

--- Pair 2 Merge Diagnostics ---
DF1: 138564 rows, 138564 unique ja_kodas
DF2: 136578 rows, 136578 unique ja_kodas
Common ja_kodas: 124764
Merge type: left
Expected result rows: 138564
Actual result rows: 138564
Overlapping columns (received suffixes ('', '_2023')): ['TURTAS', 'PARDAVIMO PAJAMOS', 'GRYNASIS PELNAS (NUOSTOLIAI)']
Pair 2: Successfully merged. Shapes: (138564, 20) + (136578, 4) -> (138564, 23)

--- Pair 3 Merge Diagnostics ---
DF1: 136680 rows, 136680 unique ja_kodas
DF2: 115651 rows, 115651 unique ja_kodas
Common ja_kodas: 106439
Merge type: left
Expected result rows: 136680
Actual result rows: 136680
Overlapping columns (received suffixes ('', '_2023')): ['TURTAS', 'PARDAVIMO PAJAMOS', 'GRYNASIS PELNAS (NUOSTOLIAI)']
Pair 3: Successfully merged. Shapes: (136680, 20) + (115651, 4) -> (136680, 23)

=== MERGE SUMMARY ===
✅ Successful merges: 4/4
📊 Total output DataFrames: 4
🔗 MERGE CONFIGURATION:
   📊 Input pairs: 4
   🎯 Merge column: 'ja_kodas'
   🔄 Merge type: left
   📝 Suffixes: ('', '_2022')
   ✅ Validate: None
   📈 Indicator: None
   🔄 Duplicate handling: None
   🚫 NaN handling: None
   🔧 Dtype conversion: auto

--- Pair 0 Merge Diagnostics ---
DF1: 125097 rows, 125097 unique ja_kodas
DF2: 106007 rows, 106007 unique ja_kodas
Common ja_kodas: 99324
Merge type: left
Expected result rows: 125097
Actual result rows: 125097
Overlapping columns (received suffixes ('', '_2022')): ['TURTAS', 'PARDAVIMO PAJAMOS', 'GRYNASIS PELNAS (NUOSTOLIAI)']
Pair 0: Successfully merged. Shapes: (125097, 20) + (106007, 4) -> (125097, 23)

--- Pair 1 Merge Diagnostics ---
DF1: 105929 rows, 105929 unique ja_kodas
DF2: 95135 rows, 95135 unique ja_kodas
Common ja_kodas: 84694
Merge type: left
Expected result rows: 105929
Actual result rows: 105929
Overlapping columns (received suffixes ('', '_2022')): ['TURTAS', 'PARDAVIMO PAJAMOS', 'GRYNASIS PELNAS (NUOSTOLIAI)']
Pair 1: Successfully merged. Shapes: (105929, 20) + (95135, 4) -> (105929, 23)

--- Pair 2 Merge Diagnostics ---
DF1: 136578 rows, 136578 unique ja_kodas
DF2: 116768 rows, 116768 unique ja_kodas
Common ja_kodas: 109408
Merge type: left
Expected result rows: 136578
Actual result rows: 136578
Overlapping columns (received suffixes ('', '_2022')): ['TURTAS', 'PARDAVIMO PAJAMOS', 'GRYNASIS PELNAS (NUOSTOLIAI)']
Pair 2: Successfully merged. Shapes: (136578, 20) + (116768, 4) -> (136578, 23)

--- Pair 3 Merge Diagnostics ---
DF1: 115651 rows, 115651 unique ja_kodas
DF2: 105324 rows, 105324 unique ja_kodas
Common ja_kodas: 93649
Merge type: left
Expected result rows: 115651
Actual result rows: 115651
Overlapping columns (received suffixes ('', '_2022')): ['TURTAS', 'PARDAVIMO PAJAMOS', 'GRYNASIS PELNAS (NUOSTOLIAI)']
Pair 3: Successfully merged. Shapes: (115651, 20) + (105324, 4) -> (115651, 23)

=== MERGE SUMMARY ===
✅ Successful merges: 4/4
📊 Total output DataFrames: 4
🔗 MERGE CONFIGURATION:
   📊 Input pairs: 4
   🎯 Merge column: 'ja_kodas'
   🔄 Merge type: left
   📝 Suffixes: ('', '_2021')
   ✅ Validate: None
   📈 Indicator: None
   🔄 Duplicate handling: None
   🚫 NaN handling: None
   🔧 Dtype conversion: auto

--- Pair 0 Merge Diagnostics ---
DF1: 106007 rows, 106007 unique ja_kodas
DF2: 94514 rows, 94514 unique ja_kodas
Common ja_kodas: 85669
Merge type: left
Expected result rows: 106007
Actual result rows: 106007
Overlapping columns (received suffixes ('', '_2021')): ['TURTAS', 'PARDAVIMO PAJAMOS', 'GRYNASIS PELNAS (NUOSTOLIAI)']
Pair 0: Successfully merged. Shapes: (106007, 20) + (94514, 4) -> (106007, 23)

--- Pair 1 Merge Diagnostics ---
DF1: 95135 rows, 95135 unique ja_kodas
DF2: 86395 rows, 86395 unique ja_kodas
Common ja_kodas: 77376
Merge type: left
Expected result rows: 95135
Actual result rows: 95135
Overlapping columns (received suffixes ('', '_2021')): ['TURTAS', 'PARDAVIMO PAJAMOS', 'GRYNASIS PELNAS (NUOSTOLIAI)']
Pair 1: Successfully merged. Shapes: (95135, 20) + (86395, 4) -> (95135, 23)

--- Pair 2 Merge Diagnostics ---
DF1: 116768 rows, 116768 unique ja_kodas
DF2: 103744 rows, 103744 unique ja_kodas
Common ja_kodas: 93811
Merge type: left
Expected result rows: 116768
Actual result rows: 116768
Overlapping columns (received suffixes ('', '_2021')): ['TURTAS', 'PARDAVIMO PAJAMOS', 'GRYNASIS PELNAS (NUOSTOLIAI)']
Pair 2: Successfully merged. Shapes: (116768, 20) + (103744, 4) -> (116768, 23)

--- Pair 3 Merge Diagnostics ---
DF1: 105324 rows, 105324 unique ja_kodas
DF2: 95060 rows, 95060 unique ja_kodas
Common ja_kodas: 84912
Merge type: left
Expected result rows: 105324
Actual result rows: 105324
Overlapping columns (received suffixes ('', '_2021')): ['TURTAS', 'PARDAVIMO PAJAMOS', 'GRYNASIS PELNAS (NUOSTOLIAI)']
Pair 3: Successfully merged. Shapes: (105324, 20) + (95060, 4) -> (105324, 23)

=== MERGE SUMMARY ===
✅ Successful merges: 4/4
📊 Total output DataFrames: 4
🔗 MERGE CONFIGURATION:
   📊 Input pairs: 4
   🎯 Merge column: 'ja_kodas'
   🔄 Merge type: left
   📝 Suffixes: ('', '_2020')
   ✅ Validate: None
   📈 Indicator: None
   🔄 Duplicate handling: None
   🚫 NaN handling: None
   🔧 Dtype conversion: auto

--- Pair 0 Merge Diagnostics ---
DF1: 94514 rows, 94514 unique ja_kodas
DF2: 86742 rows, 86742 unique ja_kodas
Common ja_kodas: 77478
Merge type: left
Expected result rows: 94514
Actual result rows: 94514
Overlapping columns (received suffixes ('', '_2020')): ['TURTAS', 'PARDAVIMO PAJAMOS', 'GRYNASIS PELNAS (NUOSTOLIAI)']
Pair 0: Successfully merged. Shapes: (94514, 20) + (86742, 4) -> (94514, 23)

--- Pair 1 Merge Diagnostics ---
DF1: 86395 rows, 86395 unique ja_kodas
DF2: 79357 rows, 79357 unique ja_kodas
Common ja_kodas: 70453
Merge type: left
Expected result rows: 86395
Actual result rows: 86395
Overlapping columns (received suffixes ('', '_2020')): ['TURTAS', 'PARDAVIMO PAJAMOS', 'GRYNASIS PELNAS (NUOSTOLIAI)']
Pair 1: Successfully merged. Shapes: (86395, 20) + (79357, 4) -> (86395, 23)

--- Pair 2 Merge Diagnostics ---
DF1: 103744 rows, 103744 unique ja_kodas
DF2: 94664 rows, 94664 unique ja_kodas
Common ja_kodas: 84392
Merge type: left
Expected result rows: 103744
Actual result rows: 103744
Overlapping columns (received suffixes ('', '_2020')): ['TURTAS', 'PARDAVIMO PAJAMOS', 'GRYNASIS PELNAS (NUOSTOLIAI)']
Pair 2: Successfully merged. Shapes: (103744, 20) + (94664, 4) -> (103744, 23)

--- Pair 3 Merge Diagnostics ---
DF1: 95060 rows, 95060 unique ja_kodas
DF2: 86838 rows, 86838 unique ja_kodas
Common ja_kodas: 76935
Merge type: left
Expected result rows: 95060
Actual result rows: 95060
Overlapping columns (received suffixes ('', '_2020')): ['TURTAS', 'PARDAVIMO PAJAMOS', 'GRYNASIS PELNAS (NUOSTOLIAI)']
Pair 3: Successfully merged. Shapes: (95060, 20) + (86838, 4) -> (95060, 23)

=== MERGE SUMMARY ===
✅ Successful merges: 4/4
📊 Total output DataFrames: 4

## Creating change variables

In [13]:
# 2025

#  TURTO POKYTIS (%)
create_variable_eval(Y2025with_change, 'TURTO POKYTIS (%)', '(`TURTAS` - `TURTAS_2024`)/`TURTAS_2024` * 100')

#  PARDAVIMŲ POKYTIS (%)
create_variable_eval(Y2025with_change, 'PARDAVIMŲ POKYTIS (%)', '(`PARDAVIMO PAJAMOS` - `PARDAVIMO PAJAMOS_2024`)/`PARDAVIMO PAJAMOS_2024` * 100')

#  GRYNOJO PELNO POKYTIS (%)
create_variable_eval(Y2025with_change, 'GRYNOJO PELNO POKYTIS (%)', '(`GRYNASIS PELNAS (NUOSTOLIAI)` - `GRYNASIS PELNAS (NUOSTOLIAI)_2024`)/`GRYNASIS PELNAS (NUOSTOLIAI)_2024` * 100')

# 2024

#  TURTO POKYTIS (%)
create_variable_eval(Y2024with_change, 'TURTO POKYTIS (%)', '(`TURTAS` - `TURTAS_2023`)/`TURTAS_2023` * 100')

#  PARDAVIMŲ POKYTIS (%)
create_variable_eval(Y2024with_change, 'PARDAVIMŲ POKYTIS (%)', '(`PARDAVIMO PAJAMOS` - `PARDAVIMO PAJAMOS_2023`)/`PARDAVIMO PAJAMOS_2023` * 100')

#  GRYNOJO PELNO POKYTIS (%)
create_variable_eval(Y2024with_change, 'GRYNOJO PELNO POKYTIS (%)', '(`GRYNASIS PELNAS (NUOSTOLIAI)` - `GRYNASIS PELNAS (NUOSTOLIAI)_2023`)/`GRYNASIS PELNAS (NUOSTOLIAI)_2023` * 100')

# 2023

#  TURTO POKYTIS (%)
create_variable_eval(Y2023with_change, 'TURTO POKYTIS (%)', '(`TURTAS` - `TURTAS_2022`)/`TURTAS_2022` * 100')

#  PARDAVIMŲ POKYTIS (%)
create_variable_eval(Y2023with_change, 'PARDAVIMŲ POKYTIS (%)', '(`PARDAVIMO PAJAMOS` - `PARDAVIMO PAJAMOS_2022`)/`PARDAVIMO PAJAMOS_2022` * 100')

#  GRYNOJO PELNO POKYTIS (%)
create_variable_eval(Y2023with_change, 'GRYNOJO PELNO POKYTIS (%)', '(`GRYNASIS PELNAS (NUOSTOLIAI)` - `GRYNASIS PELNAS (NUOSTOLIAI)_2022`)/`GRYNASIS PELNAS (NUOSTOLIAI)_2022` * 100')

# 2022

#  TURTO POKYTIS (%)
create_variable_eval(Y2022with_change, 'TURTO POKYTIS (%)', '(`TURTAS` - `TURTAS_2021`)/`TURTAS_2021` * 100')

#  PARDAVIMŲ POKYTIS (%)
create_variable_eval(Y2022with_change, 'PARDAVIMŲ POKYTIS (%)', '(`PARDAVIMO PAJAMOS` - `PARDAVIMO PAJAMOS_2021`)/`PARDAVIMO PAJAMOS_2021` * 100')

#  GRYNOJO PELNO POKYTIS (%)
create_variable_eval(Y2022with_change, 'GRYNOJO PELNO POKYTIS (%)', '(`GRYNASIS PELNAS (NUOSTOLIAI)` - `GRYNASIS PELNAS (NUOSTOLIAI)_2021`)/`GRYNASIS PELNAS (NUOSTOLIAI)_2021` * 100')

# 2021

#  TURTO POKYTIS (%)
create_variable_eval(Y2021with_change, 'TURTO POKYTIS (%)', '(`TURTAS` - `TURTAS_2020`)/`TURTAS_2020` * 100')

#  PARDAVIMŲ POKYTIS (%)
create_variable_eval(Y2021with_change, 'PARDAVIMŲ POKYTIS (%)', '(`PARDAVIMO PAJAMOS` - `PARDAVIMO PAJAMOS_2020`)/`PARDAVIMO PAJAMOS_2020` * 100')

#  GRYNOJO PELNO POKYTIS (%)
create_variable_eval(Y2021with_change, 'GRYNOJO PELNO POKYTIS (%)', '(`GRYNASIS PELNAS (NUOSTOLIAI)` - `GRYNASIS PELNAS (NUOSTOLIAI)_2020`)/`GRYNASIS PELNAS (NUOSTOLIAI)_2020` * 100')

✓ Modified DataFrame with formula '(`TURTAS` - `TURTAS_2024`)/`TURTAS_2024` * 100' -> 'TURTO POKYTIS (%)' at [0]
✓ Modified DataFrame with formula '(`TURTAS` - `TURTAS_2024`)/`TURTAS_2024` * 100' -> 'TURTO POKYTIS (%)' at [1]
✓ Modified DataFrame with formula '(`TURTAS` - `TURTAS_2024`)/`TURTAS_2024` * 100' -> 'TURTO POKYTIS (%)' at [2]
✓ Modified DataFrame with formula '(`TURTAS` - `TURTAS_2024`)/`TURTAS_2024` * 100' -> 'TURTO POKYTIS (%)' at [3]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 4
Successful: 4 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '(`PARDAVIMO PAJAMOS` - `PARDAVIMO PAJAMOS_2024`)/`PARDAVIMO PAJAMOS_2024` * 100' -> 'PARDAVIMŲ POKYTIS (%)' at [0]
✓ Modified DataFrame with formula '(`PARDAVIMO PAJAMOS` - `PARDAVIMO PAJAMOS_2024`)/`PARDAVIMO PAJAMOS_2024` * 100' -> 'PARDAVIMŲ POKYTIS (%)' at [1]
✓ Modified DataFrame with formula '(`PARDAVIMO PAJAMOS` - `PARDAVIMO PAJAMOS_2024`)/`PARDAVIMO PAJAMOS_2024` * 100' -> 'PARDAVIMŲ POKYTIS (%)' at [2]
✓ Modified DataFrame with formula '(`PARDAVIMO PAJAMOS` - `PARDAVIMO PAJAMOS_2024`)/`PARDAVIMO PAJAMOS_2024` * 100' -> 'PARDAVIMŲ POKYTIS (%)' at [3]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 4
Successful: 4 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` - `GRYNASIS PELNAS (NUOSTOLIAI)_2024`)/`GRYNASIS PELNAS (NUOSTOLIAI)_2024` * 100' -> 'GRYNOJO PELNO POKYTIS (%)' at [0]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` - `GRYNASIS PELNAS (NUOSTOLIAI)_2024`)/`GRYNASIS PELNAS (NUOSTOLIAI)_2024` * 100' -> 'GRYNOJO PELNO POKYTIS (%)' at [1]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` - `GRYNASIS PELNAS (NUOSTOLIAI)_2024`)/`GRYNASIS PELNAS (NUOSTOLIAI)_2024` * 100' -> 'GRYNOJO PELNO POKYTIS (%)' at [2]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` - `GRYNASIS PELNAS (NUOSTOLIAI)_2024`)/`GRYNASIS PELNAS (NUOSTOLIAI)_2024` * 100' -> 'GRYNOJO PELNO POKYTIS (%)' at [3]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 4
Successful: 4 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '(`TURTAS` - `TURTAS_2023`)/`TURTAS_2023` * 100' -> 'TURTO POKYTIS (%)' at [0]
✓ Modified DataFrame with formula '(`TURTAS` - `TURTAS_2023`)/`TURTAS_2023` * 100' -> 'TURTO POKYTIS (%)' at [1]
✓ Modified DataFrame with formula '(`TURTAS` - `TURTAS_2023`)/`TURTAS_2023` * 100' -> 'TURTO POKYTIS (%)' at [2]
✓ Modified DataFrame with formula '(`TURTAS` - `TURTAS_2023`)/`TURTAS_2023` * 100' -> 'TURTO POKYTIS (%)' at [3]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 4
Successful: 4 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '(`PARDAVIMO PAJAMOS` - `PARDAVIMO PAJAMOS_2023`)/`PARDAVIMO PAJAMOS_2023` * 100' -> 'PARDAVIMŲ POKYTIS (%)' at [0]
✓ Modified DataFrame with formula '(`PARDAVIMO PAJAMOS` - `PARDAVIMO PAJAMOS_2023`)/`PARDAVIMO PAJAMOS_2023` * 100' -> 'PARDAVIMŲ POKYTIS (%)' at [1]
✓ Modified DataFrame with formula '(`PARDAVIMO PAJAMOS` - `PARDAVIMO PAJAMOS_2023`)/`PARDAVIMO PAJAMOS_2023` * 100' -> 'PARDAVIMŲ POKYTIS (%)' at [2]
✓ Modified DataFrame with formula '(`PARDAVIMO PAJAMOS` - `PARDAVIMO PAJAMOS_2023`)/`PARDAVIMO PAJAMOS_2023` * 100' -> 'PARDAVIMŲ POKYTIS (%)' at [3]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 4
Successful: 4 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` - `GRYNASIS PELNAS (NUOSTOLIAI)_2023`)/`GRYNASIS PELNAS (NUOSTOLIAI)_2023` * 100' -> 'GRYNOJO PELNO POKYTIS (%)' at [0]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` - `GRYNASIS PELNAS (NUOSTOLIAI)_2023`)/`GRYNASIS PELNAS (NUOSTOLIAI)_2023` * 100' -> 'GRYNOJO PELNO POKYTIS (%)' at [1]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` - `GRYNASIS PELNAS (NUOSTOLIAI)_2023`)/`GRYNASIS PELNAS (NUOSTOLIAI)_2023` * 100' -> 'GRYNOJO PELNO POKYTIS (%)' at [2]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` - `GRYNASIS PELNAS (NUOSTOLIAI)_2023`)/`GRYNASIS PELNAS (NUOSTOLIAI)_2023` * 100' -> 'GRYNOJO PELNO POKYTIS (%)' at [3]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 4
Successful: 4 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '(`TURTAS` - `TURTAS_2022`)/`TURTAS_2022` * 100' -> 'TURTO POKYTIS (%)' at [0]
✓ Modified DataFrame with formula '(`TURTAS` - `TURTAS_2022`)/`TURTAS_2022` * 100' -> 'TURTO POKYTIS (%)' at [1]
✓ Modified DataFrame with formula '(`TURTAS` - `TURTAS_2022`)/`TURTAS_2022` * 100' -> 'TURTO POKYTIS (%)' at [2]
✓ Modified DataFrame with formula '(`TURTAS` - `TURTAS_2022`)/`TURTAS_2022` * 100' -> 'TURTO POKYTIS (%)' at [3]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 4
Successful: 4 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '(`PARDAVIMO PAJAMOS` - `PARDAVIMO PAJAMOS_2022`)/`PARDAVIMO PAJAMOS_2022` * 100' -> 'PARDAVIMŲ POKYTIS (%)' at [0]
✓ Modified DataFrame with formula '(`PARDAVIMO PAJAMOS` - `PARDAVIMO PAJAMOS_2022`)/`PARDAVIMO PAJAMOS_2022` * 100' -> 'PARDAVIMŲ POKYTIS (%)' at [1]
✓ Modified DataFrame with formula '(`PARDAVIMO PAJAMOS` - `PARDAVIMO PAJAMOS_2022`)/`PARDAVIMO PAJAMOS_2022` * 100' -> 'PARDAVIMŲ POKYTIS (%)' at [2]
✓ Modified DataFrame with formula '(`PARDAVIMO PAJAMOS` - `PARDAVIMO PAJAMOS_2022`)/`PARDAVIMO PAJAMOS_2022` * 100' -> 'PARDAVIMŲ POKYTIS (%)' at [3]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 4
Successful: 4 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` - `GRYNASIS PELNAS (NUOSTOLIAI)_2022`)/`GRYNASIS PELNAS (NUOSTOLIAI)_2022` * 100' -> 'GRYNOJO PELNO POKYTIS (%)' at [0]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` - `GRYNASIS PELNAS (NUOSTOLIAI)_2022`)/`GRYNASIS PELNAS (NUOSTOLIAI)_2022` * 100' -> 'GRYNOJO PELNO POKYTIS (%)' at [1]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` - `GRYNASIS PELNAS (NUOSTOLIAI)_2022`)/`GRYNASIS PELNAS (NUOSTOLIAI)_2022` * 100' -> 'GRYNOJO PELNO POKYTIS (%)' at [2]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` - `GRYNASIS PELNAS (NUOSTOLIAI)_2022`)/`GRYNASIS PELNAS (NUOSTOLIAI)_2022` * 100' -> 'GRYNOJO PELNO POKYTIS (%)' at [3]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 4
Successful: 4 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '(`TURTAS` - `TURTAS_2021`)/`TURTAS_2021` * 100' -> 'TURTO POKYTIS (%)' at [0]
✓ Modified DataFrame with formula '(`TURTAS` - `TURTAS_2021`)/`TURTAS_2021` * 100' -> 'TURTO POKYTIS (%)' at [1]
✓ Modified DataFrame with formula '(`TURTAS` - `TURTAS_2021`)/`TURTAS_2021` * 100' -> 'TURTO POKYTIS (%)' at [2]
✓ Modified DataFrame with formula '(`TURTAS` - `TURTAS_2021`)/`TURTAS_2021` * 100' -> 'TURTO POKYTIS (%)' at [3]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 4
Successful: 4 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '(`PARDAVIMO PAJAMOS` - `PARDAVIMO PAJAMOS_2021`)/`PARDAVIMO PAJAMOS_2021` * 100' -> 'PARDAVIMŲ POKYTIS (%)' at [0]
✓ Modified DataFrame with formula '(`PARDAVIMO PAJAMOS` - `PARDAVIMO PAJAMOS_2021`)/`PARDAVIMO PAJAMOS_2021` * 100' -> 'PARDAVIMŲ POKYTIS (%)' at [1]
✓ Modified DataFrame with formula '(`PARDAVIMO PAJAMOS` - `PARDAVIMO PAJAMOS_2021`)/`PARDAVIMO PAJAMOS_2021` * 100' -> 'PARDAVIMŲ POKYTIS (%)' at [2]
✓ Modified DataFrame with formula '(`PARDAVIMO PAJAMOS` - `PARDAVIMO PAJAMOS_2021`)/`PARDAVIMO PAJAMOS_2021` * 100' -> 'PARDAVIMŲ POKYTIS (%)' at [3]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 4
Successful: 4 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` - `GRYNASIS PELNAS (NUOSTOLIAI)_2021`)/`GRYNASIS PELNAS (NUOSTOLIAI)_2021` * 100' -> 'GRYNOJO PELNO POKYTIS (%)' at [0]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` - `GRYNASIS PELNAS (NUOSTOLIAI)_2021`)/`GRYNASIS PELNAS (NUOSTOLIAI)_2021` * 100' -> 'GRYNOJO PELNO POKYTIS (%)' at [1]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` - `GRYNASIS PELNAS (NUOSTOLIAI)_2021`)/`GRYNASIS PELNAS (NUOSTOLIAI)_2021` * 100' -> 'GRYNOJO PELNO POKYTIS (%)' at [2]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` - `GRYNASIS PELNAS (NUOSTOLIAI)_2021`)/`GRYNASIS PELNAS (NUOSTOLIAI)_2021` * 100' -> 'GRYNOJO PELNO POKYTIS (%)' at [3]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 4
Successful: 4 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '(`TURTAS` - `TURTAS_2020`)/`TURTAS_2020` * 100' -> 'TURTO POKYTIS (%)' at [0]
✓ Modified DataFrame with formula '(`TURTAS` - `TURTAS_2020`)/`TURTAS_2020` * 100' -> 'TURTO POKYTIS (%)' at [1]
✓ Modified DataFrame with formula '(`TURTAS` - `TURTAS_2020`)/`TURTAS_2020` * 100' -> 'TURTO POKYTIS (%)' at [2]
✓ Modified DataFrame with formula '(`TURTAS` - `TURTAS_2020`)/`TURTAS_2020` * 100' -> 'TURTO POKYTIS (%)' at [3]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 4
Successful: 4 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '(`PARDAVIMO PAJAMOS` - `PARDAVIMO PAJAMOS_2020`)/`PARDAVIMO PAJAMOS_2020` * 100' -> 'PARDAVIMŲ POKYTIS (%)' at [0]
✓ Modified DataFrame with formula '(`PARDAVIMO PAJAMOS` - `PARDAVIMO PAJAMOS_2020`)/`PARDAVIMO PAJAMOS_2020` * 100' -> 'PARDAVIMŲ POKYTIS (%)' at [1]
✓ Modified DataFrame with formula '(`PARDAVIMO PAJAMOS` - `PARDAVIMO PAJAMOS_2020`)/`PARDAVIMO PAJAMOS_2020` * 100' -> 'PARDAVIMŲ POKYTIS (%)' at [2]
✓ Modified DataFrame with formula '(`PARDAVIMO PAJAMOS` - `PARDAVIMO PAJAMOS_2020`)/`PARDAVIMO PAJAMOS_2020` * 100' -> 'PARDAVIMŲ POKYTIS (%)' at [3]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 4
Successful: 4 (100.0%)
Failed: 0
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` - `GRYNASIS PELNAS (NUOSTOLIAI)_2020`)/`GRYNASIS PELNAS (NUOSTOLIAI)_2020` * 100' -> 'GRYNOJO PELNO POKYTIS (%)' at [0]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` - `GRYNASIS PELNAS (NUOSTOLIAI)_2020`)/`GRYNASIS PELNAS (NUOSTOLIAI)_2020` * 100' -> 'GRYNOJO PELNO POKYTIS (%)' at [1]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` - `GRYNASIS PELNAS (NUOSTOLIAI)_2020`)/`GRYNASIS PELNAS (NUOSTOLIAI)_2020` * 100' -> 'GRYNOJO PELNO POKYTIS (%)' at [2]
✓ Modified DataFrame with formula '(`GRYNASIS PELNAS (NUOSTOLIAI)` - `GRYNASIS PELNAS (NUOSTOLIAI)_2020`)/`GRYNASIS PELNAS (NUOSTOLIAI)_2020` * 100' -> 'GRYNOJO PELNO POKYTIS (%)' at [3]

=== IN-PLACE OPERATION SUMMARY ===
Total processed: 4
Successful: 4 (100.0%)
Failed: 0

{'total_processed': 4,
 'successful': 4,
 'failed': 0,
 'errors': [],
 'formula_used': '(`GRYNASIS PELNAS (NUOSTOLIAI)` - `GRYNASIS PELNAS (NUOSTOLIAI)_2020`)/`GRYNASIS PELNAS (NUOSTOLIAI)_2020` * 100',
 'inplace': True}

### Removing previous year columns after creating change variables

In [14]:


remove_columns(Y2025with_change, ['TURTAS_2024', 'PARDAVIMO PAJAMOS_2024', 'GRYNASIS PELNAS (NUOSTOLIAI)_2024'], inplace=True)

remove_columns(Y2024with_change, ['TURTAS_2023', 'PARDAVIMO PAJAMOS_2023', 'GRYNASIS PELNAS (NUOSTOLIAI)_2023'], inplace=True)

remove_columns(Y2023with_change, ['TURTAS_2022', 'PARDAVIMO PAJAMOS_2022', 'GRYNASIS PELNAS (NUOSTOLIAI)_2022'], inplace=True)

remove_columns(Y2022with_change, ['TURTAS_2021', 'PARDAVIMO PAJAMOS_2021', 'GRYNASIS PELNAS (NUOSTOLIAI)_2021'], inplace=True)

remove_columns(Y2021with_change, ['TURTAS_2020', 'PARDAVIMO PAJAMOS_2020', 'GRYNASIS PELNAS (NUOSTOLIAI)_2020'], inplace=True)

📊 DataFrame 0:
   ✅ Removed: ['TURTAS_2024', 'PARDAVIMO PAJAMOS_2024', 'GRYNASIS PELNAS (NUOSTOLIAI)_2024']
   📋 Remaining columns: 23
📊 DataFrame 1:
   ✅ Removed: ['TURTAS_2024', 'PARDAVIMO PAJAMOS_2024', 'GRYNASIS PELNAS (NUOSTOLIAI)_2024']
   📋 Remaining columns: 23
📊 DataFrame 2:
   ✅ Removed: ['TURTAS_2024', 'PARDAVIMO PAJAMOS_2024', 'GRYNASIS PELNAS (NUOSTOLIAI)_2024']
   📋 Remaining columns: 23
📊 DataFrame 3:
   ✅ Removed: ['TURTAS_2024', 'PARDAVIMO PAJAMOS_2024', 'GRYNASIS PELNAS (NUOSTOLIAI)_2024']
   📋 Remaining columns: 23

🎯 FINAL SUMMARY:
   📦 Processed 4 DataFrames
   🗑️  Total columns removed: 12
   ⏭️  Total columns skipped: 0
📊 DataFrame 0:
   ✅ Removed: ['TURTAS_2023', 'PARDAVIMO PAJAMOS_2023', 'GRYNASIS PELNAS (NUOSTOLIAI)_2023']
   📋 Remaining columns: 23
📊 DataFrame 1:
   ✅ Removed: ['TURTAS_2023', 'PARDAVIMO PAJAMOS_2023', 'GRYNASIS PELNAS (NUOSTOLIAI)_2023']
   📋 Remaining columns: 23
📊 DataFrame 2:
   ✅ Removed: ['TURTAS_2023', 'PARDAVIMO PAJAMOS_2023', 'GRYNASIS PELNAS (NUOSTOLIAI)_2023']
   📋 Remaining columns: 23
📊 DataFrame 3:
   ✅ Removed: ['TURTAS_2023', 'PARDAVIMO PAJAMOS_2023', 'GRYNASIS PELNAS (NUOSTOLIAI)_2023']
   📋 Remaining columns: 23

🎯 FINAL SUMMARY:
   📦 Processed 4 DataFrames
   🗑️  Total columns removed: 12
   ⏭️  Total columns skipped: 0
📊 DataFrame 0:
   ✅ Removed: ['TURTAS_2022', 'PARDAVIMO PAJAMOS_2022', 'GRYNASIS PELNAS (NUOSTOLIAI)_2022']
   📋 Remaining columns: 23
📊 DataFrame 1:
   ✅ Removed: ['TURTAS_2022', 'PARDAVIMO PAJAMOS_2022', 'GRYNASIS PELNAS (NUOSTOLIAI)_2022']
   📋 Remaining columns: 23
📊 DataFrame 2:
   ✅ Removed: ['TURTAS_2022', 'PARDAVIMO PAJAMOS_2022', 'GRYNASIS PELNAS (NUOSTOLIAI)_2022']
   📋 Remaining columns: 23
📊 DataFrame 3:
   ✅ Removed: ['TURTAS_2022', 'PARDAVIMO PAJAMOS_2022', 'GRYNASIS PELNAS (NUOSTOLIAI)_2022']
   📋 Remaining columns: 23

🎯 FINAL SUMMARY:
   📦 Processed 4 DataFrames
   🗑️  Total columns removed: 12
   ⏭️  Total columns skipped: 0
📊 DataFrame 0:
   ✅ Removed: ['TURTAS_2021', 'PARDAVIMO PAJAMOS_2021', 'GRYNASIS PELNAS (NUOSTOLIAI)_2021']
   📋 Remaining columns: 23
📊 DataFrame 1:
   ✅ Removed: ['TURTAS_2021', 'PARDAVIMO PAJAMOS_2021', 'GRYNASIS PELNAS (NUOSTOLIAI)_2021']
   📋 Remaining columns: 23
📊 DataFrame 2:
   ✅ Removed: ['TURTAS_2021', 'PARDAVIMO PAJAMOS_2021', 'GRYNASIS PELNAS (NUOSTOLIAI)_2021']
   📋 Remaining columns: 23
📊 DataFrame 3:
   ✅ Removed: ['TURTAS_2021', 'PARDAVIMO PAJAMOS_2021', 'GRYNASIS PELNAS (NUOSTOLIAI)_2021']
   📋 Remaining columns: 23

🎯 FINAL SUMMARY:
   📦 Processed 4 DataFrames
   🗑️  Total columns removed: 12
   ⏭️  Total columns skipped: 0
📊 DataFrame 0:
   ✅ Removed: ['TURTAS_2020', 'PARDAVIMO PAJAMOS_2020', 'GRYNASIS PELNAS (NUOSTOLIAI)_2020']
   📋 Remaining columns: 23
📊 DataFrame 1:
   ✅ Removed: ['TURTAS_2020', 'PARDAVIMO PAJAMOS_2020', 'GRYNASIS PELNAS (NUOSTOLIAI)_2020']
   📋 Remaining columns: 23
📊 DataFrame 2:
   ✅ Removed: ['TURTAS_2020', 'PARDAVIMO PAJAMOS_2020', 'GRYNASIS PELNAS (NUOSTOLIAI)_2020']
   📋 Remaining columns: 23
📊 DataFrame 3:
   ✅ Removed: ['TURTAS_2020', 'PARDAVIMO PAJAMOS_2020', 'GRYNASIS PELNAS (NUOSTOLIAI)_2020']
   📋 Remaining columns: 23

🎯 FINAL SUMMARY:
   📦 Processed 4 DataFrames
   🗑️  Total columns removed: 12
   ⏭️  Total columns skipped: 0

[        ja_kodas                           ja_pavadinimas  NUOSAVAS KAPITALAS  \
 0      110003978  Uždaroji akcinė bendrovė "Lietkompexim"           1755061.0
 1      110004884        Uždaroji akcinė bendrovė "VILLON"           2779511.0
 2      110005648             UAB "Informacinės paslaugos"            662043.0
 3      110006892       Uždaroji akcinė bendrovė "Londvil"            186454.0
 4      110008377   Uždaroji akcinė bendrovė "KOMPONENTAS"            836345.0
 ...          ...                                      ...                 ...
 94509  305410401            MB "Inovatyvūs IT sprendimai"              1366.0
 94510  305410910                         UAB "Logas line"             11236.0
 94511  305410935                           UAB "AMD Auto"              3276.0
 94512  305410967           UAB Sveikos gyvensenos centras             -1346.0
 94513  305410974                               MB "Hisis"               734.0

        MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI  ILGALAIKIS TURTAS  \
 0                                      23498.0           356897.0
 1                                   37446848.0         39827601.0
 2                                     707609.0            53300.0
 3                                      23485.0           172775.0
 4                                     592593.0           665165.0
 ...                                        ...                ...
 94509                                      NaN              980.0
 94510                                 390902.0                0.0
 94511                                  17834.0                0.0
 94512                                   3652.0                0.0
 94513                                      NaN                0.0

        TRUMPALAIKIS TURTAS  PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ  \
 0                1421293.0                                  35040.0
 1                 457092.0                                -213676.0
 2                1262390.0                                 -49808.0
 3                  36828.0                                  17319.0
 4                 763773.0                                 142893.0
 ...                    ...                                      ...
 94509                458.0                                   1438.0
 94510             401719.0                                  10320.0
 94511              21110.0                                      NaN
 94512               2306.0                                      NaN
 94513               1934.0                                    829.0

        GRYNASIS PELNAS (NUOSTOLIAI)  PARDAVIMO PAJAMOS  stat_kodas  ...  \
 0                           33153.0            85522.0           0  ...
 1                         -213676.0          3111102.0           0  ...
 2                          -49808.0          2657795.0           0  ...
 3                           16198.0           107640.0           0  ...
 4                          119110.0          2162155.0           0  ...
 ...                             ...                ...         ...  ...
 94509                        1366.0            25273.0           0  ...
 94510                        8736.0           652835.0           0  ...
 94511                         776.0           404840.0           0  ...
 94512                       -3846.0              672.0           0  ...
 94513                         724.0            13600.0           0  ...

        TURTO APYVARTUMAS (santykis)     ROA (%)  VĖLUOJANČIOS ATASKAITOS  \
 0                         20.792194    1.864424                     True
 1                         12.948689   -0.530415                     True
 2                          0.495031   -3.785694                    False
 3                          1.947259    7.727943                     True
 4                          0.660886    8.335561                     True
 ...                             ...         ...                      ...
 94509                      0.056899   94.993046                    False
 94510                      0.615345    2.174654                    False
 94511                      0.052144    3.675983                     True
 94512                      3.431548 -166.782307                     True
 94513                      0.142206   37.435367                    False

        SVERTINIS MOKUMO PAKAITALAS (santykis)  beginning_date  turning_date  \
 0                                    0.013215      2020-01-01    2020-12-31
 1                                    0.929555      2020-01-01    2020-12-31
 2                                    0.537823      2020-01-01    2020-12-31
 3                                    0.112045      2020-01-01    2020-12-31
 4                                    0.414709      2020-01-01    2020-12-31
 ...                                       ...             ...           ...
 94509                                     NaN      2020-01-01    2020-12-31
 94510                                0.973073      2020-01-01    2020-12-31
 94511                                0.844813      2020-01-01    2020-12-31
 94512                                1.583695      2020-01-01    2020-12-31
 94513                                     NaN      2020-01-01    2020-12-31

          reg_date TURTO POKYTIS (%) PARDAVIMŲ POKYTIS (%)  \
 0      2021-06-15         -5.054025            -38.185656
 1      2021-05-10         -1.066651            -36.183714
 2      2021-04-29          8.360732            -20.607166
 3      2021-12-17        101.906331            -19.797930
 4      2021-05-27        -48.743810            268.437779
 ...           ...               ...                   ...
 94509  2021-03-22               NaN                   NaN
 94510  2021-03-31               NaN                   NaN
 94511  2021-06-14               NaN                   NaN
 94512  2021-08-23               NaN                   NaN
 94513  2021-04-07               NaN                   NaN

       GRYNOJO PELNO POKYTIS (%)
 0                    -90.855606
 1                    -68.909544
 2                   -608.608190
 3                    -50.716524
 4                     65.552421
 ...                         ...
 94509                       NaN
 94510                       NaN
 94511                       NaN
 94512                       NaN
 94513                       NaN

 [94514 rows x 23 columns],
         ja_kodas                                     ja_pavadinimas  \
 0      304143397  UAB "Informacinių sistemų ir technologijų proj...
 1      269221540                                    UAB "Meistrema"
 2      302311572                                  UAB "Max Service"
 3      304461229                            UAB "Stambus projektas"
 4      132011828                   Uždaroji akcinė bendrovė "Ignis"
 ...          ...                                                ...
 86390  303349241                                     UAB "Nataulis"
 86391  304552853                                    MB "Motokultas"
 86392  304328353                              MB "Laikas apskaitai"
 86393  303997989                                       UAB "Ervita"
 86394  305016303                                         MB "Pojis"

        NUOSAVAS KAPITALAS  MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI  \
 0                131280.0                                  12204.0
 1                 73746.0                                  45137.0
 2                 21650.0                                   4168.0
 3                194062.0                                 514211.0
 4                -17818.0                                  18269.0
 ...                   ...                                      ...
 86390              1645.0                                      0.0
 86391             13447.0                                      NaN
 86392             20235.0                                      NaN
 86393              2500.0                                    -10.0
 86394               437.0                                      0.0

        ILGALAIKIS TURTAS  TRUMPALAIKIS TURTAS  \
 0                 4282.0             139202.0
 1                 1286.0             117597.0
 2                 1486.0              30831.0
 3               302065.0             402468.0
 4                   92.0                359.0
 ...                  ...                  ...
 86390                0.0               1645.0
 86391             8665.0               9809.0
 86392                0.0              20792.0
 86393                0.0                  0.0
 86394                0.0                437.0

        PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ  GRYNASIS PELNAS (NUOSTOLIAI)  \
 0                                          NaN                       40985.0
 1                                      59988.0                       50879.0
 2                                      11754.0                       11286.0
 3                                    -129262.0                     -129262.0
 4                                        651.0                         641.0
 ...                                        ...                           ...
 86390                                      0.0                           0.0
 86391                                   4365.0                        4147.0
 86392                                  11131.0                       10574.0
 86393                                      NaN                        -143.0
 86394                                      NaN                        6003.0

        PARDAVIMO PAJAMOS  stat_kodas  ...  TURTO APYVARTUMAS (santykis)  \
 0                71618.0           0  ...                      2.003463
 1               320048.0           0  ...                      0.371454
 2                22369.0           0  ...                      1.444723
 3              1793988.0           0  ...                      0.392719
 4                48533.0           0  ...                      0.009293
 ...                  ...         ...  ...                           ...
 86390                0.0           0  ...                           inf
 86391            16980.0           0  ...                      1.087986
 86392            24221.0           0  ...                      0.858429
 86393                NaN           0  ...                           NaN
 86394                NaN           0  ...                           NaN

            ROA (%)  VĖLUOJANČIOS ATASKAITOS  \
 0        28.564160                     True
 1        42.797540                     True
 2        34.922796                     True
 3       -18.347189                     True
 4       142.128603                     True
 ...            ...                      ...
 86390     0.000000                    False
 86391    22.447764                    False
 86392    50.856098                    False
 86393         -inf                    False
 86394  1373.684211                    False

        SVERTINIS MOKUMO PAKAITALAS (santykis)  beginning_date  turning_date  \
 0                                    0.085055      2020-01-01    2020-12-31
 1                                    0.379676      2020-01-01    2020-12-31
 2                                    0.128972      2020-01-01    2020-12-31
 3                                    0.729861      2020-01-01    2020-12-31
 4                                   40.507761      2020-01-01    2020-12-31
 ...                                       ...             ...           ...
 86390                                0.000000      2020-01-01    2020-12-31
 86391                                     NaN      2020-01-01    2020-12-31
 86392                                     NaN      2020-01-01    2020-12-31
 86393                                    -inf      2020-01-01    2020-12-31
 86394                                0.000000      2020-01-01    2020-12-31

          reg_date TURTO POKYTIS (%) PARDAVIMŲ POKYTIS (%)  \
 0      2021-12-31         34.466665             43.087189
 1      2021-12-31        -10.129118              5.525405
 2      2021-12-31         34.039818              0.170167
 3      2021-12-31               NaN                   NaN
 4      2021-12-31          6.367925            -17.840940
 ...           ...               ...                   ...
 86390  2021-01-02          0.000000           -100.000000
 86391  2021-01-01          7.757816             68.988854
 86392  2021-01-01        106.188021             42.964231
 86393  2021-01-01               NaN                   NaN
 86394  2021-01-01               NaN                   NaN

       GRYNOJO PELNO POKYTIS (%)
 0                     25.049580
 1                     15.684045
 2                   -824.855491
 3                           NaN
 4                   -167.402734
 ...                         ...
 86390               -100.000000
 86391               -822.473868
 86392                 31.191067
 86393                 16.260163
 86394                       NaN

 [86395 rows x 23 columns],
          ja_kodas                           ja_pavadinimas  \
 0       110003978  Uždaroji akcinė bendrovė "Lietkompexim"
 1       110004884        Uždaroji akcinė bendrovė "VILLON"
 2       110005648             UAB "Informacinės paslaugos"
 3       110006892       Uždaroji akcinė bendrovė "Londvil"
 4       110008377   Uždaroji akcinė bendrovė "KOMPONENTAS"
 ...           ...                                      ...
 103739  305674575                 UAB Nemirsetos projektai
 103740  305674600                             MB "Go live"
 103741  305674618                         Inspekta Con UAB
 103742  305674625                              UAB Autozap
 103743  305674632                    UAB Miško investicija

         NUOSAVAS KAPITALAS  MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI  \
 0                1755061.0                                  23498.0
 1                2779511.0                               37446848.0
 2                 662043.0                                 707609.0
 3                 186454.0                                  23485.0
 4                 836345.0                                 592593.0
 ...                    ...                                      ...
 103739              2500.0                                      0.0
 103740                 0.0                                      NaN
 103741              2500.0                                      0.0
 103742              2500.0                                      0.0
 103743              2500.0                                      1.0

         ILGALAIKIS TURTAS  TRUMPALAIKIS TURTAS  \
 0                356897.0            1421293.0
 1              39827601.0             457092.0
 2                 53300.0            1262390.0
 3                172775.0              36828.0
 4                665165.0             763773.0
 ...                   ...                  ...
 103739                0.0               2500.0
 103740                0.0                  0.0
 103741                0.0               2500.0
 103742                0.0               2500.0
 103743                0.0               2501.0

         PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ  GRYNASIS PELNAS (NUOSTOLIAI)  \
 0                                       35040.0                       33153.0
 1                                     -213676.0                     -213676.0
 2                                      -49808.0                      -49808.0
 3                                       17319.0                       16198.0
 4                                      142893.0                      119110.0
 ...                                         ...                           ...
 103739                                      0.0                           0.0
 103740                                      0.0                           0.0
 103741                                      NaN                           0.0
 103742                                      NaN                           0.0
 103743                                      0.0                           0.0

         PARDAVIMO PAJAMOS  stat_kodas  ...  TURTO APYVARTUMAS (santykis)  \
 0                 85522.0           0  ...                     20.792194
 1               3111102.0           0  ...                     12.948689
 2               2657795.0           0  ...                      0.495031
 3                107640.0           0  ...                      1.947259
 4               2162155.0           0  ...                      0.660886
 ...                   ...         ...  ...                           ...
 103739                NaN           0  ...                           NaN
 103740                0.0           0  ...                           NaN
 103741                NaN           0  ...                           NaN
 103742                0.0           0  ...                           inf
 103743                NaN           0  ...                           NaN

          ROA (%)  VĖLUOJANČIOS ATASKAITOS  \
 0       1.864424                     True
 1      -0.530415                     True
 2      -3.785694                    False
 3       7.727943                     True
 4       8.335561                     True
 ...          ...                      ...
 103739  0.000000                     True
 103740       NaN                    False
 103741  0.000000                    False
 103742  0.000000                     True
 103743  0.000000                     True

         SVERTINIS MOKUMO PAKAITALAS (santykis)  beginning_date  turning_date  \
 0                                     0.013215      2020-01-01    2020-12-31
 1                                     0.929555      2020-01-01    2020-12-31
 2                                     0.537823      2020-01-01    2020-12-31
 3                                     0.112045      2020-01-01    2020-12-31
 4                                     0.414709      2020-01-01    2020-12-31
 ...                                        ...             ...           ...
 103739                                0.000000      2020-12-31    2020-12-31
 103740                                     NaN      2020-12-31    2020-12-31
 103741                                0.000000      2020-12-31    2020-12-31
 103742                                0.000000      2020-12-31    2020-12-31
 103743                                0.000400      2020-12-31    2020-12-31

           reg_date TURTO POKYTIS (%) PARDAVIMŲ POKYTIS (%)  \
 0       2021-06-15         -5.054025            -38.185656
 1       2021-05-10         -1.066651            -36.183714
 2       2021-04-29          8.360732            -20.607166
 3       2021-12-17        101.906331            -19.797930
 4       2021-05-27        -48.743810            268.437779
 ...            ...               ...                   ...
 103739  2021-07-28               NaN                   NaN
 103740  2021-02-05               NaN                   NaN
 103741  2021-03-17               NaN                   NaN
 103742  2021-05-31               NaN                   NaN
 103743  2021-09-01               NaN                   NaN

        GRYNOJO PELNO POKYTIS (%)
 0                     -90.855606
 1                     -68.909544
 2                    -608.608190
 3                     -50.716524
 4                      65.552421
 ...                          ...
 103739                       NaN
 103740                       NaN
 103741                       NaN
 103742                       NaN
 103743                       NaN

 [103744 rows x 23 columns],
         ja_kodas                          ja_pavadinimas  NUOSAVAS KAPITALAS  \
 0      121929952  Uždaroji akcinė bendrovė "MEDIOKRITAS"             -1014.0
 1      300627696                            UAB "Ranera"            119554.0
 2      304461229                 UAB "Stambus projektas"            194062.0

### Adding address data to dataframes with change variables

In [15]:
## New firms included.
Y2025_final = merge_similar_dfs(Y2025with_change, add_df, 'ja_kodas', how='left')
Y2024_final = merge_similar_dfs(Y2024with_change, add_df, 'ja_kodas', how='left')
Y2023_final = merge_similar_dfs(Y2023with_change, add_df, 'ja_kodas', how='left')
Y2022_final = merge_similar_dfs(Y2022with_change, add_df, 'ja_kodas', how='left')
Y2021_final = merge_similar_dfs(Y2021with_change, add_df, 'ja_kodas', how='left')

Warning: List lengths differ - list1: 4, list2: 1
Repeating single DF2 4 times to match DF1 list
🔗 MERGE CONFIGURATION:
   📊 Input pairs: 4
   🎯 Merge column: 'ja_kodas'
   🔄 Merge type: left
   📝 Suffixes: None
   ✅ Validate: None
   📈 Indicator: None
   🔄 Duplicate handling: None
   🚫 NaN handling: None
   🔧 Dtype conversion: auto

--- Pair 0 Merge Diagnostics ---
DF1: 132531 rows, 132531 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 131779
Merge type: left
Expected result rows: 132531
Actual result rows: 132531
Pair 0: Successfully merged. Shapes: (132531, 23) + (222198, 3) -> (132531, 25)

--- Pair 1 Merge Diagnostics ---
DF1: 130384 rows, 130384 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 129715
Merge type: left
Expected result rows: 130384
Actual result rows: 130384
Pair 1: Successfully merged. Shapes: (130384, 23) + (222198, 3) -> (130384, 25)

--- Pair 2 Merge Diagnostics ---
DF1: 144336 rows, 144336 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 143520
Merge type: left
Expected result rows: 144336
Actual result rows: 144336
Pair 2: Successfully merged. Shapes: (144336, 23) + (222198, 3) -> (144336, 25)

--- Pair 3 Merge Diagnostics ---
DF1: 142174 rows, 142174 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 141443
Merge type: left
Expected result rows: 142174
Actual result rows: 142174
Pair 3: Successfully merged. Shapes: (142174, 23) + (222198, 3) -> (142174, 25)

=== MERGE SUMMARY ===
✅ Successful merges: 4/4
📊 Total output DataFrames: 4
Warning: List lengths differ - list1: 4, list2: 1
Repeating single DF2 4 times to match DF1 list
🔗 MERGE CONFIGURATION:
   📊 Input pairs: 4
   🎯 Merge column: 'ja_kodas'
   🔄 Merge type: left
   📝 Suffixes: None
   ✅ Validate: None
   📈 Indicator: None
   🔄 Duplicate handling: None
   🚫 NaN handling: None
   🔧 Dtype conversion: auto

--- Pair 0 Merge Diagnostics ---
DF1: 126352 rows, 126352 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 124265
Merge type: left
Expected result rows: 126352
Actual result rows: 126352
Pair 0: Successfully merged. Shapes: (126352, 23) + (222198, 3) -> (126352, 25)

--- Pair 1 Merge Diagnostics ---
DF1: 124484 rows, 124484 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 122538
Merge type: left
Expected result rows: 124484
Actual result rows: 124484
Pair 1: Successfully merged. Shapes: (124484, 23) + (222198, 3) -> (124484, 25)

--- Pair 2 Merge Diagnostics ---
DF1: 138564 rows, 138564 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 136292
Merge type: left
Expected result rows: 138564
Actual result rows: 138564
Pair 2: Successfully merged. Shapes: (138564, 23) + (222198, 3) -> (138564, 25)

--- Pair 3 Merge Diagnostics ---
DF1: 136680 rows, 136680 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 134556
Merge type: left
Expected result rows: 136680
Actual result rows: 136680
Pair 3: Successfully merged. Shapes: (136680, 23) + (222198, 3) -> (136680, 25)

=== MERGE SUMMARY ===
✅ Successful merges: 4/4
📊 Total output DataFrames: 4
Warning: List lengths differ - list1: 4, list2: 1
Repeating single DF2 4 times to match DF1 list
🔗 MERGE CONFIGURATION:
   📊 Input pairs: 4
   🎯 Merge column: 'ja_kodas'
   🔄 Merge type: left
   📝 Suffixes: None
   ✅ Validate: None
   📈 Indicator: None
   🔄 Duplicate handling: None
   🚫 NaN handling: None
   🔧 Dtype conversion: auto

--- Pair 0 Merge Diagnostics ---
DF1: 125097 rows, 125097 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 121279
Merge type: left
Expected result rows: 125097
Actual result rows: 125097
Pair 0: Successfully merged. Shapes: (125097, 23) + (222198, 3) -> (125097, 25)

--- Pair 1 Merge Diagnostics ---
DF1: 105929 rows, 105929 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 102680
Merge type: left
Expected result rows: 105929
Actual result rows: 105929
Pair 1: Successfully merged. Shapes: (105929, 23) + (222198, 3) -> (105929, 25)

--- Pair 2 Merge Diagnostics ---
DF1: 136578 rows, 136578 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 132372
Merge type: left
Expected result rows: 136578
Actual result rows: 136578
Pair 2: Successfully merged. Shapes: (136578, 23) + (222198, 3) -> (136578, 25)

--- Pair 3 Merge Diagnostics ---
DF1: 115651 rows, 115651 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 112071
Merge type: left
Expected result rows: 115651
Actual result rows: 115651
Pair 3: Successfully merged. Shapes: (115651, 23) + (222198, 3) -> (115651, 25)

=== MERGE SUMMARY ===
✅ Successful merges: 4/4
📊 Total output DataFrames: 4
Warning: List lengths differ - list1: 4, list2: 1
Repeating single DF2 4 times to match DF1 list
🔗 MERGE CONFIGURATION:
   📊 Input pairs: 4
   🎯 Merge column: 'ja_kodas'
   🔄 Merge type: left
   📝 Suffixes: None
   ✅ Validate: None
   📈 Indicator: None
   🔄 Duplicate handling: None
   🚫 NaN handling: None
   🔧 Dtype conversion: auto

--- Pair 0 Merge Diagnostics ---
DF1: 106007 rows, 106007 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 101351
Merge type: left
Expected result rows: 106007
Actual result rows: 106007
Pair 0: Successfully merged. Shapes: (106007, 23) + (222198, 3) -> (106007, 25)

--- Pair 1 Merge Diagnostics ---
DF1: 95135 rows, 95135 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 90978
Merge type: left
Expected result rows: 95135
Actual result rows: 95135
Pair 1: Successfully merged. Shapes: (95135, 23) + (222198, 3) -> (95135, 25)

--- Pair 2 Merge Diagnostics ---
DF1: 116768 rows, 116768 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 111618
Merge type: left
Expected result rows: 116768
Actual result rows: 116768
Pair 2: Successfully merged. Shapes: (116768, 23) + (222198, 3) -> (116768, 25)

--- Pair 3 Merge Diagnostics ---
DF1: 105324 rows, 105324 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 100690
Merge type: left
Expected result rows: 105324
Actual result rows: 105324
Pair 3: Successfully merged. Shapes: (105324, 23) + (222198, 3) -> (105324, 25)

=== MERGE SUMMARY ===
✅ Successful merges: 4/4
📊 Total output DataFrames: 4
Warning: List lengths differ - list1: 4, list2: 1
Repeating single DF2 4 times to match DF1 list
🔗 MERGE CONFIGURATION:
   📊 Input pairs: 4
   🎯 Merge column: 'ja_kodas'
   🔄 Merge type: left
   📝 Suffixes: None
   ✅ Validate: None
   📈 Indicator: None
   🔄 Duplicate handling: None
   🚫 NaN handling: None
   🔧 Dtype conversion: auto

--- Pair 0 Merge Diagnostics ---
DF1: 94514 rows, 94514 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 87504
Merge type: left
Expected result rows: 94514
Actual result rows: 94514
Pair 0: Successfully merged. Shapes: (94514, 23) + (222198, 3) -> (94514, 25)

--- Pair 1 Merge Diagnostics ---
DF1: 86395 rows, 86395 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 79902
Merge type: left
Expected result rows: 86395
Actual result rows: 86395
Pair 1: Successfully merged. Shapes: (86395, 23) + (222198, 3) -> (86395, 25)

--- Pair 2 Merge Diagnostics ---
DF1: 103744 rows, 103744 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 95835
Merge type: left
Expected result rows: 103744
Actual result rows: 103744
Pair 2: Successfully merged. Shapes: (103744, 23) + (222198, 3) -> (103744, 25)

--- Pair 3 Merge Diagnostics ---
DF1: 95060 rows, 95060 unique ja_kodas
DF2: 222198 rows, 222198 unique ja_kodas
Common ja_kodas: 87801
Merge type: left
Expected result rows: 95060
Actual result rows: 95060
Pair 3: Successfully merged. Shapes: (95060, 23) + (222198, 3) -> (95060, 25)

=== MERGE SUMMARY ===
✅ Successful merges: 4/4
📊 Total output DataFrames: 4

## Rearranging columns of dataframes with change variables

In [16]:

# Rearranging columns
# List all columns
FFAJKA_with_address[0].columns

patterns = {
    'identifier': ['ja_kodas', 'ja_pavadinimas','stat_kodas', 'form_kodas', 'Ekonominės veiklos kodas', 'Ekonominės veiklos pavadinimas'],
    'company_info': ['Apskritis', 'adresas', 'Savivaldybė'],
    'employment': ['Vidutinis atlyginimas (EUR)', 'Darbuotojų skaičius'],
    'dates': ['beginning_date', 'turning_date', 'reg_date', 'VĖLUOJANČIOS ATASKAITOS'],
    'assets': ['ILGALAIKIS TURTAS', 'TRUMPALAIKIS TURTAS', 'TURTAS', 'TURTO POKYTIS (%)'],
    'financial_liabilities': ['MOKĖTINOS SUMOS IR KITI ĮSIPAREIGOJIMAI', 'NUOSAVAS KAPITALAS'],
    'income': ['PARDAVIMO PAJAMOS', 'PARDAVIMŲ POKYTIS (%)'],
    'profitability': ['GRYNASIS PELNAS (NUOSTOLIAI)' , 'GRYNOJO PELNO POKYTIS (%)', 'PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ', 'GRYNOJO PELNO MARŽA', 'ROA'],
    'ratios': ['TURTO APYVARTUMAS', 'SVERTINIS MOKUMO PAKAITALAS']
}

order = ['identifier', 'company_info', 'employment', 'dates', 'assets', 'financial_liabilities', 'income', 'profitability', 'ratios']

Y2025_final_rearranged = rearrange_columns_smart(
    Y2025with_change,
    patterns=patterns,
    priority_cols=['ja_kodas', 'ja_pavadinimas'],  # Put these first within identifier group
    group_order=order,
)

Y2024_final_rearranged = rearrange_columns_smart(
    Y2024with_change,
    patterns=patterns,
    priority_cols=['ja_kodas', 'ja_pavadinimas'],  # Put these first within identifier group
    group_order=order,
)

Y2023_final_rearranged = rearrange_columns_smart(
    Y2023with_change,
    patterns=patterns,
    priority_cols=['ja_kodas', 'ja_pavadinimas'],  # Put these first within identifier group
    group_order=order,
)

Y2022_final_rearranged = rearrange_columns_smart(
    Y2022with_change,
    patterns=patterns,
    priority_cols=['ja_kodas', 'ja_pavadinimas'],  # Put these first within identifier group
    group_order=order,
)

Y2021_final_rearranged = rearrange_columns_smart(
    Y2021with_change,
    patterns=patterns,
    priority_cols=['ja_kodas', 'ja_pavadinimas'],  # Put these first within identifier group
    group_order=order,
)

### Removing inf and -inf, rounding all number columns to 2 decimal places for dataframes with change variables

In [17]:
# 2025
remove_inf_values(Y2025_final_rearranged)
round_dataframe_values(Y2025_final_rearranged)

# 2024

remove_inf_values(Y2024_final_rearranged)
round_dataframe_values(Y2024_final_rearranged)

# 2023

remove_inf_values(Y2023_final_rearranged)
round_dataframe_values(Y2023_final_rearranged)

# 2022

remove_inf_values(Y2022_final_rearranged)
round_dataframe_values(Y2022_final_rearranged)

# 2021

remove_inf_values(Y2021_final_rearranged)
round_dataframe_values(Y2021_final_rearranged)

[        ja_kodas                           ja_pavadinimas  stat_kodas  \
 0      110003978  Uždaroji akcinė bendrovė "Lietkompexim"           0
 1      110004884        Uždaroji akcinė bendrovė "VILLON"           0
 2      110005648             UAB "Informacinės paslaugos"           0
 3      110006892       Uždaroji akcinė bendrovė "Londvil"           0
 4      110008377   Uždaroji akcinė bendrovė "KOMPONENTAS"           0
 ...          ...                                      ...         ...
 94509  305410401            MB "Inovatyvūs IT sprendimai"           0
 94510  305410910                         UAB "Logas line"           0
 94511  305410935                           UAB "AMD Auto"           0
 94512  305410967           UAB Sveikos gyvensenos centras           0
 94513  305410974                               MB "Hisis"           0

        form_kodas beginning_date turning_date    reg_date  \
 0             310     2020-01-01   2020-12-31  2021-06-15
 1             310     2020-01-01   2020-12-31  2021-05-10
 2             310     2020-01-01   2020-12-31  2021-04-29
 3             310     2020-01-01   2020-12-31  2021-12-17
 4             310     2020-01-01   2020-12-31  2021-05-27
 ...           ...            ...          ...         ...
 94509         960     2020-01-01   2020-12-31  2021-03-22
 94510         310     2020-01-01   2020-12-31  2021-03-31
 94511         310     2020-01-01   2020-12-31  2021-06-14
 94512         310     2020-01-01   2020-12-31  2021-08-23
 94513         960     2020-01-01   2020-12-31  2021-04-07

        VĖLUOJANČIOS ATASKAITOS  ILGALAIKIS TURTAS  TRUMPALAIKIS TURTAS  ...  \
 0                         True           356897.0            1421293.0  ...
 1                         True         39827601.0             457092.0  ...
 2                        False            53300.0            1262390.0  ...
 3                         True           172775.0              36828.0  ...
 4                         True           665165.0             763773.0  ...
 ...                        ...                ...                  ...  ...
 94509                    False              980.0                458.0  ...
 94510                    False                0.0             401719.0  ...
 94511                     True                0.0              21110.0  ...
 94512                     True                0.0               2306.0  ...
 94513                    False                0.0               1934.0  ...

        NUOSAVAS KAPITALAS  PARDAVIMO PAJAMOS  PARDAVIMŲ POKYTIS (%)  \
 0               1755061.0            85522.0                 -38.19
 1               2779511.0          3111102.0                 -36.18
 2                662043.0          2657795.0                 -20.61
 3                186454.0           107640.0                 -19.80
 4                836345.0          2162155.0                 268.44
 ...                   ...                ...                    ...
 94509              1366.0            25273.0                    NaN
 94510             11236.0           652835.0                    NaN
 94511              3276.0           404840.0                    NaN
 94512             -1346.0              672.0                    NaN
 94513               734.0            13600.0                    NaN

        GRYNASIS PELNAS (NUOSTOLIAI)  GRYNOJO PELNO POKYTIS (%)  \
 0                           33153.0                     -90.86
 1                         -213676.0                     -68.91
 2                          -49808.0                    -608.61
 3                           16198.0                     -50.72
 4                          119110.0                      65.55
 ...                             ...                        ...
 94509                        1366.0                        NaN
 94510                        8736.0                        NaN
 94511                         776.0                        NaN
 94512                       -3846.0                        NaN
 94513                         724.0                        NaN

        PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ  GRYNOJO PELNO MARŽA (%)  \
 0                                      35040.0                    38.77
 1                                    -213676.0                    -6.87
 2                                     -49808.0                    -1.87
 3                                      17319.0                    15.05
 4                                     142893.0                     5.51
 ...                                        ...                      ...
 94509                                   1438.0                     5.40
 94510                                  10320.0                     1.34
 94511                                      NaN                     0.19
 94512                                      NaN                  -572.32
 94513                                    829.0                     5.32

        ROA (%)  TURTO APYVARTUMAS (santykis)  \
 0         1.86                         20.79
 1        -0.53                         12.95
 2        -3.79                          0.50
 3         7.73                          1.95
 4         8.34                          0.66
 ...        ...                           ...
 94509    94.99                          0.06
 94510     2.17                          0.62
 94511     3.68                          0.05
 94512  -166.78                          3.43
 94513    37.44                          0.14

        SVERTINIS MOKUMO PAKAITALAS (santykis)
 0                                        0.01
 1                                        0.93
 2                                        0.54
 3                                        0.11
 4                                        0.41
 ...                                       ...
 94509                                     NaN
 94510                                    0.97
 94511                                    0.84
 94512                                    1.58
 94513                                     NaN

 [94514 rows x 23 columns],
         ja_kodas                                     ja_pavadinimas  \
 0      304143397  UAB "Informacinių sistemų ir technologijų proj...
 1      269221540                                    UAB "Meistrema"
 2      302311572                                  UAB "Max Service"
 3      304461229                            UAB "Stambus projektas"
 4      132011828                   Uždaroji akcinė bendrovė "Ignis"
 ...          ...                                                ...
 86390  303349241                                     UAB "Nataulis"
 86391  304552853                                    MB "Motokultas"
 86392  304328353                              MB "Laikas apskaitai"
 86393  303997989                                       UAB "Ervita"
 86394  305016303                                         MB "Pojis"

        stat_kodas  form_kodas beginning_date turning_date    reg_date  \
 0               0         310     2020-01-01   2020-12-31  2021-12-31
 1               0         310     2020-01-01   2020-12-31  2021-12-31
 2               0         310     2020-01-01   2020-12-31  2021-12-31
 3               0         310     2020-01-01   2020-12-31  2021-12-31
 4               0         310     2020-01-01   2020-12-31  2021-12-31
 ...           ...         ...            ...          ...         ...
 86390           0         310     2020-01-01   2020-12-31  2021-01-02
 86391           0         960     2020-01-01   2020-12-31  2021-01-01
 86392           0         960     2020-01-01   2020-12-31  2021-01-01
 86393           0         310     2020-01-01   2020-12-31  2021-01-01
 86394           0         960     2020-01-01   2020-12-31  2021-01-01

        VĖLUOJANČIOS ATASKAITOS  ILGALAIKIS TURTAS  TRUMPALAIKIS TURTAS  ...  \
 0                         True             4282.0             139202.0  ...
 1                         True             1286.0             117597.0  ...
 2                         True             1486.0              30831.0  ...
 3                         True           302065.0             402468.0  ...
 4                         True               92.0                359.0  ...
 ...                        ...                ...                  ...  ...
 86390                    False                0.0               1645.0  ...
 86391                    False             8665.0               9809.0  ...
 86392                    False                0.0              20792.0  ...
 86393                    False                0.0                  0.0  ...
 86394                    False                0.0                437.0  ...

        NUOSAVAS KAPITALAS  PARDAVIMO PAJAMOS  PARDAVIMŲ POKYTIS (%)  \
 0                131280.0            71618.0                  43.09
 1                 73746.0           320048.0                   5.53
 2                 21650.0            22369.0                   0.17
 3                194062.0          1793988.0                    NaN
 4                -17818.0            48533.0                 -17.84
 ...                   ...                ...                    ...
 86390              1645.0                0.0                -100.00
 86391             13447.0            16980.0                  68.99
 86392             20235.0            24221.0                  42.96
 86393              2500.0                NaN                    NaN
 86394               437.0                NaN                    NaN

        GRYNASIS PELNAS (NUOSTOLIAI)  GRYNOJO PELNO POKYTIS (%)  \
 0                           40985.0                      25.05
 1                           50879.0                      15.68
 2                           11286.0                    -824.86
 3                         -129262.0                        NaN
 4                             641.0                    -167.40
 ...                             ...                        ...
 86390                           0.0                    -100.00
 86391                        4147.0                    -822.47
 86392                       10574.0                      31.19
 86393                        -143.0                      16.26
 86394                        6003.0                        NaN

        PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ  GRYNOJO PELNO MARŽA (%)  \
 0                                          NaN                    57.23
 1                                      59988.0                    15.90
 2                                      11754.0                    50.45
 3                                    -129262.0                    -7.21
 4                                        651.0                     1.32
 ...                                        ...                      ...
 86390                                      0.0                      NaN
 86391                                   4365.0                    24.42
 86392                                  11131.0                    43.66
 86393                                      NaN                      NaN
 86394                                      NaN                      NaN

        ROA (%)  TURTO APYVARTUMAS (santykis)  \
 0        28.56                          2.00
 1        42.80                          0.37
 2        34.92                          1.44
 3       -18.35                          0.39
 4       142.13                          0.01
 ...        ...                           ...
 86390     0.00                           NaN
 86391    22.45                          1.09
 86392    50.86                          0.86
 86393      NaN                           NaN
 86394  1373.68                           NaN

        SVERTINIS MOKUMO PAKAITALAS (santykis)
 0                                        0.09
 1                                        0.38
 2                                        0.13
 3                                        0.73
 4                                       40.51
 ...                                       ...
 86390                                    0.00
 86391                                     NaN
 86392                                     NaN
 86393                                     NaN
 86394                                    0.00

 [86395 rows x 23 columns],
          ja_kodas                           ja_pavadinimas  stat_kodas  \
 0       110003978  Uždaroji akcinė bendrovė "Lietkompexim"           0
 1       110004884        Uždaroji akcinė bendrovė "VILLON"           0
 2       110005648             UAB "Informacinės paslaugos"           0
 3       110006892       Uždaroji akcinė bendrovė "Londvil"           0
 4       110008377   Uždaroji akcinė bendrovė "KOMPONENTAS"           0
 ...           ...                                      ...         ...
 103739  305674575                 UAB Nemirsetos projektai           0
 103740  305674600                             MB "Go live"           0
 103741  305674618                         Inspekta Con UAB           0
 103742  305674625                              UAB Autozap           0
 103743  305674632                    UAB Miško investicija           0

         form_kodas beginning_date turning_date    reg_date  \
 0              310     2020-01-01   2020-12-31  2021-06-15
 1              310     2020-01-01   2020-12-31  2021-05-10
 2              310     2020-01-01   2020-12-31  2021-04-29
 3              310     2020-01-01   2020-12-31  2021-12-17
 4              310     2020-01-01   2020-12-31  2021-05-27
 ...            ...            ...          ...         ...
 103739         310     2020-12-31   2020-12-31  2021-07-28
 103740         960     2020-12-31   2020-12-31  2021-02-05
 103741         310     2020-12-31   2020-12-31  2021-03-17
 103742         310     2020-12-31   2020-12-31  2021-05-31
 103743         310     2020-12-31   2020-12-31  2021-09-01

         VĖLUOJANČIOS ATASKAITOS  ILGALAIKIS TURTAS  TRUMPALAIKIS TURTAS  ...  \
 0                          True           356897.0            1421293.0  ...
 1                          True         39827601.0             457092.0  ...
 2                         False            53300.0            1262390.0  ...
 3                          True           172775.0              36828.0  ...
 4                          True           665165.0             763773.0  ...
 ...                         ...                ...                  ...  ...
 103739                     True                0.0               2500.0  ...
 103740                    False                0.0                  0.0  ...
 103741                    False                0.0               2500.0  ...
 103742                     True                0.0               2500.0  ...
 103743                     True                0.0               2501.0  ...

         NUOSAVAS KAPITALAS  PARDAVIMO PAJAMOS  PARDAVIMŲ POKYTIS (%)  \
 0                1755061.0            85522.0                 -38.19
 1                2779511.0          3111102.0                 -36.18
 2                 662043.0          2657795.0                 -20.61
 3                 186454.0           107640.0                 -19.80
 4                 836345.0          2162155.0                 268.44
 ...                    ...                ...                    ...
 103739              2500.0                NaN                    NaN
 103740                 0.0                0.0                    NaN
 103741              2500.0                NaN                    NaN
 103742              2500.0                0.0                    NaN
 103743              2500.0                NaN                    NaN

         GRYNASIS PELNAS (NUOSTOLIAI)  GRYNOJO PELNO POKYTIS (%)  \
 0                            33153.0                     -90.86
 1                          -213676.0                     -68.91
 2                           -49808.0                    -608.61
 3                            16198.0                     -50.72
 4                           119110.0                      65.55
 ...                              ...                        ...
 103739                           0.0                        NaN
 103740                           0.0                        NaN
 103741                           0.0                        NaN
 103742                           0.0                        NaN
 103743                           0.0                        NaN

         PELNAS (NUOSTOLIAI) PRIEŠ APMOKESTINIMĄ  GRYNOJO PELNO MARŽA (%)  \
 0                                       35040.0                    38.77
 1                                     -213676.0                    -6.87
 2                                      -49808.0                    -1.87
 3                                       17319.0                    15.05
 4                                      142893.0                     5.51
 ...                                         ...                      ...
 103739                                      0.0                      NaN
 103740                                      0.0                      NaN
 103741                                      NaN                      NaN
 103742                                      NaN                      NaN
 103743                                      0.0                      NaN

         ROA (%)  TURTO APYVARTUMAS (santykis)  \
 0          1.86                         20.79
 1         -0.53                         12.95
 2         -3.79                          0.50
 3          7.73                          1.95
 4          8.34                          0.66
 ...         ...                           ...
 103739     0.00                           NaN
 103740      NaN                           NaN
 103741     0.00                           NaN
 103742     0.00                           NaN
 103743     0.00                           NaN

         SVERTINIS MOKUMO PAKAITALAS (santykis)
 0                                         0.01
 1                                         0.93
 2                                         0.54
 3                                         0.11
 4                                         0.41
 ...                                        ...
 103739                                    0.00
 103740                                     NaN
 103741                                    0.00
 103742                                    0.00
 103743                                    0.00

 [103744 rows x 23 columns],
         ja_kodas                          ja_pavadinimas  stat_kodas  \
 0      121929952  Uždaroji akcinė bendrovė "MEDIOKRITAS"           0
 1      300627696                            UAB "Ranera"           0
 2      304461229                 UAB "Stambus projektas"           0
 3      301819062                          UAB "PIANO LT"           0
 4      302619335                            UAB "ENESTO"           0
 ...          ...                                     ...         ...
 95055  303997989                            UAB "Ervita"           0
 95056  305604413                        MB "Švari erdvė"           0
 95057  304552853                         MB "Motokultas"           0
 95058  304328353                   MB "Laikas apskaitai"           0
 95059  305016303                              MB "Pojis"           0

        form_kodas beginning_date turning_date    reg_date  \
 0             310     2020-01-01   2020-12-31  2021-12-31
 1             310     2020-01-01   2020-12-31  2021-12-31
 2             310     2020-01-01   2020-12-31  2021-12-31
 3             310     2020-01-01   2020-12-31  2021-12-31
 4             310     2020-01-01   2020-12-31  2021-12-31
 ...           ...            ...          ...         ...
 95055         310     2020-01-01   2020-12-31  2021-01-01
 95056         960     2020-08-14   2020-12-31  2021-01-01

### Saving dataframes with change variables to csv files

In [19]:
# 2025

## FFAJKA

Full_Financial_Year_All_ja_kodas_with_change_2025 = Y2025_final_rearranged[0]
Full_Financial_Year_All_ja_kodas_with_change_2024 = Y2024_final_rearranged[0]
Full_Financial_Year_All_ja_kodas_with_change_2023 = Y2023_final_rearranged[0]
Full_Financial_Year_All_ja_kodas_with_change_2022 = Y2022_final_rearranged[0]
Full_Financial_Year_All_ja_kodas_with_change_2021 = Y2021_final_rearranged[0]

FFAJKA_YoY = [Full_Financial_Year_All_ja_kodas_with_change_2025, Full_Financial_Year_All_ja_kodas_with_change_2024, Full_Financial_Year_All_ja_kodas_with_change_2023, Full_Financial_Year_All_ja_kodas_with_change_2022, Full_Financial_Year_All_ja_kodas_with_change_2021]

save_df_list_to_csv_auto(FFAJKA_YoY, '../../data/processed/Financial-tables/YoY-change/Full-financial-year/All-ja_kodas')


## FFAJKM

Full_Financial_Year_All_matching_ja_kodas_with_change_2025 = Y2025_final_rearranged[1]
Full_Financial_Year_All_matching_ja_kodas_with_change_2024 = Y2024_final_rearranged[1]
Full_Financial_Year_All_matching_ja_kodas_with_change_2023 = Y2023_final_rearranged[1]
Full_Financial_Year_All_matching_ja_kodas_with_change_2022 = Y2022_final_rearranged[1]
Full_Financial_Year_All_matching_ja_kodas_with_change_2021 = Y2021_final_rearranged[1]

FFAJKM_YoY = [Full_Financial_Year_All_matching_ja_kodas_with_change_2025, Full_Financial_Year_All_matching_ja_kodas_with_change_2024, Full_Financial_Year_All_matching_ja_kodas_with_change_2023, Full_Financial_Year_All_matching_ja_kodas_with_change_2022, Full_Financial_Year_All_matching_ja_kodas_with_change_2021]

save_df_list_to_csv_auto(FFAJKM_YoY, '../../data/processed/Financial-tables/YoY-change/Full-financial-year/Matching_ja_kodas')

## NFAJKA

With_new_firms_All_ja_kodas_with_change_2025 = Y2025_final_rearranged[2]
With_new_firms_All_ja_kodas_with_change_2024 = Y2024_final_rearranged[2]
With_new_firms_All_ja_kodas_with_change_2023 = Y2023_final_rearranged[2]
With_new_firms_All_ja_kodas_with_change_2022 = Y2022_final_rearranged[2]
With_new_firms_All_ja_kodas_with_change_2021 = Y2021_final_rearranged[2]

NFAJKA_YoY = [With_new_firms_All_ja_kodas_with_change_2025, With_new_firms_All_ja_kodas_with_change_2024, With_new_firms_All_ja_kodas_with_change_2023, With_new_firms_All_ja_kodas_with_change_2022, With_new_firms_All_ja_kodas_with_change_2021]

save_df_list_to_csv_auto(NFAJKA_YoY, '../../data/processed/Financial-tables/YoY-change/With-new-firms/All-ja_kodas')

## NFAJKM

With_new_firms_Matching_ja_kodas_with_change_2025 = Y2025_final_rearranged[3]
With_new_firms_Matching_ja_kodas_with_change_2024 = Y2024_final_rearranged[3]
With_new_firms_Matching_ja_kodas_with_change_2023 = Y2023_final_rearranged[3]
With_new_firms_Matching_ja_kodas_with_change_2022 = Y2022_final_rearranged[3]
With_new_firms_Matching_ja_kodas_with_change_2021 = Y2021_final_rearranged[3]

NFAJKM_YoY = [With_new_firms_Matching_ja_kodas_with_change_2025, With_new_firms_Matching_ja_kodas_with_change_2024, With_new_firms_Matching_ja_kodas_with_change_2023, With_new_firms_Matching_ja_kodas_with_change_2022, With_new_firms_Matching_ja_kodas_with_change_2021]

save_df_list_to_csv_auto(NFAJKM_YoY, '../../data/processed/Financial-tables/YoY-change/With-new-firms/Matching_ja_kodas')

/home/aidmantas/miniforge3/envs/risk-model-env/lib/python3.14/site-packages/IPython/core/interactiveshell.py:3115: SyntaxWarning: 'return' in a 'finally' block
  return result

KeyboardInterrupt:

In [20]:
# bespoke 2025 export to xlsx

Full_Financial_Year_All_matching_ja_kodas_with_change_2025.to_excel('../../data/processed/Financial-tables/YoY-change/Full-financial-year/Full_Financial_Year_All_matching_ja_kodas_with_change_2025.xlsx', engine='openpyxl')